<li class="expense_list_item">

  <div id="<%= node.id %>" class="node_link">
    <a class="tree_symbol">-</a>
    [ <%= node.name %> ]
    <input type="checkbox" name="node_id[<%= node.id %>]" value="true">
    <a class="forecasting_link"> none </a>
    <input type="hidden" class="forecasting_method" name="forecasting_method[<%= node.id %>]" value="none">
  </div>


  <% if node.has_children? %>
      <ul>
        <% node.children.each do |child_node|%>
            <li class="expense_list_item" id="<%= child_node.id %>">
              <div id="<%= child_node.id %>" class="node_link">
                <%= "<a class='tree_symbol'>-</a>" if child_node.has_children? %>
                [ <%= child_node.name %> ]
                <input type="checkbox" name="node_id[<%= child_node.id %>]" value="true">
                <a class="forecasting_link"> none </a>
                <input type="hidden" class="forecasting_method" name="forecasting_method[<%= child_node.id %>]" value="none">
              </div>
              <%= display_children(child_node) if child_node.has_children? %>
            </li>
        <% end %>
      </ul>
  <% end %>
</li>
