<section class="large-10 columns">
  <%= generic_title("Expenses", "Economic costs that a business incurs through its operations to earn revenue.") %>

    <form method="POST" action="">
    <div class="large-4 columns" >

      <div id="expense_list">
        <ul>
          <% ExpenseCategory.roots.each do |node| %>
              <%= display_children(node) %>
          <% end %>
        </ul>
      </div>

      <hr style="visibility: hidden">

        <div class="form-block">
          <div class="form_label"> Start Period </div>
          <input required="required" type="datetime-local" name="start_period" value="<%= format_datetime_default_value(DateTime.now) %>">
        </div>

        <div class="form-block">
          <div class="form_label"> End Period </div>
          <input required="required" type="datetime-local" name="end_period" value="<%= format_datetime_default_value(DateTime.now - 1.year) %>">
        </div>

        <div class="form-block">
          <div class="form_label"> Interval </div>
          <select id="expense_list_interval">
            <option value="second">SECOND</option>
            <option value="minute">MINUTE</option>
            <option value="hour">HOUR</option>
            <option value="day">DAY</option>
            <option value="week">WEEK</option>
            <option value="month" selected>MONTH</option>
            <option value="year">YEAR</option>
          </select>
        </div>

        <button class="tiny button" type="submit">Graph Expenses</button>
    </div>

    <div class="large-8 columns">
      <svg id="expense_line_chart">
      </svg>
    </div>

    </form>

  <%= render :template => 'common_partials/generic_index/_wizard_buttons' %>
  <%= render :template => 'common_partials/generic_index/_overview_panels' %>
</section>

<%=

    results = get_expense_entries(Time.now - 10.years, Time.now, ExpenseCategory.find_by_name('Telephone').id )
    results.each do |result|
      result.amount
    end

%>

<script>
    $( document ).ready(function() {

        // Selectize
        $('#expense_list_interval').selectize({
            sortField: 'text'
        });

        //Tree Functionality
        $('.tree_symbol').click(function(){
            $(this).parent().siblings('ul').toggle(
                    function(){ alert("sherwin1") },
                    function(){ alert("sherwin2") }
            );
        });



    });
</script>