<section class="large-10 columns">
    <%= generic_title("Expenses", "Economic costs that a business incurs through its operations to earn revenue.") %>
    <%= simple_form_for accounting_and_finance_expenses_path, :html => {:method => 'GET'} do |f| %>

    <div class="form-block" style="float:left; padding: 5px;">
        <div class="form_label"> Start Period </div>
        <input required="required" type="datetime-local" name="start_period" value="<%= params[:start_period] ||= format_datetime_default_value(DateTime.now - 3.year) %>">
    </div>

    <div class="form-block" style="float:left; padding: 5px;">
        <div class="form_label"> End Period </div>
        <input required="required" style="float:left;" type="datetime-local" name="end_period" value="<%= params[:end_period] ||= format_datetime_default_value(DateTime.now) %>">
    </div>

    <div class="form-block" style="float:left; padding: 5px;">
      <%=
          f.input :expense_list_interval,
                  :label => "Interval",
                  label_html: { class: 'form_label' },
                  collection: ['Second','Minute','Hour','Day','Month','Year'],
                  prompt: "Select Interval",
                  selected: ( params.has_key?("/accounting_and_finance/expenses") ? params["/accounting_and_finance/expenses"][:expense_list_interval] : 'Day')
      %>
    </div>

    <div class="form-block" style="float:left; padding: 10px;">
      <br>
      <input class="tiny button" type="submit" value="Graph Expenses"/>
    </div>

    <hr>

    <div class="large-3 columns" >
      <div id="expense_list">
        <ul>
          <% ExpenseCategory.roots.each do |node| %>
              <%= display_children(node) %>
          <% end %>
        </ul>
        <hr style="visibility: hidden;">
      </div>
    </div>

    <div class="large-9 columns" id="expense_line_chart">
    </div>

  <% end %>

  <%= render :template => 'common_partials/generic_index/_wizard_buttons' %>
  <%= render :template => 'common_partials/generic_index/_overview_panels' %>
</section>

<!-- Main Expense Array -->
<%
   main_expenses = Array.new()

   # time array
   time_array = Array.new()
   time_array.push('x')
   current_time = Time.parse(params[:start_period])
   until current_time > Time.parse(params[:end_period])
     time_array.push( current_time.strftime(@interval_format) )
     current_time += @interval
   end
   main_expenses.push(time_array)

   if params.has_key?(:node_id)
     params[:node_id].each do |category_key, show_value|
       unless show_value == 'none'
         # category array
         category_array = Array.new()
         category_array.push( ExpenseCategory.find(category_key).name )
         current_time = Time.parse(params[:start_period])
         until current_time > Time.parse(params[:end_period])
           total = 0
           entries = get_expense_entries(current_time,(current_time+@interval),category_key)
           unless entries == nil
             entries.each do |entry|
               total += entry.amount.to_f
             end
           end
           category_array.push(total)
           current_time += @interval
         end
         main_expenses.push(category_array)
       end
     end
   end
%>

<hr>
<%= main_expenses.inspect %>

<script>
    $( document ).ready(function() {

        // Selectize
        $('#expense_list_interval').selectize({
            sortField: 'text'
        });

        //Tree Functionality
        $('.tree_symbol').click(function() {
            $(this).parent().siblings('ul').toggle();
            if ($(this).html() == '-')
            { $(this).html('+')}
            else
            { $(this).html('-')}
        });

        //C3 Graph
        var chart = c3.generate({
            bindto: '#expense_line_chart',
            size: {
                height: 500,
                width: 800
            },
            data:
            {
                x:'x',
                xFormat: '<%= @interval_format %>',
                columns:
                [
                        <% main_expenses.each do |expense| %>
                        [
                            <% expense.each do |entry| %>
                                '<%= entry %>',
                            <% end %>
                        ],
                        <% end %>
                ]
            },
            axis: {
                x: {
                    type: 'timeseries',
                    tick: {
                        format: '<%= @interval_format %>'
                    }
                }
            }
        });

        //Prediction Functionality
        $('.forecasting_link').click(function() {
            current_prediction = $(this).html();
            switch( current_prediction )
            {
                case 'none':
                    $(this).html('regular');
                    $(this).siblings('.node_id').val('regular');
                    break;
                case 'regular':
                    $(this).html('3PMV');
                    $(this).siblings('.node_id').val('3PMV');
                    break;
                default:
                    $(this).html('none');
                    $(this).siblings('.node_id').val('none');
            }
        });

    });
</script>