<section class="large-10 columns">
  <%= generic_title("Expenses", "Economic costs that a business incurs through its operations to earn revenue.") %>

    <form method="GET" action="<%= accounting_and_finance_expenses_process_form_path %>">
    <div class="large-4 columns" >

      <div id="expense_list">
        <ul>
          <% ExpenseCategory.roots.each do |node| %>
              <%= display_children(node) %>
          <% end %>
        </ul>

        <div class="forecasting_legend_indicator">
          Legend : Prediction Used
        </div>

      </div>

      <hr style="visibility: hidden">

        <div class="form-block">
          <div class="form_label"> Start Period </div>
          <input required="required" type="datetime-local" name="start_period" value="<%= format_datetime_default_value(DateTime.now) %>">
        </div>

        <div class="form-block">
          <div class="form_label"> End Period </div>
          <input required="required" type="datetime-local" name="end_period" value="<%= format_datetime_default_value(DateTime.now - 1.year) %>">
        </div>

        <div class="form-block">
          <div class="form_label"> Interval </div>
          <select name="expense_list_interval">
            <option value="second">SECOND</option>
            <option value="minute">MINUTE</option>
            <option value="hour">HOUR</option>
            <option value="day">DAY</option>
            <option value="week">WEEK</option>
            <option value="month" selected>MONTH</option>
            <option value="year">YEAR</option>
          </select>
        </div>

        <input class="tiny button" type="submit" value="Graph Expenses" />
    </div>

    <div class="large-8 columns">
      <svg id="expense_line_chart">
      </svg>
    </div>

    </form>

  <%= render :template => 'common_partials/generic_index/_wizard_buttons' %>
  <%= render :template => 'common_partials/generic_index/_overview_panels' %>
</section>

<%=

    results = get_expense_entries(Time.now - 10.years, Time.now, ExpenseCategory.find_by_name('Telephone').id )
    results.each do |result|
      result.amount
    end

%>

<script>
    $( document ).ready(function() {

        // Selectize
        $('#expense_list_interval').selectize({
            sortField: 'text'
        });

        //Tree Functionality
        $('.tree_symbol').click(function() {
            $(this).parent().siblings('ul').toggle();
            if ($(this).html() == '-')
            { $(this).html('+')}
            else
            { $(this).html('-')}
        });

        //C3 Graph
        var chart = c3.generate({
            bindto: '#expense_line_chart',
            data: {
                columns: [
                    ['data1', 30, 200, 100, 400, 150, 250],
                    ['data2', 50, 20, 10, 40, 15, 25]
                ],
                axes: {
                    data2: 'y2' // ADD
                }
            },
            axis: {
                y2: {
                    show: true // ADD
                }
            }
        });

        //Prediction Functionality
        $('.forecasting_link').click(function() {
            current_prediction = $(this).html();
            switch( current_prediction )
            {
                case 'none':
                    $(this).html('3-Point Moving Average');
                    $(this).siblings('.forecasting_method').val('three_point_moving_average');
                    break;
                default:
                    $(this).html('none');
                    $(this).siblings('.forecasting_method').val('none');
            }
        });




    });
</script>