<section class='small-10 columns'>
  <%= generic_title('Base Rates','Rates for an Employee through a Period in Time') %>
  <%= generic_index_search %>
  <% table_orientation = shift_table_orientation %>
  <% begin %>
      <table class='generic_index' id='lump_adjustments_table'>
        <thead>
        <tr>
          <th>
            Base Rates ID
            <%= generic_index_theadlink('base_rates.id', table_orientation) %>
          </th>
          <th>
            Employee
            <%= generic_index_theadlink('actors.name', table_orientation) %>
          </th>
          <th>
            Signed Type
            <%= generic_index_theadlink('base_rates.signed_type', table_orientation) %>
          </th>
          <th>
            Type
            <%= generic_index_theadlink('base_rates.rate_type', table_orientation) %>
          </th>
          <th>
            Amount
            <%= generic_index_theadlink('base_rates.amount', table_orientation) %>
          </th>
          <th>
            Period of Time
            <%= generic_index_theadlink('base_rates.period_of_time', table_orientation) %>
          </th>
          <th>
            Remark
            <%= generic_index_theadlink('base_rates.remark', table_orientation) %>
          </th>
          <th>
            Start of Effectivity
            <%= generic_index_theadlink('base_rates.start_of_effectivity', table_orientation) %>
          </th>
          <th>
            End of Effectivity
            <%= generic_index_theadlink('base_rates.end_of_effectivity', table_orientation) %>
          </th>
          <th>
            Date Created
            <%= generic_index_theadlink('base_rates.created_at', table_orientation) %>
          </th>
          <th>
            Last Updated
            <%= generic_index_theadlink('base_rates.updated_at', table_orientation) %>
          </th>
          <th class="actions" align="center">&nbsp;</th>
        </tr>
        </thead>
        <% if @base_rates.empty? == true %>
            <% raise "No Records Found" %>
        <% else %>
            <tbody>
            <% @base_rates.each do |base_rate| %>
                <tr>
                  <td><%= base_rate[:id].upcase %></td>
                  <td>
                    <%= generic_employee_profile_link(base_rate) %>
                  </td>
                  <td>
                    <%=
                        if(base_rate[:signed_type])
                          "ADDITIVE"
                        else
                          "DEDUCTIVE"
                        end
                    %>
                  </td>
                  <td><%= base_rate[:rate_type] %> </td>
                  <td><%= base_rate[:amount] %> </td>
                  <td><%= base_rate[:period_of_time] %> </td>
                  <td><%= base_rate[:remark] %> </td>
                  <td><%= base_rate[:start_of_effectivity] %> </td>
                  <td><%= base_rate[:end_of_effectivity] %> </td>
                  <td><%= base_rate[:created_at] %></td>
                  <td><%= base_rate[:updated_at] %></td>
                  <td class="actions">
                    <%= generic_index_actions(base_rate[:id]) %>
                  </td>
                </tr>
            <% end %>
            </tbody>
        <% end %>
      </table>
  <% rescue => ex %>
      <%= generic_index_error(ex) %>
  <% end %>
  <%= generic_index_footer(@base_rates) %>
</section>