<section class='small-10 columns'>

  <!-- Set Thead Links -->
  <%= render :partial => controller_path + '/thead' %>
  <% @head_array = @head_array + [['Created At','created_at',true],['Updated At','updated_at',true]] %>

  <!-- Preaheader -->
  <%= preheader_generic_index(subtitle) %>

  <% begin %>
      <% if flash[controller_name + "_view_mode"] == "cell" %>

          <div id="current_freewall">
            <% @result_set.each do |result| %>
                <div class="item_cell">
                  <%= render :partial => controller_path + '/cell', locals: {result: result}  %>
                </div>
            <% end %>
          </div>

          <script>
              $( function(){
                  var wall = new Freewall("#current_freewall");
                  current_cell_height = (($( ".item_cell" ).height())*1.25).toFixed(1);
                  wall.reset({
                      cacheSize: true,
                      draggable: true,
                      selector: '.item_cell',
                      animate: true,
                      cellW: 250,
                      cellH: current_cell_height,
                      onResize: function()
                      {
                          wall.refresh();
                      }
                  })
                  wall.fitWidth();
              } );

              $( ".item_cell" ).hover(
                      function()
                      {
                          $(this).children("ul.button-group").children("li").css('visibility', 'visible');
                      }, function()
                      {
                          $(this).children("ul.button-group").children("li").css('visibility', 'hidden');
                      }
              );

              var hasScrollbar = window.innerWidth > document.documentElement.clientWidth;

          </script>

      <% else %>

          <table class='generic_index'>
            <thead>


            <% @head_array.each do |head| %>
                <% if head.kind_of?(Array) %>
                    <%= generic_index_theadlink(head[0],head[1]) %>
                <% else %>
                    <%= generic_index_theadlink(head) %>
                <% end %>
            <% end %>

            </thead>
            <% if @result_set.empty? == true %>
                <%= no_records_found %>
            <% else %>
                <tbody>
                <% @result_set.each do |result| %>
                    <tr><%= render :partial => controller_path + '/tbody', locals: {result: result} %></tr>
                <% end %>
                </tbody>
            <% end %>
          </table>

      <% end %>

  <% rescue => ex %>
      <%= generic_index_error(ex) %>
  <% end %>
  <%= generic_index_footer(@result_set) %>

</section>