<section class='small-10 columns'>


  <%= generic_title(nil, subtitle) %>

  <!-- Data Translation -->
  <% if defined? @result_set %>

      <!-- Set Thead Links -->
      <%= render :partial => controller_path + '/thead' %>
      <% @head_array = @head_array + [['Created At','created_at',true],['Updated At','updated_at',true]] %>

      <!-- Import Table/Cell Preheader -->
      <%= preheader_generic_index %>

      <% begin %>

              <!-- Freewall -->
              <% if flash[controller_name + "_view_mode"] == "cell" %>

                  <div id="current_freewall">
                    <% @result_set.each do |result| %>
                        <div class="item_cell">
                          <%= render :partial => controller_path + '/cell',
                                     locals: {result: result, controller_link: controller_link(result) }  %>
                          <hr style="visibility: hidden;">
                        </div>
                    <% end %>
                  </div>

                  <!-- Freewall Script -->
                  <script>
                      $( function(){
                          var wall = new Freewall("#current_freewall");
                          current_cell_height = (($( ".item_cell" ).height())*1.4).toFixed(1);
                          wall.reset({
                              selector: '.item_cell',
                              animate: true,
                              cellW: 250,
                              cellH: 'auto',
                              draggable: true,
                              fixSize: false,
                              onResize: function()
                              {
                                  wall.refresh();
                              }
                          })
                          wall.fitWidth();

                          wall.container.find('.item_cell img').load(function() {
                              wall.fitWidth();
                          });

                      } );

                      $( ".item_cell" ).hover(
                              function()
                              {
                                  $(this).children("ul.button-group").children("li").css('visibility', 'visible');
                              }, function()
                              {
                                  $(this).children("ul.button-group").children("li").css('visibility', 'hidden');
                              }
                      );
                  </script>

              <% else %>

                  <!-- Table Generic -->
                  <table class='generic_index'>
                    <!-- Display Theadlinks -->
                    <thead>
                    <% @head_array.each do |head| %>
                        <% if head.kind_of?(Array) %>
                            <%= generic_index_theadlink(head[0],head[1]) %>
                        <% else %>
                            <%= generic_index_theadlink(head) %>
                        <% end %>
                    <% end %>
                    </thead>
                    <% if @result_set.empty? == true %>
                        <%= no_records_found %>
                    <% else %>
                        <!-- Table Body -->
                        <tbody>
                        <% @result_set.each do |result| %>
                            <tr>
                              <%= render :partial => controller_path + '/tbody',
                                           locals: {result: result, controller_link: controller_link(result) } %>
                            </tr>
                        <% end %>
                        </tbody>
                    <% end %>
                  </table>

              <% end %>

          <!-- Catch Errors -->
          <% rescue => ex %>
              <%= generic_index_error(ex) %>
          <% end %>

      <!-- Footers -->
      <%= generic_index_footer(@result_set) %>
      <hr style="visibility: hidden;">

      <% end %>

  <!-- Overview Panels (if any) -->
    <% if defined? @overview_panels %>
        <% @overview_panels.each do |panel| %>
            <div class="overview_panel">
              <%= overview_panel(panel[0], panel[1]) %>
            </div>
        <% end %>
    <% end %>

  <!-- Wizard Buttons (if any) -->
  <hr style="visibility:hidden;">
  <hr>
    <% if defined? @wizard_buttons %>
        <% @wizard_buttons.each do |button| %>
          <a href="<%= button[0] %>" class="medium button">
            <%= button[1] %>
          </a>
        <% end %>
    <% end %>

  <!-- Change to Cell for the First Time View if Overflow is Detected -->
  <script>
      $( document ).ready(function()
      {
          var hasScrollbar = window.innerWidth > document.documentElement.clientWidth;
          if (("<%= params[:view_mode] %>" == "") && (hasScrollbar == true))
          {
              var pathname = window.location.pathname; // Returns path only
              var url      = window.location.href;     // Returns full URL
              window.location.href = window.location.pathname + '?view_mode=cell';
          }

      });
  </script>
</section>