<section id="main_index_section" class='small-10 columns' style="visibility:hidden;">
  <%= generic_title(nil, subtitle) %>

  <!-- Data Translation -->
  <% if defined? @result_set %>

      <!-- Set Thead Links -->
      <%= render :partial => controller_path + '/thead' %>
      <% @head_array = @head_array + [['Created At','created_at',true],['Updated At','updated_at',true]] %>

      <!-- Import Table/Cell Preheader -->
      <%= preheader_generic_index %>

      <% begin %>

              <!-- Freewall -->
              <% if flash[controller_name + "_view_mode"] == "cell" %>

                  <div id="current_freewall">
                    <% @result_set.each do |result| %>
                        <div class="item_cell">
                          <%= render :partial => controller_path + '/cell',
                                     locals: {result: result, controller_link: controller_link(result) }  %>
                          <hr style="visibility: hidden;">
                        </div>
                    <% end %>
                  </div>

                  <!-- Freewall Script -->
                  <script>
                      $( function(){
                          var wall = new Freewall("#current_freewall");
                          current_cell_height = (($( ".item_cell" ).height())*1.4).toFixed(1);
                          wall.reset({
                              selector: '.item_cell',
                              animate: true,
                              cellW: 250,
                              cellH: 'auto',
                              draggable: true,
                              fixSize: false,
                              onResize: function()
                              {
                                  wall.refresh();
                              }
                          })
                          wall.fitWidth();

                          wall.container.find('.item_cell img').load(function() {
                              wall.fitWidth();
                          });

                      } );
                  </script>
                  <%= render "common_partials/hover_item_cell" %>
              <% else %>

                  <!-- Table Generic -->
                  <table class='generic_index'>
                    <!-- Display Theadlinks -->
                    <thead>
                    <% @head_array.each do |head| %>
                        <% if head.kind_of?(Array) %>
                            <%= generic_index_theadlink(head[0],head[1]) %>
                        <% else %>
                            <%= generic_index_theadlink(head) %>
                        <% end %>
                    <% end %>
                    </thead>
                    <% if @result_set.empty? == true %>
                        <%= no_records_found %>
                    <% else %>
                        <!-- Table Body -->
                        <tbody>
                        <% @result_set.each do |result| %>
                            <tr>
                              <%= render :partial => controller_path + '/tbody',
                                           locals: {result: result, controller_link: controller_link(result) } %>
                            </tr>
                        <% end %>
                        </tbody>
                    <% end %>
                  </table>

              <% end %>

          <!-- Catch Errors -->
          <% rescue => ex %>
              <%= generic_index_error(ex) %>
          <% end %>

      <!-- Footers -->
      <%= generic_index_footer(@result_set) %>
      <hr style="visibility: hidden;">

      <% end %>

  <%= render :template => 'common_partials/generic_index/_overview_panels' %>
  <%= render :template => 'common_partials/generic_index/_wizard_buttons' %>

  <!-- Change to Cell for the First Time View if Overflow is Detected -->
  <script>
      $( document ).ready(function()
      {
          var hasScrollbar = window.innerWidth > document.documentElement.clientWidth;
          if (("<%= params[:view_mode] %>" == "") && (hasScrollbar == true))
          {
              var pathname = window.location.pathname; // Returns path only
              var url      = window.location.href;     // Returns full URL
              window.location.href = window.location.pathname +
              '?view_mode=cell&general_flash_notification=' +
              '<%= flash[:general_flash_notification] %>' +
              '&general_flash_notification_type=' +
              '<%= flash[:general_flash_notification_type] %>' ;
          }
          else
          {
              $("#main_index_section").css("visibility","visible")
          }
      });
  </script>

</section>