<%= generic_title(subtitle,title) %>

<div style="float: right; width: 5%;">

  <%
     view_mode = Hash.new()
     view_mode["orientation"] = ""
     view_mode["symbol"] = ""

     if flash[controller_name + "_view_mode"] == "table"
       view_mode["orientation"] = "cell"
       view_mode["symbol"] = '&#x0229E;'
     else
       view_mode["orientation"] = "table"
       view_mode["symbol"] = '&#x02261;'
     end
  %>

  <%=
      link_to(
              view_mode["symbol"].html_safe,
              {
                      :action => 'index',
                      :view_mode => view_mode["orientation"]
              },
              class: "button postfix"
      )

  %>

</div>

<%
   search_field = controller.controller_name + '_' + 'search_field'
   order_parameters = controller.controller_name + '_' + 'order_parameter'
   order_orientation = controller.controller_name + '_' + 'order_orientation'
   current_limit = controller.controller_name + '_' + 'current_limit'
   view_mode = controller.controller_name + '_' + 'view_mode'
%>

<%= form_tag("",
             method: :get,
             class: "search_form",
             :"data-parsley-validate" => "") do %>

    <div class="row collapse" style="float: left">

      <div class="small-5 columns">
        <%= text_field_tag( "search_field",
                            value = params[:search_field].present? ? params[:search_field] : nil ,
                            options = {id: controller.controller_name+"_search_input",
                                       class: 'generic_index_search_field',
                                       placeholder: "Search in " + ((controller.controller_name).to_s.gsub('_',' ').titleize),
                                       :"data-parsley-trigger" => "keyup",
                                       :"data-parsley-minlength"=>"3" ,
                                       :"data-parsley-maxlength"=>"64"
                            }) %>
      </div>

      <div class="small-2 columns">
        <select name="current_limit" id="current_limit">
          <%
             limit_iterations = [10,50,100,250,500,1000]
             limit_iterations.each do |iteration|
          %>
              <% if params[:current_limit].to_i == iteration %>
                    <option value="<%= iteration %>" selected><%= iteration %></option>
              <% else %>
                    <option value="<%= iteration %>"><%= iteration %></option>
              <% end %>
          <% end %>
        </select>
      </div>

      <div class="small-2 columns" >
        <select name="order_parameter">
          <% @head_array.each do |head| %>
              <% if head.last == true %>

                  <%
                     if head[1] == nil
                       head[1] = head[0].downcase.tr(" ", "_")
                     end
                   %>

                  <% if params[:order_parameter] == head[1] %>
                      <option value="<%= head[1] %>" selected> <%= head[0] %> </option>
                  <% else %>
                      <option value="<%= head[1] %>"> <%= head[0] %> </option>
                  <% end %>

              <% end %>
          <% end %>
        </select>
      </div>



      <div class="small-1 columns" >
        <select name="order_orientation">

          <!-- Left Here -->

          <option value="ASC">ASC</option>
          <option value="DESC">DESC</option>
        </select>
      </div>

      <div class="small-1 columns"><input type="submit" class="button postfix" value="&#128269;" /></div>

      <div class="small-1 columns"></div>

    </div>

    <br><br><br>

<% end %>

<script type="text/javascript">
    $('#<%= controller.controller_name+"_search_input" %>').autocomplete({
        serviceUrl: window.location.pathname + '/search_suggestions',
        minChars: 3
    });
</script>
