
<div class="form-block">
  <div class="label">Person Access  : </div>
  <br />
  <select name='permission[access_id]'
          id='new_permission_access_id'
          class='employee_select_field'
          required="required" >

    <option value="" disabled selected>Select Access</option>
    <% @accesses.each do |access| %>
        <% if access.id == @selected_permission.access_id %>
            <option value=<%= access.id %> selected><%= access.username %></option>
        <% else %>
            <option value=<%= access.id %>><%= access.username %></option>
        <% end %>
    <% end %>
  </select>
</div>

<div class="form-block">
  <div class="label">Permission  : </div>
  <br />
  <select name='permission[can]'
          style="width: 50%"
          required="required" >
    <% if @selected_permission[:can] == 'assess_vale' %>
        <option disabled >Select Permission</option>
        <option value = "assess_vale" selected>assess_vale</option>
        <option value = "human_resources">human_resources</option>
        <option value = "control">access_control</option>
    <% elsif @selected_permission[:can] == 'human_resources' %>
        <option disabled >Select Permission</option>
        <option value = "assess_vale">assess_vale</option>
        <option value = "human_resources" selected>human_resources</option>
        <option value = "access_control">access_control</option>
    <% elsif @selected_permission[:can] == 'access_control' %>
        <option disabled >Select Permission</option>
        <option value = "assess_vale">assess_vale</option>
        <option value = "human_resources">human_resources</option>
        <option value = "access_control" selected>access_control</option>
    <% else %>
        <option disabled selected>Select Permission</option>
        <option value = "assess_vale">assess_vale</option>
        <option value = "human_resources">human_resources</option>
        <option value = "access_control">access_control</option>
    <% end %>
  </select>
</div>

<%= generic_remarks_description_field('permission',@selected_permission[:remark]) %>