<div class="form-block">
  <div class="label">Person Access  : </div>
  <br />
  <select name='permission[access_id]'
          id='new_permission_access_id'
          class='employee_select_field'
          required="required" >
    <option value="" disabled selected>Select Access</option>
    <% @accesses.each do |access| %>
        <% if access.id == @selected_permission.access_id %>
            <option value=<%= access.id %> selected><%= access.username %></option>
        <% else %>
            <option value=<%= access.id %>><%= access.username %></option>
        <% end %>
    <% end %>
  </select>
</div>

<div class="form-block">
  <div class="label">Permission :</div>
  <input type="text"
         required="required"
         placeholder="Enter Permission"
         data-parsley-maxlength = 64
         id="new_permission_access"
         value= "<%= @selected_permission[:can] %>"
         name="permission[can]">
</div>

<%= generic_remarks_remark_field('permission',@selected_permission[:remark]) %>