<section class='small-10 columns'>
  <div class='mainheader'> Permission </div>
  <div class='subdescription'> Create a new permission that will be used within the system. </div>
  <hr>
  <div class='small-6 columns generic_form'>

    <% if @selected_permission[:id].present? %>
        <span class="current_edit_id">
          <%= 'Editing Permission ID: ' + @selected_permission[:id].to_s %>
        </span>
        <br><br>
    <% end %>

    <%
       @selected_permission[:id].present? ?
               (current_method = :patch; current_action = @selected_permission[:id] ) :
               (current_method = :post; current_action = 'create')
    %>

    <%=
        form_tag( {:action => current_action},
                  {:method => current_method,
                   class: 'create_form',
                   id: "new_permission_form",
                   :"data-parsley-validate" => "" },
        ) do
    %>

        <%= hidden_field_tag('permission[id]', @selected_permission[:id] ) %>

        <div class="form-block">
          <section class="form-block-label">Person Access</section>
          <section class="form-block-control">
            <select name='permission[access_id]'
                    id='new_permission_access_id'
                    class='employee_select_field'
                    required="required" >

              <option value="" disabled selected>Select Access</option>
              <% @accesses.each do |access| %>
                  <% if access.id == @selected_permission.access_id %>
                      <option value=<%= access.id %> selected><%= access.username %></option>
                  <% else %>
                      <option value=<%= access.id %>><%= access.username %></option>
                  <% end %>
              <% end %>
            </select>
          </section>
        </div>

        <div class="form-block">
          <section class="form-block-label">Permission</section>
          <section class="form-block-control">
            <select name='permission[can]'
                    style="width: 50%"
                    required="required" >
              <% if @selected_permission[:can] == 'assess_vale' %>
                  <option disabled >Select Permission</option>
                  <option value = "assess_vale" selected>assess_vale</option>
                  <option value = "human_resources">human_resources</option>
                  <option value = "control">access_control</option>
              <% elsif @selected_permission[:can] == 'human_resources' %>
                  <option disabled >Select Permission</option>
                  <option value = "assess_vale">assess_vale</option>
                  <option value = "human_resources" selected>human_resources</option>
                  <option value = "access_control">access_control</option>
              <% elsif @selected_permission[:can] == 'access_control' %>
                  <option disabled >Select Permission</option>
                  <option value = "assess_vale">assess_vale</option>
                  <option value = "human_resources">human_resources</option>
                  <option value = "access_control" selected>access_control</option>
              <% else %>
                  <option disabled selected>Select Permission</option>
                  <option value = "assess_vale">assess_vale</option>
                  <option value = "human_resources">human_resources</option>
                  <option value = "access_control">access_control</option>
              <% end %>
            </select>
          </section>
        </div>

        <div class="form-block">
          <section class="form-block-label">Remark/s</section>
          <section class="form-block-control">
            <%= text_area_tag("permission[remark]",
                              content = @selected_permission[:remark],
                              options = {class: "remark_description",
                                         :"data-parsley-trigger" => "keyup",
                                         :"data-parsley-maxlength"=>"128",
                                         :placeholder => 'Remarks' }) %>

          </section>
        </div>

        <hr />

        <%= generic_form_footer(@selected_permission[:id]) %>

    <% end %>

  </div>
</section>