<section class='small-10 columns'>
  <%= preheader_generic_table(subtitle) %>

  <% begin %>
      <table class='generic_table'>
        <thead>
        <%= render :partial => controller_path + '/thead' %>
        </thead>
        <% if @result_set.empty? == true %>
            <%= no_records_found %>
        <% else %>
            <tbody>
            <%= render :partial => controller_path + '/tbody' %>
            </tbody>
        <% end %>
      </table>
  <% rescue => ex %>
      <%= generic_table_error(ex) %>
  <% end %>

  <%= render :partial => controller_path + '/cell' %>

  <%= generic_table_footer(@result_set) %>
</section>