<%= form_tag("",
             method: :get,
             class: "search_form",
             :"data-parsley-validate" => "") do %>

    <div class="row collapse" style="float: left">
      <div class="small-5 columns">
        <%= text_field_tag( "search_field",
                            value=nil,
                            options = {id: controller.controller_name+"_search_input",
                                       class: 'generic_table_search_field',
                                       placeholder: (("Search in " + controller.controller_name.capitalize).to_s.gsub('_',' ')),
                                       :"data-parsley-trigger" => "keyup",
                                       :"data-parsley-minlength"=>"3" ,
                                       :"data-parsley-maxlength"=>"64"
                            }) %>
      </div>
      <div class="small-2 columns">
        <select name="current_limit" id="current_limit">
          <option value="" disabled selected>Limit per Page</option>
          <option value="10">10</option>
          <option value="50">50</option>
          <option value="100">100</option>
          <option value="250">250</option>
          <option value="500">500</option>
          <option value="1000">1000</option>
        </select>
      </div>
      <div class="small-1 columns"><input type="submit" class="button postfix" value="&#128269;" /></div>
      <div class="small-3 columns"></div>
    </div>
    <br>
    <%
       search_field = controller.controller_name + '_' + 'search_field'
       order_parameters = controller.controller_name + '_' + 'order_parameter'
       order_orientation = controller.controller_name + '_' + 'order_orientation'
       current_limit = controller.controller_name + '_' + 'current_limit'
       if (flash[search_field].empty? == false)
    %>
        <div class="search_query_description">
          SEARCHING FOR "<%= flash[search_field] %>"
          WITH "<%= flash[order_parameters] %>"
          ORDERED BY "<%= flash[order_orientation] %>"
          AT <%= flash[current_limit] %> PER PAGE
        </div>
    <% end %>

<% end %>

<script type="text/javascript">
    $('#<%= controller.controller_name+"_search_input" %>').autocomplete({
        serviceUrl: window.location.pathname + '/search_suggestions',
        minChars: 3
    });
</script>