<div class="large-12 columns">
  <h2 class="miniheader">Addresses</h2>
  <p id="map_special_instructions">
  <div class="subdescription">
    DRAG RED MARKER; DOUBLE LEFT CLICK TO ZOOM OUT, DOUBLE RIGHT CLICK TO ZOOM IN. SCROLL TO ZOOM. HOLD LEFT MOUSE BUTTON TO PAN.
  </div>
  </p>
  <div class="mapcontainer">
    <div class="mapset" id="primary" align="center">
      <hr>
      <div class="map" style="width: 800px; height: 300px;"></div><br>
      <textarea name="address[description]" placeholder="Type Address Here" class="map-address" data-parsley-trigger="keyup" data-parsley-maxlength="256"></textarea>
      <div class="large-1 columns"> <%= t('access.latitude') %>: </div>
      <div class="large-11 columns">
        <input type="text" class="map-lat" name="address[latitude]" id="latitude" data-parsley-type="number"/>
      </div>
      <div class="large-1 columns"><%= t('access.longitude') %>: </div>
      <div class="large-11 columns">
        <input type="text" class="map-lon" name="address[longitude]" id="longitude" data-parsley-type="number"/>
      </div>
    </div>
  </div>

  <hr />

  <script type="text/javascript" src='http://maps.google.com/maps/api/js?sensor=false&libraries=places'></script>
  <script>

      $( document ).ready(function() {
          navigator.geolocation.getCurrentPosition(showPosition);
          function showPosition(position) {
              var lat = position.coords.latitude;
              var lng = position.coords.longitude;
              $('.map-lat').val(lat);
              $('.map-lon').val(lng);
              buildMap(lat, lng);
          }
          buildMap(lat, lng);
      });

      function buildMap(lat, lng) {
          $('.map').locationpicker({
              location: {
                  latitude: +lat || 14.621801,
                  longitude: +lng || 121.106436
              },
              radius: 10,
              inputBinding: {
                  latitudeInput: $('.map-lat'),
                  longitudeInput: $('.map-lon'),
                  radiusInput: $('.map-radius'),
                  locationNameInput: $('.map-address'),
                  scrollwheel: true
              },
              enableReverseGeocode: true
          });
      }
  </script>
</div>

<div class="form-block">
  <div class="label">Involved  : </div>

  <% if @address_actor_rel.present? %>
      <table class="telephonycontainer" style="width : 100%; border : none; !important">
        <tr id="primary" class="telephonyset">
          <% @actorsInvolved.each_with_index do |actor, index| %>
              <td>
                <select name='address[addressactors[0]]'
                        class='digits'
                        disabled='disabled'
                        required="required" >
                  <option value="" disabled selected>Select Actor</option>
                  <% @actors1.each do |actor| %>
                      <% if actor.id == @actorsInvolved[index].id %>
                          <option value=<%= actor.id %> selected><%= 'Actor - ' + actor.name %></option>
                      <% else %>
                          <option value=<%= actor.id %>><%= actor.name %></option>
                      <% end %>
                  <% end %>

                  <% @actors2.each do |actor| %>
                      <% if actor.id == @actorsInvolved[index].id %>
                          <option value=<%= actor.id %> selected><%= 'Branch - ' + actor.name %></option>
                      <% else %>
                          <option value=<%= actor.id %>><%= actor.name %></option>
                      <% end %>
                  <% end %>
                </select>
              </td>
              </tr>
          <% end %>
          </table>

  <% else %>

      <table class="telephonycontainer" style="width : 100%; border : none; !important">
        <tr id="primary" class="telephonyset">
          <td>
            <select name='address[addressactors[0]]'
                    class='digits'
                    required="required" >
              <option value="" disabled selected>Select Actor</option>
              <% @actors1.each do |actor| %>
                  <option value=<%= actor.id %>><%= 'Actor - ' + actor.name %></option>
              <% end %>
              <% @actors2.each do |actor| %>
                  <option value=<%= actor.id %>><%= 'Branch - ' + actor.name %></option>
              <% end %>
            </select>
          </td>
        </tr>
      </table>

  <% end %>

  <%= renderItemListerButtons("Add Actor :", "addInvolved()","deleteInvolved()") %>

</div>

<script>

    $telephonyCounter = 0;

    function addInvolved()
    {

        $telephonyCounter++;

        var clonedTelephonySet = $("#primary.telephonyset").clone();
        clonedTelephonySet.attr("id","address_addressactors_" + $telephonyCounter);
        clonedTelephonySet.find(".digits").attr("id","address_addressactors_" + $telephonyCounter);
        clonedTelephonySet.find(".digits").attr("name","address[addressactors["+$telephonyCounter+"]]");
        clonedTelephonySet.find(".digits").find('option:eq(0)').prop('selected', true);
        clonedTelephonySet.find(".digits").removeAttr('disabled');
        clonedTelephonySet.appendTo($(".telephonycontainer"));
    }

    //delete new telephony with id and name set to current counter
    function deleteInvolved()
    {
        $('#address_addressactors_'+$telephonyCounter+'.telephonyset').remove();
        if($telephonyCounter <= 0)
        {$telephonyCounter = 0 }
        else
        {$telephonyCounter--;}
    }


</script>

