<div><%= link_to result.file, result.file.url %></div>
<div><%= polymorphic_link(result[:filesetable_type],result[:filesetable_id], true) %></div>
<div><%= result[:id].upcase %></div>
<div><%= result[:physical_storage] %></div>
<div><%= result[:remark] %></div>
<%= generic_index_actions( result, controller_link ) %>