<div class="large-6 columns">

  <% action_name == 'new' ? file_requirement = true : file_requirement = false %>

  <%= f.input :file,
              required: file_requirement,
              as: :file,
              label: "File",
              label_html: { class: 'form_label' },
              input_html: { value: selected_model_instance[:file] }
  %>

  <% if (action_name != 'new' || wizard_activated? == true) %>
  <a class='tiny button' href="<%= selected_model_instance.file.url %>" target="_blank">
    <%= selected_model_instance[:file] %>
  </a>
  <% end %>

  <%= f.input :physical_storage,
              required: false,
              label: "Physical Storage",
              label_html: { class: 'form_label' },
              input_html: { value: selected_model_instance[:physical_storage],
                            :'data-parsley-trigger' => 'keyup',
                            :'data-parsley-maxlength' => 64 } %>

  <%= render_polymorphic_selector(f, selected_model_instance,'filesetable') %>
  <%= render_remark_field(f, selected_model_instance[:remark]) %>
</div>

<%= related_models(params[:wizard_primary_model_type],params[:wizard_primary_model_id]) if wizard_activated? %>