<%= generic_index_id(result)%>

<td style="word-break: break-all;">
    <a style="word-break: break-all;" href="<%= result.file.url %>" target="_blank" >
      <%= result[:file] %>
    </a>
</td>

<td>
  <%= result[:physical_storage] %>
</td>

<td>
  <%= polymorphic_link(result) %>
</td>


<%= generic_index_remark(result[:remark]) %>

<%= generic_index_last_rows(result) %>