<section class='small-10 columns'>
  <%= preheader_generic_table('Files related to different Entities') %>
  <% begin %>
      <table class='generic_table' id='file_sets_table'>
        <thead>
        <tr>
          <%= generic_table_theadlink('ID') %>
          <%= generic_table_theadlink('File') %>
          <%= generic_table_theadlink('Association', 'filesetable') %>
          <%= generic_table_theadlink('Remark') %>
          <%= generic_table_theadlink_last_head() %>
        </tr>
        </thead>
        <% if @file_sets.empty? == true %>
            <%= no_records_found %>
        <% else %>
            <tbody>
            <% @file_sets.each do |file_set| %>
                <tr>
                  <%= generic_table_id(file_set)%>
                  <td>
                    <a href="<%= file_set.file.url %>" target="_blank">
                      <%= file_set[:file] %>
                    </a>
                  </td>
                  <%= polymorphic_link(file_set[:filesetable_type],file_set[:filesetable_id]) %>
                  <%= generic_table_remark(file_set[:remark]) %>
                  <%= generic_table_last_rows(file_set) %>
                </tr>
            <% end %>
            </tbody>
        <% end %>
      </table>
  <% rescue => ex %>
      <%= generic_table_error(ex) %>
  <% end %>
  <%= generic_table_footer(@file_sets) %>
</section>