<style>
    /* input[type="number"] hide hack for phone number input field */
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin: 0;
    }
</style>



<div class="form-block">
  <div class="label">Digit</div>
  <input type="number"
         required="required"
         placeholder="Enter Digits"
         data-parsley-trigger = keyup
         data-parsley-maxlength = 64
         data-parsley-type = number
         id="telephone_digits"
         value= "<%= @selected_telephone[:digits] %>"
         name="telephone[digits]">
</div>



<div class="form-block">
  <div class="label">Description</div>
  <input type="text"
         required="required"
         placeholder="Enter telphone digit description"
         data-parsley-trigger = keyup
         data-parsley-maxlength = 64
         id="telephone_description"
         value= "<%= @selected_telephone[:description] %>"
         name="telephone[description]">
</div>

<div class="form-block">
  <div class="label">Involved  : </div>

  <% if @telephone_actor_rel.present? %>
      <table class="telephonycontainer" style="width : 100%; border : none; !important">
        <tr id="primary" class="telephonyset">
          <% @actorsInvolved.each_with_index do |actor, index| %>
              <td>
                <select name='telephone[telephoneactors[0]]'
                        class='digits'
                        disabled='disabled'
                        required="required" >
                  <option value="" disabled selected>Select Actor</option>
                  <% @actors1.each do |actor| %>
                      <% if actor.id == @actorsInvolved[index].id %>
                          <option value=<%= actor.id %> selected><%= 'Actor - ' + actor.name %></option>
                      <% else %>
                          <option value=<%= actor.id %>><%= actor.name %></option>
                      <% end %>
                  <% end %>

                  <% @actors2.each do |actor| %>
                      <% if actor.id == @actorsInvolved[index].id %>
                          <option value=<%= actor.id %> selected><%= 'Branch - ' + actor.name %></option>
                      <% else %>
                          <option value=<%= actor.id %>><%= actor.name %></option>
                      <% end %>
                  <% end %>
                </select>
              </td>
              </tr>
          <% end %>
          </table>

  <% else %>

      <table class="telephonycontainer" style="width : 100%; border : none; !important">
        <tr id="primary" class="telephonyset">
          <td>
            <select name='telephone[telephoneactors[0]]'
                    class='digits'
                    required="required" >
              <option value="" disabled selected>Select Actor</option>
              <% @actors1.each do |actor| %>
                  <option value=<%= actor.id %>><%= 'Actor - ' + actor.name %></option>
              <% end %>
              <% @actors2.each do |actor| %>
                  <option value=<%= actor.id %>><%= 'Branch - ' + actor.name %></option>
              <% end %>
            </select>
          </td>
        </tr>
      </table>

  <% end %>

  <%= renderItemListerButtons("Add Actor :", "addInvolved()","deleteInvolved()") %>

</div>

<script>

    $telephonyCounter = 0;

    function addInvolved()
    {

        $telephonyCounter++;

        var clonedTelephonySet = $("#primary.telephonyset").clone();
        clonedTelephonySet.attr("id","telephone_telephoneactors_" + $telephonyCounter);
        clonedTelephonySet.find(".digits").attr("id","telephone_telephoneactors_" + $telephonyCounter);
        clonedTelephonySet.find(".digits").attr("name","telephone[telephoneactors["+$telephonyCounter+"]]");
        clonedTelephonySet.find(".digits").find('option:eq(0)').prop('selected', true);
        clonedTelephonySet.find(".digits").removeAttr('disabled');
        clonedTelephonySet.appendTo($(".telephonycontainer"));
    }

    //delete new telephony with id and name set to current counter
    function deleteInvolved()
    {
        $('#telephone_telephoneactors_'+$telephonyCounter+'.telephonyset').remove();
        if($telephonyCounter <= 0)
        {$telephonyCounter = 0 }
        else
        {$telephonyCounter--;}
    }


</script>

