<style>
    /* input[type="number"] hide hack for phone number input field */
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin: 0;
    }
</style>

<div class="form-block">
  <div class="label">Model</div>
  <br />
  <select id="model-dropdown" name='telephone[rel_model_type]'
          required="required" >
    <% if @selected_telephone[:rel_model_type] == 'Actor' %>
        <option value="Actor" selected>Actor</option>
        <option value="Branch">Branch</option>
    <% elsif @selected_telephone[:rel_model_type] == 'Branch' %>
        <option value="Actor">Actor</option>
        <option value="Branch" selected>Branch</option>
    <% else %>
        <option disabled selected>Select Model</option>
        <option value="Actor">Actor</option>
        <option value="Branch">Branch</option>
    <% end %>
  </select>
</div>

<div id="actor-selector" class="form-block">
  <div class="label">Actor</div>
  <br />
  <select name='telephone[rel_model_id]'
          id='new_telephone_rel_model_id1'
          class='employee_select_field selectized'>

    <option value="" disabled selected>Select Actor</option>
    <% @actors.each do |actor| %>
        <% if actor.id == @selected_telephone[:rel_model_id] %>
            <option value=<%= actor.id %> selected><%= actor.name %></option>
        <% else %>
            <option value=<%= actor.id %>><%= actor.name %></option>
        <% end %>
    <% end %>
  </select>
</div>

<div id="branch-selector" class="form-block">
  <div class="label">Branch</div>
  <br />
  <select name='telephone[rel_model_id]'
          id='new_telephone_rel_model_id2'
          class='employee_select_field selectized'>

    <option value="" disabled selected>Select Branch</option>
    <% @branches.each do |branch| %>
        <% if branch.id == @selected_telephone[:rel_model_id] %>
            <option value=<%= branch.id %> selected><%= branch.name %></option>
        <% else %>
            <option value=<%= branch.id %>><%= branch.name %></option>
        <% end %>
    <% end %>
  </select>
</div>

<div class="form-block">
  <div class="label">Digit</div>
  <input type="number"
         required="required"
         placeholder="Enter Digits"
         data-parsley-trigger = keyup
         data-parsley-maxlength = 64
         data-parsley-type = number
         id="telephone_digits"
         value= "<%= @selected_telephone[:digits] %>"
         name="telephone[digits]">
</div>



<div class="form-block">
  <div class="label">Description</div>
  <input type="text"
         required="required"
         placeholder="Enter telphone digit description"
         data-parsley-trigger = keyup
         data-parsley-maxlength = 64
         id="telephone_description"
         value= "<%= @selected_telephone[:description] %>"
         name="telephone[description]">
</div>


<script>
    $(document).ready(function(){
        $('#new_telephone_rel_model_id1').selectize({sortField: 'text'});
        $('#new_telephone_rel_model_id2').selectize({sortField: 'text'});
        $("#branch-selector select[name*='telephone[rel_model_id]']").prop('disabled', true);
        $("#actor-selector").hide();
        $("#branch-selector").hide();
    });

    $("#model-dropdown").change(function(){
        if($("#model-dropdown").val() == "Actor"){
            $("#actor-selector").show();
            $("#branch-selector select[name*='telephone[rel_model_id]']").prop('disabled', true);
            $("#actor-selector select[name*='telephone[rel_model_id]']").removeAttr('disabled');
            $("#branch-selector").hide();
        } else if($("#model-dropdown").val() == "Branch"){
            $("#branch-selector").show();
            $("#actor-selector select[name*='telephone[rel_model_id]']").prop('disabled', true);
            $("#branch-selector select[name*='telephone[rel_model_id]']").removeAttr('disabled');
            $("#actor-selector").hide();
        }
    });
</script>
