<section class='small-10 columns'>
  <div class='mainheader'> Telephone information </div>
  <div class='subdescription'> List of Telephone data entries within the system </div>
  <hr>
  <%= generic_table_search %>
  <% table_orientation = shift_table_orientation %>
  <% begin %>
      <table class='generic_table' id='address_table'>
        <thead>
        <tr>
          <th>
            Telephone Info ID
            <%= generic_table_theadlink('telephones.id', table_orientation) %>
          </th>
          <th>
            Actor ID
            <%= generic_table_theadlink('telephones.actor_id', table_orientation) %>
          </th>
          <th>
            Digits
            <%= generic_table_theadlink('telephones.digits', table_orientation) %>
          </th>
          <th>
            Description
            <%= generic_table_theadlink('telephones.description', table_orientation) %>
          </th>
          <th class="actions" align="center">&nbsp;</th>
        </tr>
        </thead>
        <% if @telephones.empty? == true %>
            <% raise exception %>
        <% else %>
            <tbody>
            <% @telephones.each do |telephones| %>
                <tr>
                  <td><%= telephones[:id] %></td>
                  <td><%= telephones[:actor_id] %></td>
                  <td><%= telephones[:digits] %> </td>
                  <td><%= telephones[:description] %> </td>
                  <td class="actions">
                    <%= generic_table_actions(telephones[:id]) %>
                  </td>
                </tr>
            <% end %>
            </tbody>
        <% end %>
      </table>
  <% rescue %>
      <script>
          html = "<hr><p align='center'> No records found. Please try again.</p><hr>"
          $(".generic_table").replaceWith(html)
      </script>
  <% end %>
  <%= generic_table_footer(@telephones) %>
</section>