<style>
    /* input[type="number"] hide hack for phone number input field */
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin: 0;
    }
</style>

<section class='small-10 columns'>
  <div class='mainheader'> Telephone Info </div>
  <div class='subdescription'> Add a Telephone information entry to the system </div>
  <hr>
  <div class='small-6 columns generic_form'>

    <% if @selected_telephone[:id].present? %>
        <span class="current_edit_id">
          <%= 'Editing Telephone info with ID: ' + @selected_telephone[:id].to_s %>
        </span>
        <br><br>
    <% end %>

    <%
       @selected_telephone[:id].present? ?
               (current_method = :patch; current_action = @selected_telephone[:id] ) :
               (current_method = :post; current_action = 'create')
    %>

    <%=
        form_tag( {:action => current_action},
                  {:method => current_method,
                   class: 'create_form',
                   id: "new_telephone_form",
                   :"data-parsley-validate" => "" },
        ) do
    %>

        <%= hidden_field_tag('telephone[id]', @selected_telephone[:id] ) %>


        <div class="form-block">
          <section class="form-block-label">Model</section>
          <section class="form-block-control">
            <select name='telephone[rel_model_type]'
                    style="width: 50%"
                    required="required" >
              <% if @selected_telephone[:rel_model_type] == 'Actor' %>
                  <option value="Actor" selected>Actor</option>
                  <option value="Branch">Branch</option>
              <% elsif @selected_telephone[:rel_model_type] == 'Branch' %>
                  <option value="Actor">Actor</option>
                  <option value="Branch" selected>Branch</option>
              <% else %>
                  <option disabled selected>Select Model</option>
                  <option value="Actor">Actor</option>
                  <option value="Branch">Branch</option>
              <% end %>
            </select>
          </section>
        </div>

        <div class="form-block">
          <section class="form-block-label">Actor</section>
          <section class="form-block-control">
            <select name='telephone[rel_model_id]'
                    id='new_telephone_rel_model_id'
                    class='employee_select_field'
                    required="required" >

              <option value="" disabled selected>Select Actor</option>
              <% @actors.each do |actor| %>
                  <% if actor.id == @selected_telephone[:rel_model_id] %>
                      <option value=<%= actor.id %> selected><%= actor.name %></option>
                  <% else %>
                      <option value=<%= actor.id %>><%= actor.name %></option>
                  <% end %>
              <% end %>
            </select>
          </section>
        </div>

        <div class="form-block">
          <section class="form-block-label">Digit</section>
          <section class="form-block-control">
            <input type="number"
                   required="required"
                   placeholder="Enter Digits"
                   data-parsley-trigger = keyup
                   data-parsley-maxlength = 64
                   data-parsley-type = number
                   id="telephone_digits"
                   value= "<%= @selected_telephone[:digits] %>"
                   name="telephone[digits]">
          </section>
        </div>



        <div class="form-block">
          <section class="form-block-label">Description</section>
          <section class="form-block-control">
            <input type="text"
                   required="required"
                   placeholder="Enter telphone digit description"
                   data-parsley-trigger = keyup
                   data-parsley-maxlength = 64
                   id="telephone_description"
                   value= "<%= @selected_telephone[:description] %>"
                   name="telephone[description]">
          </section>
        </div>

        <hr />

        <%= generic_form_footer(@selected_telephone[:id]) %>

    <% end %>

  </div>
</section>

<script>
    $(document).ready(function(){$('#new_telephone_rel_model_id').selectize({sortField: 'text'});});
</script>
