<%= error_messages_for( @access ) %>
<%= error_messages_for( @verification ) %>

<%= text_field_tag("access[username]", value = nil, options = {id:"username", placeholder:  t('access.simple_username') , required: "required", pattern: "[a-z0-9_-]{3,64}$", :"data-parsley-trigger" => "keyup",:"data-parsley-minlength"=>"3" ,:"data-parsley-maxlength"=>"64"})%>
<%= text_field_tag("access[password]", value = nil, options = {id: "password", placeholder: t('access.password'), required: "required", type: "password", :"data-parsley-trigger" => "keyup",:"data-parsley-minlength"=>"8" ,:"data-parsley-maxlength"=>"64"} )%>
<%= text_field_tag("access[password_confirmation]", value = nil, options = {id: "password_confirmation", placeholder: t('access.password_again'), required: "required", type: "password", :"data-parsley-trigger" => "keyup",:"data-parsley-minlength"=>"8" ,:"data-parsley-maxlength"=>"64", "data-parsley-equalto"=>"#password"} )%>
<%= text_field_tag("access[email]", value = nil, options = {id: "email", placeholder: t('access.email'), required: "required", type: "email", :"data-parsley-trigger"=> "keyup"}) %>

<div align="right">
  <%= t('access.remmeber_me') %> [ <%= check_box_tag("access[rememberme]", value = 1, checked = false, options = {}) %> ]
</div>

<script>
</script>
