<div class="form-block">
  <div class="label">Model</div>
  <select name='attendance[employee_id]'
          id='attendance_employee_id_0'
          class='employee_select_field'
          required="required" >
    <option value="" disabled selected>Select Employee</option>
    <% @employees.each do |employee| %>
        <% if employee.id == @selected_attendance[:employee_id] %>
            <option value=<%= employee[:id] %> selected><%= employee.actor.name %></option>
        <% else %>
            <option value=<%= employee[:id] %>><%= employee.actor.name %></option>
        <% end %>
    <% end %>
  </select>
</div>

<div class="form-block">
  <div class="label">Date</div>
  <input type="date"
         required="required"
         name="attendance[date_of_attendance]"
         id="attendance_date_0"
         style="width: 50%"
         value= <%= @selected_attendance[:date_of_attendance].present? ? @selected_attendance[:date_of_attendance].strftime('%Y-%m-%d') : '' %>>
</div>

<div class="form-block">
  <div class="label">Time In:</div>
  <input type="time"
         id="attendance_timein_0"
         step = 1
         name="attendance[timein]"
         required = required
         data-parsley-trigger="change"
         data-parsley-time_order_attendance="0"
         <%= @selected_attendance[:id].present? ? '' : (
         '
                                  data-parsley-time_overlap_attendance=0
                                  data-parsley-time_between_attendance=0
                             '
         )%>
         style="width: 50%"
         value= <%= @selected_attendance[:timein].strftime('%T') %> >
</div>

<div class="form-block">
  <div class="label">Time Out:</div>
  <input type="time"
         id="attendance_timeout_0"
         step = 1
         name="attendance[timeout]"
         required = required
         data-parsley-trigger="change"
         data-parsley-time_order_attendance="0"
         <%= @selected_attendance[:id].present? ? '' : (
         '
                                  data-parsley-time_overlap_attendance=0
                                  data-parsley-time_between_attendance=0
                              '
         )%>
         style="width: 50%"
         value= <%= @selected_attendance[:timeout].strftime('%T') %> >
</div>

<%= generic_remarks_description_field('attendance',@selected_attendance[:remark]) %>