<section class='small-10 columns'>
  <div class='mainheader'> Attendance Form </div>
  <div class='subdescription'> Set the Attendance of an Employee </div>
  <hr>
  <div class='small-6 columns generic_form'>

    <%= generic_form_edit_id_indicator(@selected_attendance[:id]) %>

    <%
       @selected_attendance[:id].present? ?
               (current_method = :patch; current_action = @selected_attendance[:id] ) :
               (current_method = :post; current_action = 'create')
    %>

    <%=
        form_tag( {:action => current_action},
                  {:method => current_method,
                   :class => 'create_form',
                   :id => "new_attendance_form",
                   :"data-parsley-validate" => ""
                  },
        ) do
    %>

        <%= hidden_field_tag('attendance[id]', @selected_attendance[:id] ) %>

        <select name='attendance[employee_id]'
                id='attendance_employee_id_0'
                class='employee_select_field'
                required="required" >
          <option value="" disabled selected>Select Employee</option>
          <% @employees.each do |employee| %>
              <% if employee.id == @selected_attendance[:employee_id] %>
                  <option value=<%= employee[:id] %> selected><%= employee.actor.name %></option>
              <% else %>
                  <option value=<%= employee[:id] %>><%= employee.actor.name %></option>
              <% end %>
          <% end %>
        </select>

        <div>
        Date:
        <input type="date"
               required="required"
               name="attendance[date_of_attendance]"
               id="attendance_date_0"
               style="width: 50%"
               value= <%= @selected_attendance[:date_of_attendance].present? ? @selected_attendance[:date_of_attendance].strftime('%Y-%m-%d') : '' %>>
        </div>

        <div>
          Time In: <input type="time"
                             id="attendance_timein_0"
                             step = 1
                             name="attendance[timein]"
                             required = required
                             data-parsley-trigger="change"
                             data-parsley-time_order_attendance="0"
                             <%= @selected_attendance[:id].present? ? '' : (
                             '
                                  data-parsley-time_overlap_attendance=0
                                  data-parsley-time_between_attendance=0
                             '
                             )%>
                             style="width: 50%"
                             value= <%= @selected_attendance[:timein].strftime('%T') %> >
        </div>
        <div>
          Time Out: <input type="time"
                              id="attendance_timeout_0"
                              step = 1
                              name="attendance[timeout]"
                              required = required
                              data-parsley-trigger="change"
                              data-parsley-time_order_attendance="0"
                              <%= @selected_attendance[:id].present? ? '' : (
                              '
                                  data-parsley-time_overlap_attendance=0
                                  data-parsley-time_between_attendance=0
                              '
                              )%>
                              style="width: 50%"
                              value= <%= @selected_attendance[:timeout].strftime('%T') %> >
        </div>

        <%=
            text_area_tag("attendance[remark]",
                          content = @selected_attendance[:remark],
                          options = {class: "remark_description",
                                     :"data-parsley-trigger" => "keyup",
                                     :"data-parsley-maxlength"=>"128",
                                     :placeholder => 'Remarks' })
        %>
        <%= generic_form_footer(@selected_attendance[:id]) %>

    <% end %>

  </div>
  <%= renderCorePartial('employee_quick_profile') %>
</section>