<%
   select_name = model_name + '[' + model_name + 'actors[0]]'
   cloned_select_id = model_name + '_' + model_name + 'actors_'
   cloned_select_name = model_name + '[' + model_name + 'actors'
   related = related_models
%>

<div class="form-block">
  <div class="label">Involved  : </div>

  <% if related.present? %>
      <table class="telephonycontainer" style="width : 100%; border : none; !important">
        <tr id="primary" class="telephonyset">
          <% @actorsInvolved.each_with_index do |actor, index| %>
              <td>
                <select name=<%= select_name %>
                        class='digits'
                        disabled='disabled'
                        required="required" >
                  <option value="" disabled selected>Select Actor</option>
                  <% @actors1.each do |actor| %>
                      <% if actor.id == @actorsInvolved[index].id %>
                          <option value=<%= actor.id %> selected><%= 'Actor - ' + actor.name %></option>
                      <% else %>
                          <option value=<%= actor.id %>><%= actor.name %></option>
                      <% end %>
                  <% end %>

                  <% @actors2.each do |actor| %>
                      <% if actor.id == @actorsInvolved[index].id %>
                          <option value=<%= actor.id %> selected><%= 'Branch - ' + actor.name %></option>
                      <% else %>
                          <option value=<%= actor.id %>><%= actor.name %></option>
                      <% end %>
                  <% end %>
                </select>
              </td>
              </tr>
          <% end %>
          </table>

  <% else %>

      <table class="telephonycontainer" style="width : 100%; border : none; !important">
        <tr id="primary" class="telephonyset">
          <td>
            <select name=<%= select_name %>
                    class='digits'
                    required="required" >
              <option value="" disabled selected>Select Actor</option>
              <% @actors1.each do |actor| %>
                  <option value=<%= actor.id %>><%= 'Actor - ' + actor.name %></option>
              <% end %>
              <% @actors2.each do |actor| %>
                  <option value=<%= actor.id %>><%= 'Branch - ' + actor.name %></option>
              <% end %>
            </select>
          </td>
        </tr>
      </table>

  <% end %>

  <%= renderItemListerButtons("Add Actor :", "addInvolved()","deleteInvolved()") %>

</div>

<script>

    $telephonyCounter = 0;

    function addInvolved()
    {

        $telephonyCounter++;

        var clonedTelephonySet = $("#primary.telephonyset").clone();
        clonedTelephonySet.attr("id","<%= cloned_select_id %>" + $telephonyCounter);
        clonedTelephonySet.find(".digits").attr("id","<%= cloned_select_id %>" + $telephonyCounter);
        clonedTelephonySet.find(".digits").attr("name","<%= cloned_select_name %>" + "[" + $telephonyCounter + "]]");
        clonedTelephonySet.find(".digits").find('option:eq(0)').prop('selected', true);
        clonedTelephonySet.find(".digits").removeAttr('disabled');
        clonedTelephonySet.appendTo($(".telephonycontainer"));
    }

    //delete new telephony with id and name set to current counter
    function deleteInvolved()
    {
        $('#<%= cloned_select_id %>'+$telephonyCounter+'.telephonyset').remove();
        if($telephonyCounter <= 0)
        {$telephonyCounter = 0 }
        else
        {$telephonyCounter--;}
    }


</script>
