<nav class="top-bar" data-topbar role="navigation">


  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right" style="margin-right: 1%; overflow: hidden;">
      <% if( @sign_in_affirmative == true )%>
          <li><a href="/access/my_account"> &nbsp; <%= image_tag @myActor.logo_url(:topbar_avatar) if @myActor.logo? %> &nbsp;&nbsp; <%= @myActor.name %> | <%= @myAccess.username %>  &nbsp; &nbsp;   </a></li>
          <li><a href="/access/signout"> <%= image_tag "signout.png" %> <%= t('topbar.sign_out') %> </a></li>
      <% else %>
          <li><a href="/access/signin"> <%= image_tag "signin.png" %> <%= t('topbar.sign_in') %> </a></li>
          <li><a href="/access/registration"> <%= image_tag "register.png" %> <%= t('topbar.register') %> </a></li>
      <% end %>
    </ul>

    <!-- Left Nav Section -->
    <ul class="left" style="margin-left: 1%">
      <li><%= link_to(t('topbar.home').upcase , {:controller => "home", :action => "index"} ) %></li>
      <li><%= link_to(t('topbar.parts_library').upcase , {:controller => "home", :action => "index"} ) %></li>
      <li><%= link_to(t('topbar.become_a_supplier').upcase , {:controller => "home", :action => "index"} ) %></li>
      <li><%= link_to(t('topbar.become_a_retailer').upcase , {:controller => "home", :action => "index"} ) %></li>
      <li><%= link_to(t('topbar.store_locations').upcase , {:controller => "home", :action => "index"} ) %></li>
      <li><%= link_to(t('topbar.about_us').upcase , {:controller => "home", :action => "index"} ) %></li>
    </ul>

  </section>
</nav>

<!-- Flash Mode -->
<% if flash[:general_flash_notification] %>
    <% if flash[:general_flash_notification_type] == 'affirmative'%>
        <div class="tiny button notification_affirmative" id="general_flash_notification">
          <%= flash[:general_flash_notification] %>
          &nbsp; &nbsp; &nbsp; &#10060;
        </div>
    <% else %>
        <div class="tiny button notification_negative" id="general_flash_notification">
          <%= flash[:general_flash_notification] %>
          &nbsp; &nbsp; &nbsp; &#10060;
        </div>
    <% end %>
<% end %>

<!-- Params Mode -->
<% if params[:general_flash_notification] != '' && params.has_key?('general_flash_notification') == true %>
    <% if params[:general_flash_notification_type] == 'affirmative'%>
        <div class="tiny button notification_affirmative" id="general_flash_notification">
          <%= params[:general_flash_notification] %>
          &nbsp; &nbsp; &nbsp; &#10060;
        </div>
    <% else %>
        <div class="tiny button notification_negative" id="general_flash_notification">
          <%= params[:general_flash_notification] %>
          &nbsp; &nbsp; &nbsp; &#10060;
        </div>
    <% end %>
<% end %>

<script>
    $( document ).ready(
            $("#general_flash_notification").click(function(){
                $("#general_flash_notification").remove();
            })
    )
</script>