<div> <%= generic_index_id(result) %> </div>
<div>
  <%= generic_account_profile_link(result.employee.system_account) %>
</div>
<div><%= format_datetime(result[:datetime_of_implementation]) %></div>
<div> Active? : <%= result[:active] %> </div>
<div> <%= Branch.find(result[:branch_id]).name %> </div>

<%= generic_index_actions( result, controller_link ) %>