<div class="large-6 columns">

  <%=
      if wizard_activated?
        f.input :employee_id,
                as: :hidden,
                input_html: { value: params[:wizard_primary_model_id] }
      else
        render_employee_selector(f, selected_model_instance )
      end
  %>

  <%= render_collection_selector(f, selected_model_instance, 'branch_id', 'Assigned Branch', Branch.all, 'name', 'id') %>
  <%= render_datetime_field(f, selected_model_instance, 'datetime_of_implementation', 'Date and Time of Implementation') %>

  <%=
      f.input :active,
              as: :boolean, checked_value: true, unchecked_value: false,
              label: "Active ?",
              label_html: { class: 'form_label' },
              input_html: { checked: selected_model_instance[:active] }
  %>

  <%= render_remark_field(f, selected_model_instance[:remark]) %>

</div>

<%= related_models('Employee',params[:id]) unless generally_new? %>
