<div class="large-6 columns">

  <%=
      if wizard_activated?
        f.input_field :employee_id,
                      as: :hidden,
                      :input_html =>
                              {
                                      :value => Employee.find_by_system_account_id(params[:wizard_primary_model_id])
                              }
      else
        generic_form_employee_selector(f, selected_model_instance )
      end
  %>
  <%= generic_form_collection_selector(f, 'branch_id', 'Assigned Branch', Branch.all, selected_model_instance, 'name', 'id') %>

  <%= generic_form_datetime_field(f,'datetime_of_implementation', 'Date and Time of Implementation' ,selected_model_instance) %>

  <%=
      f.input :active,
              as: :boolean, checked_value: true, unchecked_value: false,
              :label => "Active ?",
              :label_html => { class: 'form_label' },
              :input_html =>
                      {
                              :checked => selected_model_instance[:active]
                      }
  %>

  <%= generic_form_remark_field(f, selected_model_instance[:remark]) %>

</div>

<%= related_models('Employee',params[:id]) unless generally_new? %>
