<section class='small-10 columns'>
  <div class='mainheader'> Duty Status Form </div>
  <div class='subdescription'> Set the Status of an Employee </div>
  <hr>
  <div class='small-6 columns generic_form'>

    <%= generic_form_edit_id_indicator(@selected_duty_status[:id]) %>

    <%
       @selected_duty_status[:id].present? ?
               (current_method = :patch; current_action = @selected_duty_status[:id] ) :
               (current_method = :post; current_action = 'create')
    %>

    <%=
        form_tag( {:action => current_action},
                  {:method => current_method,
                   :class => 'create_form',
                   :id => "new_duty_status_form",
                   :"data-parsley-validate" => ""
                  },
        ) do
    %>

        <%= hidden_field_tag('duty_status[id]', @selected_duty_status[:id] ) %>

        <div class="form-block">
          <section class="form-block-label">Employee</section>
          <section class="form-block-control">
            <select name='duty_status[employee_id]'
                    id='new_duty_status_employee'
                    class='employee_select_field'
                    required="required" >
              <option value="" disabled selected>Select Employee</option>
              <% @employees.each do |employee| %>
                  <% if employee[:id] == @selected_duty_status[:employee_id] %>
                      <option value=<%= employee[:id] %> selected><%= employee.actor.name %></option>
                  <% else %>
                      <option value=<%= employee[:id] %>><%= employee.actor.name %></option>
                  <% end %>
              <% end %>
            </select>
          </section>
        </div>

        <div class="form-block">
          <section class="form-block-label">Duty Status</section>
          <section class="form-block-control">
            <select id="new_duty_status_active" name="duty_status[active]" required="required" style="width: 50%">
              <% if @selected_duty_status[:active] == true %>
                  <option value='' disabled>Duty Status</option>
                  <option value='1' selected>ACTIVE</option>
                  <option value='0'>INACTIVE</option>
              <% elsif @selected_duty_status[:active] == false %>
                  <option value='' disabled>Duty Status</option>
                  <option value='1'>ACTIVE</option>
                  <option value='0' selected>INACTIVE</option>
              <% else %>
                  <option value='' disabled selected>Duty Status</option>
                  <option value='1'>ACTIVE</option>
                  <option value='0'>INACTIVE</option>
              <% end %>
            </select>
          </section>
        </div>

        <div class="form-block">
          <section class="form-block-label">Date of Effectivity</section>
          <section class="form-block-control">
            <input type="datetime-local"
                   step = 1
                   required="required"
                   name="duty_status[date_of_effectivity]"
                   style="width: 50%"
                   value=
                     <%=
                       @selected_duty_status[:date_of_effectivity].present? ?
                               (@selected_duty_status[:date_of_effectivity].strftime('%FT%T') ) :
                               (Time.now)
                              %>>
          </section>
        </div>


        <div class="form-block">
          <section class="form-block-label">Remark/s</section>
          <section class="form-block-control">
            <%= text_area_tag("duty_status[remark]",
                              content = @selected_duty_status[:remark],
                              options = {class: "remark_description",
                                         :"data-parsley-trigger" => "keyup",
                                         :"data-parsley-maxlength"=>"128",
                                         :placeholder => 'Remarks' }) %>

          </section>
        </div>
        <%= generic_form_footer(@selected_duty_status[:id]) %>
    <% end %>

  </div>
  <%= renderCorePartial('employee_quick_profile') %>
</section>