<nav class="top-bar" data-topbar role="navigation">


  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right" style="margin-right: 1%">
      <li>
        <a href="/Access/signin"> <%= image_tag "signin.png" %> <%= t('topbar.sign_in') %> </a>
      </li>
      <li>
        <a href="/Access/registration"> <%= image_tag "register.png" %> <%= t('topbar.register') %> </a>
      </li>
    </ul>

    <!-- Left Nav Section -->
    <ul class="left" style="margin-left: 1%">
      <li><%= link_to(t('topbar.home').upcase , {:controller => "home", :action => "index"} ) %></li>
      <li><%= link_to(t('topbar.parts_library').upcase , {:controller => "home", :action => "index"} ) %></li>
      <li><%= link_to(t('topbar.become_a_supplier').upcase , {:controller => "home", :action => "index"} ) %></li>
      <li><%= link_to(t('topbar.become_a_retailer').upcase , {:controller => "home", :action => "index"} ) %></li>
      <li><%= link_to(t('topbar.store_locations').upcase , {:controller => "home", :action => "index"} ) %></li>
      <li><%= link_to(t('topbar.about_us').upcase , {:controller => "home", :action => "index"} ) %></li>
    </ul>

  </section>
</nav>

<% if(flash[:general_flash_notification]) %>
<div class="tiny button" id="general_flash_notification" > <%= flash[:general_flash_notification] %> &nbsp; &nbsp; &nbsp; &#10060; </div>
<% end %>

<script>
    $( document ).ready(
            $("#general_flash_notification").click(function(){
                $("#general_flash_notification").remove();
            })
    )
</script>