<section class='small-10 columns'>
  <%= preheader_generic_index('Contact Details for any Digital Medium') %>
      <% begin %>
      <table class='generic_index' id='digital_table'>
        <thead>
        <tr>
            <%= generic_index_theadlink('ID') %>
            <%= generic_index_theadlink('URL') %>
            <%= generic_index_theadlink('Association', 'digitable') %>
            <%= generic_index_theadlink('Remark') %>
            <%= generic_index_theadlink_last_head() %>
        </tr>
        </thead>
        <% if @digitals.empty? == true %>
            <%= no_records_found %>
        <% else %>
            <tbody>
            <% @digitals.each do |digital| %>
                <tr>
                  <%= generic_index_id(digital)%>
                  <td>
                    <a href="<%= digital[:url] %>" target="_blank">
                      <%= digital[:url] %>
                    </a>
                  </td>
                  <%= polymorphic_link(digital[:digitable_type],digital[:digitable_id]) %>
                  <%= generic_index_remark(digital[:remark]) %>
                  <%= generic_index_last_rows(digital) %>
                </tr>
            <% end %>
            </tbody>
        <% end %>
      </table>
  <% rescue => ex %>
      <%= generic_index_error(ex) %>
  <% end %>
  <%= generic_index_footer(@digitals) %>
</section>