<section class='small-10 columns'>
  <%= preheader_generic_table('Contact Details for any Digital Medium') %>
      <% begin %>
      <table class='generic_table' id='digital_table'>
        <thead>
        <tr>
            <%= generic_table_theadlink('ID') %>
            <%= generic_table_theadlink('URL') %>
            <%= generic_table_theadlink('remark') %>
            <%= generic_table_theadlink('Association', 'digitable') %>
            <%= generic_table_theadlink('Created At') %>
            <%= generic_table_theadlink('Updated At') %>
        </tr>
        </thead>
        <% if @digitals.empty? == true %>
            <%= no_records_found %>
        <% else %>
            <tbody>
            <% @digitals.each do |digital| %>
                <tr>
                  <td><%= digital[:id].upcase %></td>
                  <td>
                    <a href="<%= digital[:url] %>" target="_blank">
                      <%= digital[:url] %>
                    </a>
                  </td>
                  <td><%= digital[:remark] %> </td>
                  <td>
                    <%= polymorphic_link(digital[:digitable_type],
                                         digital[:digitable_id]) %>
                  </td>
                  <td><%= digital[:created_at] %> </td>
                  <td><%= digital[:updated_at] %> </td>
                  <%= generic_table_actions(digital[:id]) %>
                </tr>
            <% end %>
            </tbody>
        <% end %>
      </table>
  <% rescue => ex %>
      <%= generic_table_error(ex) %>
  <% end %>
  <%= generic_table_footer(@digitals) %>
</section>