<section class='small-10 columns'>
  <%= generic_title('Loan Payments','Displays all loan payments made by employees') %>
  <%= generic_index_search %>
  <% table_orientation = shift_table_orientation %>
  <% begin %>
      <table class='generic_index' id='loan_payments_table'>
        <thead>
        <tr>
          <th>
            Loan Payment ID
            <%= generic_index_theadlink('loan_payments.id', table_orientation) %>
          </th>
          <th>
            Parent Loan ID
            <%= generic_index_theadlink('loan_payments.loan_id', table_orientation) %>
          </th>
          <th>
            MID Number
            <%= generic_index_theadlink('loan_payments.mid_number', table_orientation) %>
          </th>
          <th>
            Payment Amount
            <%= generic_index_theadlink('loan_payments.payment_amount', table_orientation) %>
          </th>
          <th>
            Payment Date
            <%= generic_index_theadlink('loan_payments.payment_date', table_orientation) %>
          </th>
          <th>
            Loan Amount Before Payment
            <%= generic_index_theadlink('loan_payments.loan_amount_before_payment', table_orientation) %>
          </th>
          <th>
            Loan Amount After Payment
            <%= generic_index_theadlink('loan_payments.loan_amount_after_payment', table_orientation) %>
          </th>
        </tr>
        </thead>
        <% if @loan_payments.empty? == true %>
            <% raise exception %>
        <% else %>
            <tbody>
            <% @loan_payments.each do |loan_payment| %>
                <tr>
                  <td><%= loan_payment[:id].upcase %> </td>
                  <td><%= loan_payment[:loan_id] %> </td>
                  <td><%= loan_payment[:mid_number] %> </td>
                  <td><%= loan_payment[:payment_amount] %> </td>
                  <td><%= loan_payment[:payment_date] %> </td>
                  <td><%= loan_payment[:loan_amount_before_payment] %> </td>
                  <td><%= loan_payment[:loan_amount_after_payment] %> </td>
                </tr>
            <% end %>
            </tbody>
        <% end %>
      </table>
  <% rescue => ex %>
      <% puts ex %>
      <%= generic_index_error(ex) %>
  <% end %>
  <%= generic_index_footer(@loan_payments) %>
</section>