<div class="large-1 columns" ></div>
<div class="large-10 columns" >
  <div class="mainheader"> Base Rates </div>
  <div class="subdescription">
    Apply Base Rate to Employees
  </div>
  <div class="large-8 columns">
    <h2 class="miniheader">Employees:</h2>
    <%= select_tag "employee_compensation_benefits_selection", options_from_collection_for_select(@employees, "id", lambda { |employee| employee.entity.name }, "1") %>
    <h2 class="miniheader">Base Rates of Employee</h2>
    <table class="mytable">
      <tr>
        <th>ID</th>
        <th>TYPE</th>
        <th>AMOUNT</th>
        <th>PERIOD OF TIME</th>
        <th>START OF EFFECTIVITY</th>
        <th>END OF EFFECTIVITY</th>
        <th>DESCRIPTION</th>
      </tr>
      <% @base_rates.each do |rates| %>
      <tr>
        <td><%= rates.id %></td>
        <td><%= rates.signed_type %></td>
        <td><%= rates.amount %></td>
        <td><%= rates.period_of_time %></td>
        <td><%= rates.start_of_effectivity %></td>
        <td><%= rates.end_of_effectivity %></td>
        <td><%= rates.description %></td>
      </tr>
      <% end %>
    </table>
    <div align="right">
      <div class="small button">previous</div>
      <div class="small button">next</div>
    </div>
  </div>
  <div class="large-4 columns">
    <h2 class="miniheader">Add New Base Rate</h2>
    <%= form_tag({action: :addNewBaseRate}, multipart: true, id: "add_new_base_rate_form", :"data-parsley-validate" => "" ) do %>
        Type: <br>
        <%= select_tag "signed_type", options_for_select([ "ADDITION", "DEDUCTION" ], "ADDITION") %>
        Amount: <br>
        <%= number_field_tag("amount", value = nil, options = {id:"amount", placeholder: "Amount in Peso (PHP)", :"data-parsley-type" => "number", :"data-parsley-trigger" => "keyup"}) %>
        Period of Time: <br>
        <%= select_tag "period_of_time", options_for_select([ "SECOND", "MINUTE" , "HOUR" , "DAY" , "MONTH" , "YEAR" ], "HOUR") %>
        Start of Effectivity
        <%= select_datetime(options = {id:"start_of_effectivity", placeholder: "Start of Effectivity", :"data-parsley-date" => "",:"data-parsley-trigger" => "keyup"}) %>
        <% defaultDurationOfContract = Time.now + 4.days %>
        End of Effectivity
        <%= select_datetime(options = {id:"end_of_effectivity", placeholder: "End of Effectivity", :"data-parsley-date" => "",:"data-parsley-trigger" => "keyup"}) %>
        Description
        <%= text_field_tag("description", options = {id:"description", placeholder: "Description",:"data-parsley-trigger" => "keyup", :"data-parsley-maxlength"=>"256"}) %>
    <% end %>
  </div>
</div>
<div class="large-1 columns" ></div>

<script>
    $(document).ready(function(){$('#employee_compensation_benefits_selection').selectize({sortField: 'text'});});
</script>