<%= form_tag({action: :registerCandidate}, multipart: true, id: "candidate_registration_form", :"data-parsley-validate" => "" ) do %>
<div class="large-1 columns" ></div>
<div class="large-10 columns" >
    <div class="mainheader"> CANDIDATE REGISTRATION FORM </div>
    <div class="subdescription">
      Set Registration for Potential Employees
    </div>
    <%=
        displayCollectiveResponses();
    %>
    <div class="large-6 columns">
      <h2 class="miniheader">Personal Data</h2>
      <%= renderFormPartial("entity"); %>

      <div class="row">
          <div class="large-4 columns">Birthday: </div>
          <div class="large-8 columns"><%= date_field_tag("biodatum[birthday]", value = nil, options = {id:"birthday", placeholder: "Birthday", :"data-parsley-date" => "",:"data-parsley-trigger" => "keyup"}) %></div><br>
      </div>
      <div class="row">
          <div class="large-4 columns">Height: </div>
          <div class="large-8 columns"><%= number_field_tag("biodatum[height]", value = nil, options = {id:"height", placeholder: "Height in cm", :"data-parsley-type" => "integer", :"data-parsley-trigger" => "keyup"}) %></div><br>
      </div>
      <div class="row">
          <div class="large-4 columns">Sex: </div>
          <div class="large-8 columns">
            <%= radio_button_tag(:sex, 'female')%>  <%= label_tag(:sex_female, "Male") %>
            <%= radio_button_tag(:sex, 'male')%> <%= label_tag(:sex_male, "Female") %>
          </div><br>
      </div>

      <br>
      <%= text_area_tag("biodatum[family_members]", value = nil, options = {id:"family_members", placeholder: "Family Members",:"data-parsley-trigger" => "keyup", :"data-parsley-maxlength"=>"128"}) %>
      <%= text_field_tag("biodatum[complexion]", value = nil, options = {id:"complexion", placeholder: "Complexion",:"data-parsley-trigger" => "keyup", :"data-parsley-maxlength"=>"32"}) %>
      <%= text_field_tag("biodatum[marital_status]", value = nil, options = {id:"marital_status", placeholder: "Marital Status",:"data-parsley-trigger" => "keyup", :"data-parsley-maxlength"=>"32"}) %>
      <%= text_field_tag("biodatum[blood_type]", value = nil, options = {id:"blood_type", placeholder: "Blood Type",:"data-parsley-trigger" => "keyup", :"data-parsley-maxlength"=>"32"}) %>
      <%= text_field_tag("biodatum[religion]", value = nil, options = {id:"religion", placeholder: "Religion",:"data-parsley-trigger" => "keyup", :"data-parsley-maxlength"=>"32"}) %>
    </div>

  <div class="large-6 columns">
    <%= renderFormPartial("system_account_with_options"); %>
  </div>

  <div class="large-6 columns">
    <h2 class="miniheader">Educational Data</h2>
    <%= text_area_tag("biodatum[education]", value = nil, options = {id:"education", placeholder: "Educational Attainment",:"data-parsley-trigger" => "keyup", :"data-parsley-maxlength"=>"32"}) %>
  </div>

  <div class="large-6 columns">
    <h2 class="miniheader">Career Experience</h2>
    <%= text_area_tag("biodatum[career_experience]", value = nil, options = {id:"career_experience", placeholder: "Career Experience",:"data-parsley-trigger" => "keyup", :"data-parsley-maxlength"=>"32"}) %>
    <%= text_area_tag("biodatum[notable_accomplishments]", value = nil, options = {id:"notable_accomplishments", placeholder: "Notable Accomplishments",:"data-parsley-trigger" => "keyup", :"data-parsley-maxlength"=>"32"}) %>
  </div>

  <div class="large-6 columns">
    <h2 class="miniheader">Miscellaneous Data</h2>
    <%= text_area_tag("biodatum[emergency_contact]", value = nil, options = {id:"emergency_contact", placeholder: "Emergency Contact Details",:"data-parsley-trigger" => "keyup", :"data-parsley-maxlength"=>"32"}) %>
    <%= text_area_tag("biodatum[languages_spoken]", value = nil, options = {id:"languages_spoken", placeholder: "Languages Spoken",:"data-parsley-trigger" => "keyup", :"data-parsley-maxlength"=>"32"}) %>
    <hr>
  </div>

  <%= renderFormPartial("related_files"); %>
  <%= renderFormPartial("related_links"); %>
  <%= renderFormPartial("contact_details"); %>

  <div class="row" align="center">
    <hr><input type="submit" class="large button" href="#" value="REGISTER"><hr>
  </div>

</div>
<% end %>
<div class="large-1 columns" ></div>

<script>
</script>