<section class="small-10 columns">
  <div class="mainheader"> Duty Creation </div>
  <div class="subdescription"> Create and Assign a New Duty </div>

  <%= link_to( "[ BACK TO LIST ]" ,{:action => 'employee_accounts_management' }, :class => "action_button action-link-grey" ) %>

  <div class="sm-spacer"></div>

  <% if flash[:notice] %>
      <div data-alert id="alert_success_add_duty" class="alert-box success radius">
        <%= flash[:notice] %>
        <a href="#" class="close">&times;</a>
      </div>
  <% end %>

  <%= form_tag({action: :"create_duty"}, multipart: true, id: "create_duty_form", :"data-parsley-validate" => "" ) do %>

      <div class="float-left">

        <div class="large-3 columns">
          <label>Duty Label
            <%= text_field_tag("duty[label]", value = nil, options = {placeholder: "Label", required: "required", :"data-parsley-trigger" => "keyup",:"data-parsley-minlength"=>"3" ,:"data-parsley-maxlength"=>"64"}) %>
          </label>
        </div>

        <div class="large-3 columns">
          <label>Duty Description
            <%= text_area_tag("duty[description]", value = nil, options = {placeholder: "Description", required: "required", :"data-parsley-trigger" => "keyup",:"data-parsley-minlength"=>"3" ,:"data-parsley-maxlength"=>"64"}) %>
          </label>
        </div>

        <!--  -->
        <div class="large-3 columns">
          <label> <br />
            <%= submit_tag nil, :class => "button tiny" %>
          </label>
        </div>

      </div>

  <% end %>

  <hr>

  <div class="mainheader"> Duties</div>
  <div class="subdescription"> Existing Duties </div>

  <% begin %>
      <% table_orientation = shift_table_orientation %>
      <table class="generic_table">
        <thead>
        <tr>
          <th>
            Duty ID
          </th>
          <th>
            Description
          </th>
          <th>
            Label
          </th>
          <th>
            Created At
          </th>
          <th class="actions">&nbsp;</th>
        </tr>
        </thead>
        <% if @duties.empty? == true %>
            <% raise exception %>
        <% else %>
            <tbody>
            <% @duties.each do |d| %>
                <tr>
                  <td><%= d.id %></td>
                  <td><%= d.description %></td>
                  <td><%= d.label %></td>
                  <td><%= d.created_at %></td>
                </tr>
            <% end %>
            </tbody>
        <% end %>
      </table>

      <div class="pagination_set">
        <span><%= paginate @duties %></span>
      </div>

      <div class="lg-spacer"></div>

  <% rescue %>
      <script>
          html = "<hr><p align='center'> No records found. Please try again. </p><hr>"
          $(".generic_table").replaceWith(html)
      </script>
  <% end %>

</section>