<section class='small-10 columns' xmlns="http://www.w3.org/1999/html">
  <div class='mainheader'> Duty Status Form </div>
  <div class='subdescription'> Set the Status of an Employee </div>
  <hr>
  <div class='small-6 columns'>
  <%= form_tag( {action: :process_duty_status_form}, multipart: true, class: 'create_form', id: "new_duty_status_form", :"data-parsley-validate" => "" ) do %>
    <select name='duty_status[employee_id]'
            id='new_duty_status_employee'
            class='employee_select_field'>
      <option value="" disabled selected>Select Employee</option>
      <% @employees.each do |employee| %>
          <option value=<%= employee.id %>><%= employee.actor.name %></option>
      <% end %>
    </select>
    <select id="new_duty_status_active" name="duty_status[actived]" required="required" style="width: 50%">
      <option value='' disabled selected>Duty Status</option>
      <option value='1'>ACTIVE</option>
      <option value='0'>INACTIVE</option>
    </select>
    <div>Date of Effectivity: <input type="datetime-local" name="duty_status[date_of_effectivity]" style="width: 50%"></div>
    <%= text_area_tag("duty_status[remark]", content = "", options = {class: "remark_description", :"data-parsley-trigger" => "keyup", :"data-parsley-maxlength"=>"128", :placeholder => 'Remarks'}) %>
    <input type="submit" class="small button" value="submit" />
    <% end %>
  </div>
  <%= renderCorePartial('employee_quick_profile') %>
</section>