<style>

    .subheader {
        border-bottom : 1px solid #cccccc;
        display: block;
        padding : 4px;
        font-size : 1.2em;
    }

    .duty-entry {
        border-left : 4px solid maroon;
        display : inline-block;
        margin : 8px 4px;
        padding : 8px;
        width : 49%
    }

    .duty-entry section {
        display : inline-block;
        text-align: left;
    }

    /*.duty-entry section {*/
    /*border : 1px solid maroon;*/
    /*}*/

</style>

<section class="small-10 columns">

  <div class="content">

    <div id="profile-header" class="mainheader">
      <span><%= @employee.actor.name %></span>
      <span id="profile-link-container">
        <!--<a href="/human_resources/employee_accounts_management/employee_account_history"><i class="fa fa-lg fa-list"></i></a>-->
      </span>
    </div>

    <%= link_to( "[ BACK TO LIST ]" ,{:action => 'employee_accounts_management' }, :class => "action_button action-link-grey" ) %>
    &nbsp;
    <%= link_to( "[ DELETE ]" ,{:action => 'delete_employee', :employee_id => @employee.id}, :class => "action_button action-link-grey" ) %>
    &nbsp;
    <%= link_to( "[ EDIT DETAILS ] " ,{:action => 'edit_employee_page', :employee_id => @employee.id, :actor_id => @employee.actor.id}, :class => "action_button action-link-grey" ) %>

    <div class="profile-section employee-profile-detail">

      <span class="subheader"> <i class="fa fa-lg fa-user"></i> Profile Details </span>

      <div class="employee-profile-detail-content">

        <section>
          <span>ID </span>
          <span><%= @employee.id %></span>
        </section>

        <section>
          <span>Actor ID </span>
          <span><%= @employee.actor_id %></span>
        </section>

        <section>
          <span>Created at </span>
          <span><%= @employee.created_at %></span>
        </section>

        <section>
          <span>Updated at </span>
          <span><%= @employee.updated_at %></span>
        </section>

        <section>
          <span>Description </span>
          <span><%= @employee.actor.description %></span>
        </section>

      </div>
    </div>

    <!-- employee accounts profile history -->
    <div class="profile-section employee-profile-detail">

      <span class="subheader"> <i class="fa fa-lg fa-list"></i> Biodata </span>

      <div class="employee-profile-detail-content">

        <section>
          <span>Date of Birth </span>
          <span><%= @biodatum.date_of_birth %></span>
        </section>

        <section>
          <span>Height </span>
          <span><%= @biodatum.height %></span>
        </section>

        <section>
          <span>Sex </span>
          <span><%= @biodatum.gender %></span>
        </section>

        <section>
          <span>Family Members </span>
          <span><%= @biodatum.family_members %></span>
        </section>

        <section>
          <span>Complexion </span>
          <span><%= @biodatum.complexion %></span>
        </section>

        <section>
          <span>Marital Status </span>
          <span><%= @biodatum.marital_status %></span>
        </section>

        <section>
          <span>Blood Type </span>
          <span><%= @biodatum.blood_type %></span>
        </section>

        <section>
          <span>Religion </span>
          <span><%= @biodatum.religion %></span>
        </section>

        <section>
          <span>Education </span>
          <span><%= @biodatum.education %></span>
        </section>

        <section>
          <span>Career Experience </span>
          <span><%= @biodatum.career_experience %></span>
        </section>

        <section>
          <span>Notable Accomplishments </span>
          <span><%= @biodatum.notable_accomplishments %></span>
        </section>

        <section>
          <span>Emergency Contact </span>
          <span><%= @biodatum.emergency_contact %></span>
        </section>

        <section>
          <span>Languages Spoken </span>
          <span><%= @biodatum.languages_spoken %></span>
        </section>

      </div>

    </div>

    <div class="profile-section employee-profile-detail">

      <span class="subheader"> <i class="fa fa-lg fa-user"></i> Branch Details </span>

      <div class="employee-profile-detail-content">

        <section>
          <span>ID </span>
          <span><%= @branch.id %></span>
        </section>

        <section>
          <span>Branch Name </span>
          <span><%= @branch.name %></span>
        </section>

      </div>
    </div>

    <% if !@employeeDuties.nil? %>

        <div class="profile-section employee-profile-detail">

          <span class="subheader"> <i class="fa fa-lg fa-user"></i> On Going Duty </span>

          <br />

          <% @employeeDuties.each do |e| %>

              <div class="employee-profile-detail-content duty-entry">

                <section>
                  <span>Status </span>
                  <span><%= e.remark %></span>
                </section>

                <section>
                  <span>Description </span>
                  <span><%= e.active %></span>
                </section>

                <section>
                  <span>Duty creation date</span>
                  <span><%= e.created_at %></span>
                </section>

              </div>

          <% end %>

        </div>

    <% else %>

    <% end %>

    <div class="profile-section employee-profile-detail">

      <%= form_tag({action: :"assign_duty", :employee_id => @employee.id, :actor_id => @employee.actor.id}, multipart: true, id: "assign_duty_form", :"data-parsley-validate" => "" ) do %>

          <div class="row">

            <div class="md-spacer"></div>

            <div>
              <label>Assign open duty
                <%= select_tag 'duty_dd', options_for_select(@duties.collect{ |d| [d.remark, d.id] }) %>
              </label>
            </div>

            <div>
              <label> <br />
                <%= submit_tag nil, :class => "button tiny" %>
              </label>
            </div>

          </div>

      <% end %>

    </div>

    <div class="lg-spacer"></div>

  </div>

</section>