<%
   # If there is no duty_status; transfer to these variables.
   @selected_employee.attributes.each do |attr_name, attr_value|
     attr_name ||= ''
   end
   @selected_actor.attributes.each do |attr_name, attr_value|
     attr_name ||= ''
   end
   @selected_branch.attributes.each do |attr_name, attr_value|
     attr_name ||= ''
   end
   @selected_access.attributes.each do |attr_name, attr_value|
     attr_name ||= ''
   end
   @selected_biodata.attributes.each do |attr_name, attr_value|
     attr_name ||= ''
   end
   @selected_access.username ||= 'n/a'
   @selected_access.email ||= 'n/a'
   @selected_biodata.emergency_contact ||= 'n/a'
%>

<section class='small-10 columns'>
  <div class='mainheader'> Employee Profile </div>
  <div class='subdescription'> Information about the Employee </div>
  <hr>

  <div class='small-4 columns'>
    <div class='generic_form'>
      <%= form_tag( {action: :employee_profile}, multipart: true, class: 'create_form', id: "employee_profile", :"data-parsley-validate" => "" ) do %>
          <select name='employee[id]'
                  id='read_employee'
                  class='employee_select_field'
                  required="required" >
            <option value="" disabled selected>Select Employee</option>
            <% @employees.each do |employee| %>
                <% if employee.id == @selected_employee.id %>
                    <option value=<%= employee.id %> selected><%= employee.actor.name %></option>
                <% else %>
                    <option value=<%= employee.id %>><%= employee.actor.name %></option>
                <% end %>
            <% end %>
          </select>
      <% end %>
    </div>

    <div class="employee_profile_title"> Employee Data </div>
    <div class="employee_profile_field"> Employee ID: <br> <%= @selected_employee.id %> </div>
    <div class="employee_profile_field"> Branch: <br> <%= @selected_branch.name %> </div>
    <div class="employee_profile_field"> Username: <br>
      <%= link_to( @selected_access.username ,{:controller => 'access', :action => 'signin'}, class: 'employee_profile_small_button') %>
    </div>
    <div class="employee_profile_field"> Email: <br>
      <a class="employee_profile_small_button" href="mailto:<%= @selected_access.email %>" target="_top"><%= @selected_access.email %> </a>
    </div>
    <div class="employee_profile_field"> Last Login: <br> <%= @selected_access.last_login %> </div>
    <div class="employee_profile_field"> Registered At: <br> <%= @selected_employee.created_at %> </div>
    <div class="employee_profile_field"> Updated At: <br> <%= @selected_employee.updated_at %> </div>

    <% if @selected_file_set.present? %>
        <div class="employee_profile_title"> Associated Files </div>
        <% @selected_file_set.each do |file_set| %>
            <div class="employee_profile_field">
              <a class="employee_profile_small_button" href=<%=file_set.file %>> <%= file_set.label %></a>
            </div>
        <% end %>
    <% end %>

  </div>

  <div class='small-4 columns'>
    <div class="employee_profile_title"> Biodata: </div>
    <div class="employee_profile_field"> Education: <br> <%= @selected_biodata.education %> </div>
    <div class="employee_profile_field"> Career Experience: <br> <%= @selected_biodata.career_experience %> </div>
    <div class="employee_profile_field"> Notable Accomplishments: <br> <%= @selected_biodata.notable_accomplishments %> </div>
    <div class="employee_profile_field"> Date of Birth: <br> <%= @selected_biodata.date_of_birth %> </div>
    <div class="employee_profile_field"> Family Members: <br> <%= @selected_biodata.family_members %> </div>
    <div class="employee_profile_field"> Citizenship: <br> <%= @selected_biodata.citizenship %> </div>
    <div class="employee_profile_field"> Gender: <br> <%= @selected_biodata.gender %> </div>
    <div class="employee_profile_field"> Place of Birth: <br> <%= @selected_biodata.place_of_birth %> </div>
    <div class="employee_profile_field"> Emergency Contact: <br> <a class='employee_profile_small_button' href=tel:<%= @selected_biodata.emergency_contact %> > <%= @selected_biodata.emergency_contact %> </a> </div>
    <div class="employee_profile_field"> Languages Spoken: <br> <%= @selected_biodata.languages_spoken %> </div>
    <div class="employee_profile_field"> Complexion: <br> <%= @selected_biodata.complexion %> </div>
    <div class="employee_profile_field"> Height (cm): <br> <%= @selected_biodata.height_cm %> </div>
    <div class="employee_profile_field"> Marital Status: <br> <%= @selected_biodata.marital_status %> </div>
    <div class="employee_profile_field"> Blood Type: <br> <%= @selected_biodata.blood_type %> </div>
    <div class="employee_profile_field"> Religion: <br> <%= @selected_biodata.religion %> </div>
  </div>

  <div class='small-4 columns'>
    <div class="employee_profile_title"> Profile Picture </div>
    <img style='padding: 5px' src= <%= @selected_actor.logo %> />
    <% if @selected_image_set.present? %>
    <div class="employee_profile_title"> Associated Images </div>
        <ul class="small-block-grid-3" >
          <% @selected_image_set.each do |image_set| %>
          <li tooltip=<%= image_set.description %> class='employee_profile_image_container' style='height: 50px;overflow-y: hidden;padding: 5px;'><a class='employee_profile_image_link' target="_blank" href=<%= image_set.picture.url %>> <img src=<%= image_set.picture %>/> </a></li>
          <% end %>
        </ul>
    <% end %>
  </div>

  <div class='small-12 columns'>
    <div class="employee_profile_title"> Contact Details </div>
    <% if @selected_contact_details.present? %>
        <% @selected_contact_details.each do |contact_details| %>
            <%= contact_details.to_s %>
        <% end %>
    <% end %>
  </div>

</section>

<script type="application/javascript">
    $(document).ready(function()
    {
        $('.employee_select_field')
                .selectize({sortField: 'text'})
                .change(function(){
                    employee_id = $('#read_employee').val();
                    current_page = '/human_resources/employee_profile';
                    window.location = current_page + '?employee_id=' + employee_id;
                });

        $('.employee_profile_image_container').qtip({
            content: $(this).attr('tooltipd'),
            position:
            {
                target: 'mouse',
                adjust: {mouse: false}
            }
        });
    });
</script>