<section class='small-10 columns'>

<div class='mainheader'> Employee Accounts Management </div>
<div class='subdescription'> Manage the Accounts of Employees</div>
<hr>
  <%= generic_table_search( 'employee_accounts_search_input', 'employee_accounts_management','Search Employees' , '/human_resources/search_suggestions_employees', 'employee_accounts_management') %>
  <% begin %>
      <% table_orientation = shift_table_orientation %>
      <table class="generic_table" id="employee_accounts_table">
        <thead>
        <tr>
          <th>
            Employee ID <%= generic_table_theadlink('employee_accounts_management','employees.id', table_orientation) %>
          </th>
          <th>
            Name <%= generic_table_theadlink('employee_accounts_management','actors.name', table_orientation) %>
          </th>
          <th>
            Status <%= generic_table_theadlink('employee_accounts_management','dutystatus.label', table_orientation) %>
          </th>
          <th>
            Branch <%= generic_table_theadlink('employee_accounts_management','branches.name', table_orientation) %>
          </th>
          <th>
            Date Registered <%= generic_table_theadlink('employee_accounts_management','employees.created_at', table_orientation) %>
          </th>
          <th>
            Last Updated <%= generic_table_theadlink('employee_accounts_management','employees.updated_at', table_orientation) %>
          </th>
          <th>
            Actions
          </th>
        </tr>
        </thead>
        <% if @employee_accounts.empty? == true %>
            <% raise exception %>
        <% else %>
            <tbody>
            <% @employee_accounts.each do |employee_accounts| %>
                <tr>
                  <td><%= employee_accounts[0] %></td>
                  <td><%= link_to( employee_accounts[1] ,{:action => 'employee_profile', :employee_id => employee_accounts[0]} ) %>
                  </td>
                  <td><%= employee_accounts[2] %></td>
                  <td><%= employee_accounts[3] %></td>
                  <td><%= employee_accounts[4] %></td>
                  <td><%= employee_accounts[5] %></td>
                  <td class="actions">
                    <%= link_to( "[ EDIT &#9998; ]".html_safe ,{:action => 'edit_employee', :employee_id => employee_accounts[0]}, class: 'action_button ' ) %>
                    <%= link_to( "[ DELETE &#10006; ]".html_safe ,{:action => 'delete_employee', :employee_id => employee_accounts[0]}, class: 'action_button delete_item' ) %>
                  </td>
                </tr>
            <% end %>
            </tbody>
        <% end %>
      </table>
  <% rescue %>
      <script>
          html = "<hr><p align='center'> No records found. Please try again. </p><hr>"
          $(".generic_table").replaceWith(html)
      </script>
  <% end %>

  <%= generic_table_footer('employee_registration','/human_resources/employee_accounts_management',@employee_accounts) %>

</section>