<section class="small-10 columns">

  <div class="content">

    <ul class="button-group">


      <section class="left">
        <button type="button" class="button postfix">
          <a href="/human_resources/duty_create" class="button postfix"><i class="fa fa-lg fa-plus"></i></a>
        </button>
      </section>

      <section class="right">

        <div class="-12 columns">

          <div class="row collapse">

            <%= form_tag search_employee_path, :method => 'get' do %>

                <!-- search bar, please check routes.rb for actual route interpolation -->
                <div class="small-8 columns no-padding">
                  <%= text_field_tag :search_employee, params[:search_employee], :placeholder => 'Search by name' %>
                </div>

                <!-- search submit button -->
                <div class="small-2 columns no-padding">
                  <button type="submit" class="button postfix">
                    <i class="fa fa-lg fa-search"></i>
                  </button>
                </div>

                <!-- redirect to employee registration -->
                <div class="small-2 columns no-padding">
                  <button type="button" class="button postfix">
                    <a href="/human_resources/employee_registration" class="button postfix"><i class="fa fa-lg fa-plus"></i></a>
                  </button>
                </div>


            <% end %>

          </div>

        </div>

      </section>

    </ul>

    <table class="small-12">

      <thead>
      <tr>
        <th>&nbsp;</th>
        <th>Employee ID</th>
        <th>Name</th>
        <th>Date Registered</th>
        <th>Last Updated</th>
        <th>Actions</th>
      </tr>
      </thead>

      <tbody>
      <% @employees.each_with_index do |employee, index| %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= employee.id %></td>
            <td><%= link_to( employee.actor.name ,{:action => 'employee_profile', :employee_id => employee.id, :actor_id => employee.actor.id} ) %></td>
            <td><%= employee.created_at %></td>
            <td><%= employee.updated_at %></td>
            <td>
              <a href="/human_resources/employee_registration"><i class="fa fa-trash-o fa-lg northsea-red"></i></a>
              &nbsp;
              <a href="/human_resources/employee_registration"><i class="fa fa-pencil fa-lg northsea-red"></i></a>
            </td>
          </tr>
      <% end %>
      </tbody>

      <%= paginate @employees %>

    </table>

  </div>

</section>
<!--

# CRUD TABLE; Duties of All Employees; employee_id = name; add rank
# BUTTON: Add Employee (employee_registration)
# BUTTON: View Employee (employee_profile)

--!>