<section class="small-10 columns">
<div class="mainheader"> Employee Accounts Management </div>
<div class="subdescription"> Manage the Accounts of Employees</div>
<% table_orientation = shift_table_orientation %>
  <% begin %>
      <table class="generic_table">
        <thead>
        <tr>
          <th>
            Employee ID
            <%= link_to( table_orientation["orientation_symbol"].html_safe ,{:action => 'employee_accounts_management', :order_parameter => "employees.id", :order_orientation => table_orientation["order_orientation"] } ) %>
          </th>
          <th>
            Name
            <%= link_to( table_orientation["orientation_symbol"].html_safe ,{:action => 'employee_accounts_management', :order_parameter => "actors.name", :order_orientation => table_orientation["order_orientation"] } )%>
          </th>
          <th>
            Status
            <%= link_to( table_orientation["orientation_symbol"].html_safe ,{:action => 'employee_accounts_management', :order_parameter => "dutystatus.label", :order_orientation => table_orientation["order_orientation"] } )%>
          </th>
          <th>
            Branch
            <%= link_to( table_orientation["orientation_symbol"].html_safe ,{:action => 'employee_accounts_management', :order_parameter => "branches.name", :order_orientation => table_orientation["order_orientation"] } )%>
          </th>
          <th>
            Date Registered
            <%= link_to( table_orientation["orientation_symbol"].html_safe ,{:action => 'employee_accounts_management', :order_parameter => "employees.created_at", :order_orientation => table_orientation["order_orientation"] } )%>
          </th>
          <th>
            Last Updated
            <%= link_to( table_orientation["orientation_symbol"].html_safe ,{:action => 'employee_accounts_management', :order_parameter => "employees.updated_at", :order_orientation => table_orientation["order_orientation"] } )%>
          </th>
          <th class="actions">&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <% @employee_accounts.each do |employee_accounts| %>
            <tr>
              <td><%= employee_accounts[0] %></td>
              <td><%= link_to( employee_accounts[1] ,{:action => 'employee_profile', :employee_id => employee_accounts[0], :actor_id => employee_accounts[6]} ) %>
              </td>
              <td><%= employee_accounts[2] %></td>
              <td><%= employee_accounts[3] %></td>
              <td><%= employee_accounts[4] %></td>
              <td><%= employee_accounts[5] %></td>
              <td class="actions">
                <a href="" class="action_button" >[ EDIT &#9998; ]</a>
                &nbsp;
                <a href="" class="action_button" >[ DELETE &#10006; ]</a>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
  <% rescue %>
      <hr>
      <p align="center"> No Data Available | Error Occurred </p>
      <hr>
  <% end %>
</section>