<section class="small-10 columns">

<div class="mainheader"> Employee Accounts Management </div>
  <div class="subdescription"> Manage the Accounts of Employees</div>

<table class="generic_table">
  <thead>
  <tr>
    <th>Employee ID &#x25C0; </th>
    <th>Name</th>
    <th>Status</th>
    <th>Branch</th>
    <th>Date Registered</th>
    <th>Last Updated</th>
    <th class="actions">&nbsp;</th>
  </tr>
  </thead>
  <tbody>
  <% @employees.each_with_index do |employee, index| %>
      <tr>
        <td><%= employee.id %></td>
        <td><%= link_to( employee.actor.name ,{:action => 'employee_profile', :employee_id => employee.id, :actor_id => employee.actor.id} ) %>
        </td>
        <td><%= employee.duty_status.last.label %></td>
        <td><%= employee.branch.name %></td>
        <td><%= employee.created_at %></td>
        <td><%= employee.updated_at %></td>
        <td class="actions">
          <a href="" class="action_button" >[ ADD &#9998; ]</a>
          &nbsp;
          <a href="" class="action_button" >[ DELETE &#10006; ]</a>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>


</section>