<section class="small-10 columns">

<div class="mainheader"> Employee Accounts Management </div>
  <div class="subdescription"> Manage the Accounts of Employees</div>

<table class="generic_table">
  <thead>
  <tr>
    <th>Employee ID</th>
    <th>Name</th>
    <th>Status</th>
    <th>Branch</th>
    <th>Date Registered</th>
    <th>Last Updated</th>
    <th>&nbsp;</th>
  </tr>
  </thead>
  <tbody>
  <% @employees.each_with_index do |employee, index| %>
      <tr>
        <td><%= employee.id %></td>
        <td><%= link_to( employee.actor.name ,{:action => 'employee_profile', :employee_id => employee.id, :actor_id => employee.actor.id} ) %>
        </td>
        <td><%= employee.duty_status.last.label %></td>
        <td><%= employee.branch.name %></td>
        <td><%= employee.created_at %></td>
        <td><%= employee.updated_at %></td>
        <td>
          <a href="/human_resources/employee_registration"><i class="fa fa-trash-o fa-lg northsea-red"></i></a>
          &nbsp;
          <a href="/human_resources/employee_registration"><i class="fa fa-pencil fa-lg northsea-red"></i></a>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>


</section>