<section class='small-10 columns'>
  <div class='mainheader'> Employee Accounts Management </div>
  <div class='subdescription'> Manage the Accounts of Employees</div>
  <hr>

  <% if flash[:deleteEmployeeNotice] %>
      <div data-alert id="alert_success_add_duty" class="alert-box success radius">
        <%= flash[:deleteEmployeeNotice] %>
        <a href="#" class="close">&times;</a>
      </div>
  <% end %>


  <%= generic_table_search('employee_accounts_management', 'search_employee_accounts_management', 'Search Employees') %>


  <% begin %>
      <% table_orientation = shift_table_orientation %>
      <table class="generic_table">
        <thead>
        <tr>
          <th>
            Employee ID
            <%= link_to( table_orientation["orientation_symbol"].html_safe ,{:action => 'employee_accounts_management', :order_parameter => "employees.id", :order_orientation => table_orientation["order_orientation"] } ) %>
          </th>
          <th>
            Name
            <%= link_to( table_orientation["orientation_symbol"].html_safe ,{:action => 'employee_accounts_management', :order_parameter => "actors.name", :order_orientation => table_orientation["order_orientation"] } )%>
          </th>
          <th>
            Status
            <%= link_to( table_orientation["orientation_symbol"].html_safe ,{:action => 'employee_accounts_management', :order_parameter => "dutystatus.label", :order_orientation => table_orientation["order_orientation"] } )%>
          </th>
          <th>
            Branch
            <%= link_to( table_orientation["orientation_symbol"].html_safe ,{:action => 'employee_accounts_management', :order_parameter => "branches.name", :order_orientation => table_orientation["order_orientation"] } )%>
          </th>
          <th>
            Date Registered
            <%= link_to( table_orientation["orientation_symbol"].html_safe ,{:action => 'employee_accounts_management', :order_parameter => "employees.created_at", :order_orientation => table_orientation["order_orientation"] } )%>
          </th>
          <th>
            Last Updated
            <%= link_to( table_orientation["orientation_symbol"].html_safe ,{:action => 'employee_accounts_management', :order_parameter => "employees.updated_at", :order_orientation => table_orientation["order_orientation"] } )%>
          </th>
          <th>
            Actions
          </th>
        </tr>
        </thead>
        <% if @employee_accounts.empty? == true %>
            <% raise exception %>
        <% else %>
            <tbody>
            <% @employee_accounts.each do |employee_accounts| %>
                <tr>
                  <td><%= employee_accounts[0] %></td>
                  <td><%= link_to( employee_accounts[1] ,{:action => 'employee_profile', :employee_id => employee_accounts[0], :actor_id => employee_accounts[6]} ) %>
                  </td>
                  <td><%= employee_accounts[2] %></td>
                  <td><%= employee_accounts[3] %></td>
                  <td><%= employee_accounts[4] %></td>
                  <td><%= employee_accounts[5] %></td>
                  <td class="actions">
                    <a href="" class="action_button" >[ EDIT &#9998; ]</a>
                    &nbsp;
                    <a href="" class="action_button" >[ DELETE &#10006; ]</a>
                  </td>
                </tr>
            <% end %>
            </tbody>
        <% end %>
      </table>

      <div class="pagination_set">
        <span><%= paginate @employee_accounts %></span>
      </div>
  <% rescue %>
      <script>
          html = "<hr><p align='center'> No records found. Please try again. </p><hr>"
          $(".generic_table").replaceWith(html)
      </script>
  <% end %>

  <%= generic_table_add_and_reset('/human_resources/employee_registration', '/human_resources/reset_search_employees', '/human_resources/duty_create') %>

</section>