<% begin %>

    <script>

        function open_all_payrolls()
        {
            <%= @branch_employees.each do |employee| %>
            window.open('/human_resources/compensation_and_benefits/payrolls/employee?id=' + <% raw employee.id %> + '&start_date=' + <% raw @start_date %> + '&end_date=' + <% raw @end_date %> + '\'', '_blank');
            <% end %>

        }

    </script>

    <table class="generic_table" id="branch_employees_table">
      <thead>
      <tr>
        <th>
          Employee ID
        </th>
        <th>
          Employee Name
        </th>
        <th>
          Payroll Link
        </th>
        <th class="actions" align="center">&nbsp;</th>
      </tr>
      </thead>

      <tbody>
      <% @branch_employees.each do |employee| %>
          <tr>
            <td><%= employee.id %></td>
            <td><%= employee.actor.name %></td>
            <td><%= link_to "View", {:controller => "payrolls", :action => "employee", :id => employee.id, :start_date => @start_date, :end_date => @end_date } %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
<% rescue => ex %>
    <%= generic_table_error(ex) %>
<% end %>


<div >
  <a class="tiny button" id="test" onclick="open_all_payrolls()"> Open All Payrolls </a>
</div>

<style>
    #branch_employees_table tr td, #branch_employees_table tr th {
        text-align : center;
        width : 33%
    }
</style>
