<div class="generic_content">
  <span class="table-label">Final Calculations</span>
  <% if (@selected_vales.present?) %>
      <table class="generic_table">
        <thead>
        <tr>
          <th>Article</th>
          <th>Signed Type</th>
          <th>Balance</th>
        </tr>
        </thead>
        <tbody>
        <%
           total_vale = 0
           @selected_vales.each do |selected_vale|
             payment_in_period = vale_payment_in_period(@start_date, @end_date, selected_vale)
        %>
            <tr>
              <td><%= selected_vale[:date_of_effectivity].strftime('%m/%d/%Y') %></td>
              <td><%= remaining_vale_balance(selected_vale[:id], @start_date ) %></td>
              <td><%= selected_vale[:remark] %></td>
              <td><%= payment_in_period %></td>
              <td class="actions">
                <%=
                    link = '/human_resources/compensation_and_benefits/vales/'
                    link_to( "&#128083;".html_safe,
                             link+selected_vale[:id],
                             class: 'payroll_examine_button',
                             target: '_blank',
                    )
                %>
              </td>
            </tr>
            <%
               current_vale = payment_in_period
               total_vale += current_vale
            %>
        <% end %>
        <tr>
          <td colspan="3">
            TOTAL PAYMENT IN PERIOD:
          </td>
          <td class="subtotal">
            <%= total_vale %>
          </td>
          <td></td>
        </tr>
        </tbody>
      </table>
  <% end %>
  <%=
      generic_payroll_add_link('/human_resources/compensation_and_benefits/vales/new?employee_id=',
                               @selected_employee[:id])
  %>
</div>