<section class='small-10 columns'>
  <div class='mainheader'> Payroll per Employee </div>
  <div class='subdescription'> Payroll of an Employee for a Specific Period in Time  </div>
  <hr>

  <%=
      form_tag( {:action => 'employee'},
                {:method => :get,
                 :class => 'create_form',
                 :id => "new_employee_process_form",
                 :"data-parsley-validate" => ""
                },
      ) do
  %>
  <div class="generic_content">
    <div class="small-3 columns">
      EMPLOYEE:
      <select name='id'
              class='employee_select_field'
              style="width: 100%; display: inline;"
              required="required" >

        <option value="" disabled selected>Select Employee</option>
        <% @employees.each do |employee| %>
            <% if employee.id == @selected_employee.id %>
                <option value=<%= employee.id %> selected><%= employee.actor.name %></option>
            <% else %>
                <option value=<%= employee.id %>><%= employee.actor.name %></option>
            <% end %>
        <% end %>
      </select>
    </div>
    <div class="small-3 columns">
      START DATE:
      <input name='start_date'
             value="<%= @start_date.present? ? @start_date : Time.now.strftime('%F') %>"
             type="date" style="width: 100%; display: inline;"
             required="required">
    </div>
    <div class="small-3 columns">
      END DATE:
      <input name='end_date'
             value="<%= @end_date.present? ? @end_date : Time.now.strftime('%F') %>"
             type="date" style="width: 100%; display: inline;"
             required="required">
    </div>
    <div class="small-3 columns">
      <br>
      <input type="submit"
             class="tiny button"
             style="width: 100%; display: inline;"
             value="Generate">
    </div>
  </div>
  <% end %>

  <hr>

  <% if (@selected_employee.present?) && (@start_date.present?) && (@end_date.present?)  %>

    <div class="small-6 columns generic_content">
      <% if (@selected_attendances.present?) %>
      Attendance:
          <table class="generic_table">
            <thead>
            <th>Day</th>
            <th>Time In</th>
            <th>Time Out</th>
            <th>Regular</th>
            <th>OT</th>
            <th>NSD</th>
            <th>OT+NSD</th>
            <th>Remark</th>
            </thead>
            <tbody>
            <% @selected_attendances.each do |attendance| %>
            <tr>
              <td>
                <%= attendance.date_of_attendance.strftime('%Y-%m-%d') %>
              </td>
              <td><%= attendance.timein.strftime('%T') %></td>
              <td><%= attendance.timeout.strftime('%T') %></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td><%= attendance.remark %></td>
            </tr>
            <% end %>
            </tbody>
          </table>
      <% else %>
          &nbsp;
      <% end %>
    </div>

    <div class="small-6 columns generic_content">
      <% if (@valid_periods.present?) %>
          Valid Periods of Duty:
          <table class="generic_table">
            <thead>
            <th>Date Start</th>
            <th>Date End</th>
            </thead>
            <tbody>
            <% @valid_periods.each do |valid_period| %>
                <tr>
                  <td><%= valid_period[:start_period] %></td>
                  <td><%= valid_period[:end_period] %></td>
                </tr>
            <% end %>
            </tbody>
          </table>
      <% else %>
          &nbsp;
      <% end %>
    </div>

  <% end %>

</section>