<section class='small-10 columns'>
  <%= generic_title('Payroll per Employee','Payroll of an Employee for a Specific Period in Time') %>
  <%=
      form_tag( {:action => 'employee'},
                {:method => :get,
                 :class => 'create_form',
                 :id => "new_employee_process_form",
                 :"data-parsley-validate" => ""
                },
      ) do
  %>
  <div class="generic_content">
    <div class="small-3 columns">
      EMPLOYEE:
      <select name='id'
              class='employee_select_field'
              style="width: 100%; display: inline;"
              required="required" >

        <option value="" disabled selected>Select Employee</option>
        <% @employees.each do |employee| %>
            <% if employee.id == @selected_employee.id %>
                <option value=<%= employee.id %> selected><%= employee.actor.name %></option>
            <% else %>
                <option value=<%= employee.id %>><%= employee.actor.name %></option>
            <% end %>
        <% end %>
      </select>
    </div>
    <div class="small-3 columns">
      START DATE:
      <input name='start_date'
             value="<%= @start_date.present? ? @start_date : Time.now.strftime('%F') %>"
             type="date" style="width: 100%; display: inline;"
             required="required">
    </div>
    <div class="small-3 columns">
      END DATE:
      <input name='end_date'
             value="<%= @end_date.present? ? @end_date : Time.now.strftime('%F') %>"
             type="date" style="width: 100%; display: inline;"
             required="required">
    </div>
    <div class="small-3 columns">
      <br>
      <input type="submit"
             class="tiny button"
             style="width: 100%; display: inline;"
             value="Generate">
    </div>
  </div>
  <% end %>

  <hr>

  <% if (@selected_employee.present?) && (@start_date.present?) && (@end_date.present?)  %>

      <div class="generic_content">
        <% if (@valid_periods.present?) %>
            <span class="table-label">Valid Periods of Duty</span>
            <table class="generic_table">
              <thead>
              <th>Date Start</th>
              <th>Date End</th>
              </thead>
              <tbody>
              <% @valid_periods.each do |valid_period| %>
                  <tr>
                    <td><%= valid_period[:start_period] %></td>
                    <td><%= valid_period[:end_period] %></td>
                  </tr>
              <% end %>
              </tbody>
            </table>

            <%=
                generic_payroll_add_link('/human_resources/employee_accounts_management/duty_statuses/new?employee_id=',
                                         @selected_employee[:id])
            %>

        <% else %>
            &nbsp;
        <% end %>
      </div>

    <div class="generic_content">
    <% if (@base_rates_applied_to_payment_scheme.present?) %>
        <span class="table-label">BASE RATES APPLIED TO PAYMENT SCHEME:</span>
        <table class="generic_table">
          <thead>
          <th>Original Start</th>
          <th>Original End</th>
          <th>Rate Type</th>
          <th>Amount per Hour</th>
          <th>Remark</th>
          </thead>
          <tbody>
          <% @base_rates_applied_to_payment_scheme.each do |base_rate| %>
              <tr>
                <td><%= base_rate[:start_of_effectivity] %></td>
                <td><%= base_rate[:end_of_effectivity] %></td>
                <td>
                  <%=
                      base_rate[:rate_type]
                  %>
                </td>
                <td>
                  <%= base_rate[:signed_type] ? "( + )" : "( - )" %>
                  <%= convert_base_rate_amount_to_hours(base_rate[:amount],base_rate[:period_of_time]) %>
                </td>
                <td><%= base_rate[:remark] %></td>
                <td class="actions">
                  <%= generic_payroll_examine_link('/human_resources/compensation_and_benefits/base_rates/',
                                                   base_rate[:id]) %>
                </td>
              </tr>
          <% end %>
          </tbody>
        </table>
    <% end %>

    <% if (@base_rates_applied_to_valid_period.present?) %>
        <span class="table-label">BASE RATES APPLIED TO VALID PERIOD:</span>
        <table class="generic_table">
          <thead>
          <th>Original Start</th>
          <th>Original End</th>
          <th>Amount</th>
          <th>Period</th>
          <th>Remark</th>
          </thead>
          <tbody>
          <% @base_rates_applied_to_valid_period.each do |base_rate| %>
              <tr>
                <td><%= base_rate[:start_of_effectivity] %></td>
                <td><%= base_rate[:end_of_effectivity] %></td>
                <td>
                  <%= base_rate[:signed_type] ? "( + )" : "( - )" %>
                  <%= base_rate[:amount] %>
                </td>
                <td>
                  <%= base_rate[:period_of_time] %>
                </td>
                <td><%= base_rate[:remark] %></td>
                <td class="actions">
                  <%= generic_payroll_examine_link('/human_resources/compensation_and_benefits/base_rates/',
                                                   base_rate[:id]) %>
                </td>
              </tr>
          <% end %>
          </tbody>
        </table>
    <% else %>
        &nbsp;
    <% end %>

    <div class="generic_content" style="float:right;">
      <%=
          generic_payroll_add_link('/human_resources/compensation_and_benefits/base_rates/new?employee_id=',
                                   @selected_employee[:id])
      %>
    </div>

    </div>



    <div class="generic_content">
      <% if (@selected_lump_adjustments.present?) %>
          <span class="table-label">LUMP ADJUSTMENTS APPLIED:</span>
          <table class="generic_table">
            <thead>
                <tr>
                  <th>Date</th>
                  <th>Amount</th>
                  <th>Remark</th>
                </tr>
            </thead>
            <tbody>
            <%
               total_lump_adjustments = 0
               @selected_lump_adjustments.each do |selected_lump_adjustment|
            %>
                <tr>
                  <td><%= selected_lump_adjustment[:date_of_effectivity] %></td>
                  <td>
                    <%= selected_lump_adjustment[:signed_type] ? "( + )" : "( - )" %>
                    <%= selected_lump_adjustment[:amount] %>
                  </td>
                  <td><%= selected_lump_adjustment[:remark] %></td>
                  <td class="actions">
                    <%= generic_payroll_examine_link('/human_resources/compensation_and_benefits/lump_adjustments/',
                                                     selected_lump_adjustment[:id]) %>
                  </td>
                </tr>
                <% current_lump_adjustments = signed_amount(selected_lump_adjustment[:signed_type], selected_lump_adjustment[:amount]) %>
                <% total_lump_adjustments = total_lump_adjustments + current_lump_adjustments %>
            <% end %>
            <tr>
              <td>
                TOTAL:
              </td>
              <td class="subtotal" colspan="2">
                <%= total_lump_adjustments %>
              </td>
              <td>&nbsp;</td>
            </tr>
            </tbody>
          </table>
          <%= generic_payroll_add_link('/human_resources/compensation_and_benefits/lump_adjustments/new?employee_id=',
                                       @selected_employee[:id]) %>
      <% end %>
    </div>

    <div class="generic_content">
    <% if (@selected_lump_adjustments.present?) %>
        <span class="table-label">VALES APPLIED:</span>
        <table class="generic_table">
          <thead>
          <tr>
            <th>Date</th>
            <th>Balance</th>
            <th>Remark</th>
          </tr>
          </thead>
          <tbody>
          <%
             total_vale = 0
             @selected_vales.each do |selected_vale|
          %>
              <tr>
                <td><%= selected_vale[:date_of_effectivity] %></td>
                <td><%= remaining_vale_balance(selected_vale[:id]) %></td>
                <td><%= selected_vale[:remark] %></td>
                <td class="actions">
                  <%= generic_payroll_examine_link('/human_resources/compensation_and_benefits/vales/',selected_vale[:id]) %>
                </td>
              </tr>
              <% current_vale = remaining_vale_balance( selected_vale[:id] ) %>
              <% total_vale = total_vale + current_vale %>
          <% end %>
          <tr>
            <td>
              REMAINING BALANCE:
            </td>
            <td colspan="2" class="subtotal">
              <%= total_vale %>
            </td>
            <td></td>
          </tr>
          </tbody>
        </table>

        <%=
            generic_payroll_add_link('/human_resources/compensation_and_benefits/vales/new?employee_id=',
                                     @selected_employee[:id])
        %>

    <% end %>
    </div>

    <div class="generic_content">

    </div>



    <hr>
    <div class="generic_content">
      <% if (@selected_attendances.present?) %>
          <span class="table-label">ATTENDANCE - PAYMENT SCHEME</span>
          <table class="generic_table">
            <thead>
            <tr>
              <th colspan="3">Attendance</th>
              <th colspan="4">Number of Hours</th>
              <th colspan="4">Payment per Hour</th>
              <th colspan="4">Aggregated Payment</th>
            </tr>
            <tr>
              <th>Day</th>
              <th>Time In</th>
              <th>Time Out</th>
              <th>REG</th>
              <th>OT</th>
              <th>NSD</th>
              <th>OT NSD</th>
              <th>REG</th>
              <th>OT</th>
              <th>NSD</th>
              <th>OT NSD</th>
              <th>REG</th>
              <th>OT</th>
              <th>NSD</th>
              <th>OT NSD</th>
              <th>TOTAL</th>
              <th>Remark</th>
            </tr>
            </thead>
            <tbody>
            <%
               total_regular_work_hours = 0
               total_overtime_hours = 0
               total_night_shift_differential_hours = 0
               total_ot_nsd_hours = 0

               total_reg = 0
               total_ot = 0
               total_nsd = 0
               total_ot_nsd = 0

               total_for_selection = 0
               @selected_attendances.each do |attendance|
            %>
            <%
               date_aspect = attendance.date_of_attendance.strftime('%Y-%m-%d')
               time_aspect_in = attendance.timein.strftime('%T')
               time_aspect_out = attendance.timeout.strftime('%T')
               current_attendance_date_time = date_aspect + ' ' + time_aspect_in
               rest_day_token = display_if_rest_day(@selected_employee.id,attendance.date_of_attendance.strftime('%A'),current_attendance_date_time ).present?

               regular_work_hours = categorize_work_hours( time_aspect_in, time_aspect_out, current_attendance_date_time)[:regular_work_hours]
               overtime_hours = categorize_work_hours( time_aspect_in, time_aspect_out, current_attendance_date_time)[:overtime]
               night_shift_differential_hours = categorize_work_hours( time_aspect_in, time_aspect_out, current_attendance_date_time)[:night_shift_differential_hours]
               ot_nsd_hours = categorize_work_hours( time_aspect_in, time_aspect_out, current_attendance_date_time)[:ot_nsd]

               reg = base_rates(@selected_employee.id, current_attendance_date_time,rest_day_token)[:reg]
               ot = base_rates(@selected_employee.id, current_attendance_date_time,rest_day_token)[:ot]
               nsd = base_rates(@selected_employee.id, current_attendance_date_time,rest_day_token)[:nsd]
               ot_nsd = base_rates(@selected_employee.id, current_attendance_date_time,rest_day_token)[:ot_nsd]

               total_regular_work_hours = total_regular_work_hours + regular_work_hours
               total_overtime_hours = total_overtime_hours + overtime_hours
               total_night_shift_differential_hours = total_night_shift_differential_hours + night_shift_differential_hours
               total_ot_nsd_hours = total_ot_nsd_hours + ot_nsd_hours

               total_reg = total_reg + reg
               total_ot = total_ot + ot
               total_nsd = total_nsd + nsd
               total_ot_nsd = total_ot_nsd + ot_nsd

               total_for_attendance = (regular_work_hours*reg)+(overtime_hours*ot)+(night_shift_differential_hours*nsd)+(ot_nsd_hours*ot_nsd)
               total_for_selection = total_for_attendance + total_for_selection
            %>
            <tr>
              <td>
                <%= date_aspect %> <br>
                <%= display_if_rest_day(@selected_employee.id,attendance.date_of_attendance.strftime('%A'),current_attendance_date_time ) %>
                <%= display_if_holiday(date_aspect) %>
              </td>
              <td><%= time_aspect_in %></td>
              <td><%= time_aspect_out %></td>
              <td><%= regular_work_hours %></td>
              <td><%= overtime_hours %></td>
              <td><%= night_shift_differential_hours %></td>
              <td><%= ot_nsd_hours %></td>
              <td><%= reg %></td>
              <td><%= ot %></td>
              <td><%= nsd %></td>
              <td><%= ot_nsd %></td>
              <td><%= (regular_work_hours*reg).round(2) %></td>
              <td><%= (overtime_hours*ot).round(2) %></td>
              <td><%= (night_shift_differential_hours*nsd).round(2) %></td>
              <td><%= (ot_nsd_hours*ot_nsd).round(2) %></td>
              <td><%= total_for_attendance.round(2) %></td>
              <td><%= attendance.remark %></td>
              <td class="actions">
                <%= link_to( "&#128083;".html_safe,
                             '/human_resources/attendance_performance/attendances/' + attendance.id + '/edit',
                             class: 'action_button',
                             target: '_blank',
                             tooltip: 'Examine') %>
              </td>
            </tr>
            <% end %>
            <tr>
              <td colspan="3"><div align="right"> TOTAL : </div></td>

              <td><%= total_regular_work_hours.round(2) %></td>
              <td><%= total_overtime_hours.round(2) %></td>
              <td><%= total_night_shift_differential_hours.round(2) %></td>
              <td><%= total_ot_nsd_hours.round(2) %></td>

              <td></td>
              <td></td>
              <td></td>
              <td></td>

              <td></td>
              <td></td>
              <td></td>
              <td></td>

              <td colspan="2"><%= total_for_selection.round(2) %></td>

            </tr>
            </tbody>
          </table>
      <% else %>
          &nbsp;
      <% end %>
      <%=
          link_to( "Add New Attendance".html_safe,
                   '/human_resources/attendance_performance/attendance/new?employee_id='+@selected_employee[:id],
                   class: 'tiny button payroll_add_button',
                   target: '_blank',
          )
      %>
    </div>
  <% end %>

</section>