<section class='small-10 columns'>

  <%= generic_title('Payroll per Employee','Payroll of an Employee for a Specific Period in Time') %>

  <%= render "human_resources/compensation_and_benefits/payrolls/initial_date_employee_selector" %><hr>
  <%= render "human_resources/compensation_and_benefits/payrolls/models_applied" %><hr>
  <%= render "human_resources/compensation_and_benefits/payrolls/attendance_payment_scheme" %><hr>
  <%= render "human_resources/compensation_and_benefits/payrolls/final_calculations" %>

</section>