<div class="large-10 columns" >
  <br>
  <div class="mainheader">Access Control</div>
  <div class="subremark"> Set Access Control Options for all Users </div>
  <table>
    <tr>
        <th scope="column">DATE REGISTERED</th>
        <th scope="column">NAME</th>
        <th scope="column">USERNAME</th>
        <th scope="column">VERIFICATION</th>
        <th scope="column">SECURITY LEVEL</th>
        <th scope="column">KNOWN TYPES</th>
    </tr>
    <% @accesses.each do |access| %>
    <tr>
      <td> <%= access.username%> </td>
      <td> <%= access.username %> </td>
      <td> <%= access.username %> </td>
      <td> <%= access.username %> </td>
      <td> <%= access.username %> </td>
      <td> <%= access.username %> </td>
    </tr>
    <% end %>
  </table>
</div>