<%= form_tag({action: :register}, multipart: true, id: "system_registration_form", :"data-parsley-validate" => "" ) do %>
<div class="row">

  <div class="mainheader"><%= t('access.header_registration') %></div>
  <div class="subdescription"> <%= t('access.header_description_registration') %> </div>
  <%= displayCollectiveResponses %>
  <div class="row">
    <div class="large-6 columns">
      <h2 class="miniheader"> <%= t('access.header_system_account') %> </h2>
      <%= renderFormPartial("system_account"); %>
    </div>

    <div class="large-6 columns"d>
      <h2 class="miniheader"><%= t('access.header_personalCompanyDetails') %></h2>
      <%= renderFormPartial("actor"); %>
    </div>
  </div>

  <%= renderFormPartial("contact_details"); %>

   <div class="row" align="center">
     <hr><input type="submit" class="large button" href="#" value= <%= t('access.button_register') %> ><hr>
   </div>

</div>
<% end %>