<%= form_tag({action: :register}, multipart: true, id: "system_registration_form", :"data-parsley-validate" => "" ) do %>
<div class="row">

  <div class="mainheader">Account Registration</div>
  <div class="subdescription"> In order to serve you better; we would like to ask more about you and your business. Please fill out the following forms carefully. Read our Privacy Policy for more details. </div>
  <%= displayCollectiveResponses(); %>
  <div class="row">
    <div class="large-6 columns">
      <h2 class="miniheader">System Account</h2>
      <%= renderFormPartial("system_account"); %>
    </div>

    <div class="large-6 columns">
      <h2 class="miniheader">Personal / Company Details</h2>
      <%= renderFormPartial("actor"); %>
    </div>
  </div>

  <%= renderFormPartial("contact_details"); %>

   <div class="row" align="center">
     <hr><input type="submit" class="large button" href="#" value="REGISTER"><hr>
   </div>

</div>
<% end %>