<br><br><br><br><br>


<div class="row">
<div class="large-3 columns">&nbsp;</div>
<div class="large-6 columns">

  <%= form_tag({action: :processSignin}, multipart: false, id: "signin_form", :"data-parsley-validate" => "" ) do %>
    <div class="row">
        <h1 class="mainheader">Sign In</h1>

      <%=
          text_field_tag("access[username_or_email]",
                         value = nil,
                         options = {id:"username_or_email",
                                    placeholder:  t('access.siginin_username_or_email'),
                                    required: "required",
                                    :"data-parsley-trigger" => "keyup",
                                    :"data-parsley-minlength" => "3",
                                    :"data-parsley-maxlength" => "64" })
      %>

      <%= text_field_tag("access[password]",
                         value = nil,
                         options = {id: "password",
                                    placeholder: t('access.password'),
                                    required: "required",
                                    type: "password",
                                    :"data-parsley-trigger" => "keyup",
                                    :"data-parsley-minlength"=>"8" ,
                                    :"data-parsley-maxlength"=>"64"} )
      %>


      <div align="right"> <%= t('access.remmeber_me') %> [ <%= check_box_tag("rememberme", value = "1", checked = false, options = {}) %> ] <br> </div>
        <div align="right"><input type="submit" class="medium button" href="#" value="LOG IN"> </div>

        <br><br><hr>
        <div align="center"><a class="whitebackgroundlink" href="account_recovery"> Recover Account through Email </a></div>

    </div>
<% end %>

</div>
<div class="large-3 columns">&nbsp;</div>
</div>