<div class="form-block">
  <div class="label">Model</div>
  <br />
  <select id="model-dropdown" name='digital[rel_model_type]'
          style="width: 50%"
          required="required" >
    <% if @selected_digital[:rel_model_type] == 'Actor' %>
        <option value="Actor" selected>Actor</option>
        <option value="Branch">Branch</option>
    <% elsif @selected_digital[:rel_model_type] == 'Branch' %>
        <option value="Actor">Actor</option>
        <option value="Branch" selected>Branch</option>
    <% else %>
        <option disabled selected>Select Model</option>
        <option value="Actor">Actor</option>
        <option value="Branch">Branch</option>
    <% end %>
  </select>
</div>

<div id="actor-selector" class="form-block">
  <div class="label">Actor</div>
  <br />
  <select name='digital[rel_model_id]'
          id='new_digital_rel_model_id1'
          class='employee_select_field selectized'
          style="width: 50%">

    <option value="" disabled selected>Select Actor</option>
    <% @actors.each do |actor| %>
        <% if actor.id == @selected_digital[:rel_model_id] %>
            <option value=<%= actor.id %> selected><%= actor.name %></option>
        <% else %>
            <option value=<%= actor.id %>><%= actor.name %></option>
        <% end %>
    <% end %>
  </select>
</div>

<div id="branch-selector" class="form-block">
  <div class="label">Branch</div>
  <br />
  <select name='digital[rel_model_id]'
          id='new_digital_rel_model_id2'
          class='employee_select_field selectized'
          style="width: 50%">

    <option value="" disabled selected>Select Branch</option>
    <% @branches.each do |branch| %>
        <% if branch.id == @selected_digital[:rel_model_id] %>
            <option value=<%= branch.id %> selected><%= branch.name %></option>
        <% else %>
            <option value=<%= branch.id %>><%= branch.name %></option>
        <% end %>
    <% end %>
  </select>
</div>

<div class="form-block">
  <div class="label">Email</div>
  <input type="email"
         required="required"
         placeholder="Enter URL"
         data-parsley-trigger = keyup
         data-parsley-type = email
         data-parsley-maxlength = 64
         id="digital_url"
         style="width: 50%"
         value= "<%= @selected_digital[:url] %>"
         name="digital[url]">
</div>

<div class="form-block">
  <div class="label">Description</div>
  <input type="text"
         required="required"
         placeholder="Enter URL description"
         data-parsley-trigger = keyup
         data-parsley-maxlength = 64
         id="digital_description"
         style="width: 50%"
         value= "<%= @selected_digital[:description] %>"
         name="digital[description]">
</div>


<script>
    // selectize
    $(document).ready(function(){
        $('#new_digital_rel_model_id').selectize({
            sortField: 'text'
        })
        ;

        $('#new_digital_rel_model_id1').selectize({sortField: 'text'});
        $('#new_digital_rel_model_id2').selectize({sortField: 'text'});
        $("#branch-selector select[name*='digital[rel_model_id]']").prop('disabled', true);
        $("#actor-selector").hide();
        $("#branch-selector").hide();

    });

    $("#model-dropdown").change(function(){
        if($("#model-dropdown").val() == "Actor"){
            $("#actor-selector").show();
            $("#branch-selector select[name*='digital[rel_model_id]']").prop('disabled', true);
            $("#actor-selector select[name*='digital[rel_model_id]']").removeAttr('disabled');
            $("#branch-selector").hide();
        } else if($("#model-dropdown").val() == "Branch"){
            $("#branch-selector").show();
            $("#actor-selector select[name*='digital[rel_model_id]']").prop('disabled', true);
            $("#branch-selector select[name*='digital[rel_model_id]']").removeAttr('disabled');
            $("#actor-selector").hide();
        }
    });
</script>