<div class="form-block">
  <div class="label">Email</div>
  <input type="email"
         required="required"
         placeholder="Enter URL"
         data-parsley-trigger = keyup
         data-parsley-type = email
         data-parsley-maxlength = 64
         id="digital_url"
         value= "<%= @selected_digital[:url] %>"
         name="digital[url]">
</div>

<div class="form-block">
  <div class="label">Description</div>
  <input type="text"
         required="required"
         placeholder="Enter URL description"
         data-parsley-trigger = keyup
         data-parsley-maxlength = 64
         id="digital_description"
         value= "<%= @selected_digital[:description] %>"
         name="digital[description]">
</div>


<div class="form-block">
  <div class="label">Involved  : </div>

  <% if @digital_actor_rel.present? %>
      <table class="telephonycontainer" style="width : 100%; border : none; !important">
        <tr id="primary" class="telephonyset">
          <% @actorsInvolved.each_with_index do |actor, index| %>
              <td>
                <select name='digital[digitalactors[0]]'
                        class='digits'
                        disabled='disabled'
                        required="required" >
                  <option value="" disabled selected>Select Actor</option>
                  <% @actors1.each do |actor| %>
                      <% if actor.id == @actorsInvolved[index].id %>
                          <option value=<%= actor.id %> selected><%= 'Actor - ' + actor.name %></option>
                      <% else %>
                          <option value=<%= actor.id %>><%= actor.name %></option>
                      <% end %>
                  <% end %>

                  <% @actors2.each do |actor| %>
                      <% if actor.id == @actorsInvolved[index].id %>
                          <option value=<%= actor.id %> selected><%= 'Branch - ' + actor.name %></option>
                      <% else %>
                          <option value=<%= actor.id %>><%= actor.name %></option>
                      <% end %>
                  <% end %>
                </select>
              </td>
              </tr>
          <% end %>
          </table>

  <% else %>

      <table class="telephonycontainer" style="width : 100%; border : none; !important">
        <tr id="primary" class="telephonyset">
          <td>
            <select name='digital[digitalactors[0]]'
                    class='digits'
                    required="required" >
              <option value="" disabled selected>Select Actor</option>
              <% @actors1.each do |actor| %>
                  <option value=<%= actor.id %>><%= 'Actor - ' + actor.name %></option>
              <% end %>
              <% @actors2.each do |actor| %>
                  <option value=<%= actor.id %>><%= 'Branch - ' + actor.name %></option>
              <% end %>
            </select>
          </td>
        </tr>
      </table>

  <% end %>

  <%= renderItemListerButtons("Add Actor :", "addInvolved()","deleteInvolved()") %>

</div>

<script>

    $telephonyCounter = 0;

    function addInvolved()
    {

        $telephonyCounter++;

        var clonedTelephonySet = $("#primary.telephonyset").clone();
        clonedTelephonySet.attr("id","digital_digitalactors_" + $telephonyCounter);
        clonedTelephonySet.find(".digits").attr("id","digital_digitalactors_" + $telephonyCounter);
        clonedTelephonySet.find(".digits").attr("name","digital[digitalactors["+$telephonyCounter+"]]");
        clonedTelephonySet.find(".digits").find('option:eq(0)').prop('selected', true);
        clonedTelephonySet.find(".digits").removeAttr('disabled');
        clonedTelephonySet.appendTo($(".telephonycontainer"));
    }

    //delete new telephony with id and name set to current counter
    function deleteInvolved()
    {
        $('#digital_digitalactors_'+$telephonyCounter+'.telephonyset').remove();
        if($telephonyCounter <= 0)
        {$telephonyCounter = 0 }
        else
        {$telephonyCounter--;}
    }


</script>

