<%= form_tag({action: :processConstants}, multipart: true, id: "constant_form", :"data-parsley-validate" => "" ) do %>
    <div class="large-1 columns" ></div>
    <div class="large-10 columns" >
      <div class="mainheader"> Constants </div>
      <div class="subdescription">
        Department-set variables for the different processes
      </div>

      <%=
          displayCollectiveErrors();
      %>

      <hr>
      <div align="center">
        <%= flash[:notice] %>
        <hr>
      </div>
      <% @constants.each do |constant| %>
          <div class="row"></div>
          <div class="small-2 columns"> &nbsp; </div>
          <div class="small-2 columns" align="right"> <%= constant.description %> </div>
          <div class="small-4 columns"> <%= text_field_tag("constants["+constant.name+"]", value = constant.constant, options = {placeholder: constant.constant, class: "constant_value", :"data-parsley-trigger" => "keyup", :"data-parsley-maxlength"=>"128"}) %> </div>
          <div class="small-4 columns"> &nbsp; </div>
          <div class="row"></div>
      <% end %>

      <div class="row" align="center">
        <hr><input type="submit" class="large button" href="#" value="Apply Changes"><hr>
      </div>

    </div>
<% end %>
<div class="large-1 columns" ></div>
<script>

</script>