<section class="small-10 columns">
  <%= generic_title(@title,@subtitle) %>
  <div class="generic_singlecolumn_form">
    <%= generic_form_edit_id_indicator(model[:id]) %>
    <%
       model_id_name = @singular_model_name + '[id]'
       model[:id].present? ?
               (current_method = :patch; current_action = model[:id] ) :
               (current_method = :post; current_action = 'create')
    %>
    <%=
        form_tag( {:action => current_action},
                  {:method => current_method,
                   :class => 'create_form',
                   :id => "new_duty_status_form",
                   :"data-parsley-validate" => ""
                  },
        ) do
    %>
        <%= hidden_field_tag(model_id_name, model[:id] ) %>
        <%= render @form_location %>
        <%= generic_form_footer(model[:id]) %>
    <% end %>
  </div>
</section>