<div class="generic_form_button_set" align="center">

  <%= renderCorePartial('generic_back_to_index_button') %>

  <% if wizard_activated? %>

      <input type="reset" class="tiny button" value="RESET" />
      <% if wizard_path != previous_wizard_path %>
          <%= link_to( "PREVIOUS".html_safe, previous_wizard_path, class: 'tiny button') %>
      <% end %>
      <%= link_to( "SKIP".html_safe, next_wizard_path, class: 'tiny button') %>
      <input type="submit" class="tiny button" value="CONFIRM AND NEXT" />

  <% else %>

      <% if action_name == 'new' %>

          <input type="reset" class="tiny button" value="RESET" />
          <input type="submit" class="tiny button" value="SUBMIT" />
          <%= f.button  :submit , name: "subaction",value: "update"%>

      <% elsif action_name == 'edit' %>

          <input type="reset" class="tiny button" value="RESET" />
          <%= link_to( "DELETE".html_safe, {:action => 'delete', :id => selected_model_id}, class: 'tiny button deletable_item') %>
          <input type="submit" class="tiny button" value="SUBMIT" />

      <% elsif action_name == 'show' %>

          <%= link_to( "EDIT RECORD".html_safe ,{:action => 'edit', :id => selected_model_id}, class: 'tiny button') %>
          <script>
              $(".main_form").find("input").prop("disabled", true);
              $("selectize").prop("disabled", true);
              $("textarea").prop("disabled", true);
              $("select").prop("disabled", true);
          </script>

      <% end %>
  <% end %>
</div>