<section class="large-10 columns">

  <%=
      # Set Header
      if (defined?(wizard_path)).nil?
        if action_name == "new"
          subtitle = @subtitle
        elsif action_name == "edit"
          subtitle = @subtitle + " | " + selected_model_instance[:id].to_s
        elsif action_name == "show"
          subtitle = @subtitle + " | " + selected_model_instance[:id].to_s
        else
          subtitle = ""
        end
        generic_title(@title, subtitle)
      else
        generic_title(@title, @subtitle)
      end
  %>

    <%
       current_method = ''
       current_action = ''

       selected_model_instance[:id].present? ?
               (current_method = :patch; current_url = selected_model_instance[:id] ) :
               (current_method = :post; current_url = '')

       if wizard_activated?
         partial_path = selected_model_instance.main_representation[:controller_path] + '/form'
         form_url = wizard_path
         current_method = :patch
       else
         partial_path = controller_path + '/form'
         form_url = '/' + controller_path + '/' + current_url.to_s
       end
    %>

    <%=
        simple_form_for controller_path,
                        :url => form_url ,
                        :html => { :'data-parsley-validate' => '',
                                   :class => 'main_form',
                                   :method => current_method} do |f|
    %>
      <% if wizard_activated? == true %>
          <input type="hidden" value=<%= params[:wizard_primary_model_id] %> name="wizard_primary_model_id">
      <% end %>
        <%= f.hidden_field :id, :value => selected_model_instance[:id] %>
        <%=
            render(:partial => partial_path,
                   :locals => {:f => f,
                               :selected_model_instance => selected_model_instance})
        %>

        <hr style="visibility: hidden">
        <div class="large-12 columns">
        <%= generic_form_footer(selected_model_instance[:id], f) %>
        </div>
    <% end %>

</section>