<section class="large-10 columns">

  <%= # sets the title for the form based on operation
      if (defined?(wizard_path)).nil?
        case action_name
          when 'new'
            current_subtitle = @subtitle
          when 'edit'
            current_subtitle = @subtitle + ' | ' + selected_model_instance[:id].to_s
          when 'show'
            current_subtitle = @subtitle + ' | ' + selected_model_instance[:id].to_s
          else
            current_subtitle = ''
        end
      else
        current_subtitle = @subtitle
      end
      generic_title(@title, current_subtitle)
  %>

  <%
     if wizard_activated?
       number_of_steps = Float( wizard_steps.count ) + 1.0
       step_number = Float( wizard_steps.find_index(step) ) + 1.0
       percent_progress = ((step_number/number_of_steps)*100).round(2)
  %>
      <div class="progress">
        <span class="meter" style="width: <%= percent_progress %>%; background-color: #721314; font-size: 10px; color: white;">
        </span>
        <div class="subremark"> COMPLETION | <%= percent_progress %>%</div>
      </div>
      <hr style="visibility: hidden"><hr>
  <% end %>

    <%
       current_method = ''
       current_action = ''

       selected_model_instance[:id].present? ?
               (current_method = :patch; current_url = selected_model_instance[:id] ) :
               (current_method = :post; current_url = '')

       if wizard_activated?
         partial_path = selected_model_instance.main_representation[:controller_path] + '/form'
         form_url = wizard_path
         current_method = :patch
       else
         partial_path = controller_path + '/form'
         form_url = '/' + controller_path + '/' + current_url.to_s
       end
    %>

    <%=
        simple_form_for controller_path,
                        :url => form_url ,
                        :html => { :'data-parsley-validate' => '',
                                   :class => 'main_form',
                                   :method => current_method} do |f|
    %>

      <% if wizard_activated? == true %>
          <input type="hidden" value=<%= params[:wizard_primary_model_id] %> name="wizard_primary_model_id">
      <% end %>
        <%= f.hidden_field :id, :value => selected_model_instance[:id] %>
        <%= render(partial: partial_path, locals: {f: f, selected_model_instance: selected_model_instance}) %>
        <hr style="visibility: hidden">
        <div class="large-12 columns">
        <%= render_form_footer(f, selected_model_instance[:id]) %>
        </div>
    <% end %>

</section>

<script>
    <% unless wizard_activated? %>
    <% if action_name == 'show' %>
    try { $current_selectize[0].selectize.disable(); }
    catch(err) {}
    <% end %>
    <% end %>
</script>