<div class="row collapse">
  <div class="small-6 columns">
    <% amount_identifier = attribute_name.to_s + "_amount_field"; %>
    <%= f.input amount_identifier.to_sym,
                :as => :float,
                :label => "Amount in PHP",
                label_html: { class: 'form_label' },
                :input_html =>
                        {
                                :id => amount_identifier,
                                :value => selected_model_instance[attribute_name.to_sym] ||= 0.00,
                                :'data-parsley-trigger' => 'keyup',
                                :'data-parsley-maxlength' => 32,
                                :min => 0,
                                :pattern => "[0-9]+(\.[0-9][0-9]?)?",
                                :step => 0.01
                        }
    %>
  </div>
  <%
     require 'net/http'
     require 'json'
     url = 'http://api.fixer.io/latest'
     uri = URI(url)
     response = Net::HTTP.get(uri)
     currency_array = Hash.new
     currency_array = (JSON.parse(response)["rates"]).keys
  %>
  <div class="small-6 columns">
    <% currency_identifier = attribute_name.to_s + "_currency_field"; %>
    <%= f.input currency_identifier.to_sym,
                collection: currency_array,
                :label => "Currency",
                :selected => 'PHP',
                label_html: { class: 'form_label' },
                :input_html =>
                        {
                                :id => currency_identifier,
                                :value => selected_model_instance[attribute_name.to_sym],
                                :'data-parsley-trigger' => 'keyup',
                                :'data-parsley-maxlength' => 256
                        }
    %>
  </div>
</div>

<input id="amount_in_currency" type="hidden" name="<%= controller_path.to_s + '[' + attribute_name + ']' %>" value="">

<script>

    function change_money_value()
    {
        amount_in_currency = parseFloat( $("#<%= amount_identifier %>").val() );
        currency =  $("#<%= currency_identifier %>").val();
        amount_in_PHP = fx.convert(amount_in_currency, {from: currency, to: "PHP"});
        $("#amount_in_currency").val(amount_in_PHP);
    }

    $("#<%= currency_identifier %>").change( function(){ change_money_value() } );
    $("#<%= amount_identifier %>").change( function(){ change_money_value() }  );


</script>