<div>

  <%
     if main_model != nil
       models = main_model.class.all_polymorphic_types(polymorphic_attribute.to_sym)
     else
       models = Association.allowed_associations
     end
  %>

  <div class="form-block" style="float: left; width: 50%;">
    <div class="form_label"> Associative Model </div>
    <select name='<%= (controller_path + '[' + polymorphic_attribute + '_id]') %>'
            class=''
            id='<%= (controller_path + '_' + polymorphic_attribute + '_id').gsub("/", "_") %>'
            required="required">
      <option value="" disabled selected>Select Model</option>
      <% models.each do |allowable_model|%>
          <%
             instance_models = allowable_model.all()
          %>
          <% instance_models.each do |model| %>
              <option value=<%= model.id %> data-modeltype="<%= allowable_model %>" ><%= model.main_representation %></option>
          <% end %>
      <% end %>
    </select>
  </div>

  <input id="<%= (controller_path + '_' + polymorphic_attribute + '_type').gsub("/", "_") %>"
         name="<%= (controller_path + '[' + polymorphic_attribute + '_type]') %>"
         type="hidden"
         value="">

</div>

<script>

    // Get Selector Element Type
    model_selector_type = ('#' + '<%= controller_path + '_' + polymorphic_attribute + '_type' %>').replace("/", "_").replace("/", "_");

    // Get Selector Element ID
    model_selector_id = ('#' + '<%= controller_path + '_' + polymorphic_attribute + '_id' %>').replace("/", "_").replace("/", "_");

    // Initialize Selectize for Type
    var current_selectize = $(model_selector_id).selectize({
        onInitialize: function () {
            var s = this;
            this.revertSettings.$children.each(function () {
                $.extend(s.options[this.value], $(this).data());
            });
        },
        onChange: function (value) {
            var option = this.options[value];
            $(model_selector_type).val( option.modeltype );
        }
    });

    // Disable if Show
    if ('<%= action_name %>' == 'show')
    {
        try
        {
            current_selectize[0].selectize.disable();
        }
        catch(err)
        {}
    }

</script>