<div>

  <% models = main_model.all_polymorphic_types(polymorphic_attribute.to_sym).map(&:to_s) %>

  <div class="form-block" style="float: left;">
    <div class="form_label">Type :</div>
    <select name='<%= (controller_path + '[' + polymorphic_attribute + '_type]') %>'
            class=''
            id='<%= (controller_path + '_' + polymorphic_attribute + '_type').gsub("/", "_") %>'
            required="required">
      <option value="" disabled selected>Select Model</option>
      <% models.each do |model|%>
          <option value=<%= model %>><%= model %></option>
      <% end %>
    </select>
  </div>

  <div class="form-block" style="float: left;">
    <div class="form_label">ID :</div>
    <select name='<%= (controller_path + '[' + polymorphic_attribute + '_id]') %>'
            class=''
            id='<%= (controller_path + '_' + polymorphic_attribute + '_id').gsub("/", "_") %>'
            required="required">
      <option value="" disabled selected>Select Model</option>
    </select>
  </div>

</div>


<script>

    // Get Selector Element Type
    model_selector_type = ('#' + '<%= controller_path + '_' + polymorphic_attribute + '_type' %>').replace("/", "_").replace("/", "_");

    // Get Selector Element ID
    model_selector_id = ('#' + '<%= controller_path + '_' + polymorphic_attribute + '_id' %>').replace("/", "_").replace("/", "_");

    // Hide ID Block
    parent_model_selector_id = $(model_selector_id).parent()
    parent_model_selector_id.css("visibility","hidden");

    // Initialize Selectize for Type
    $(model_selector_type).selectize({
        sortField: 'text'
    });

    // On Change
    $(model_selector_type.replace("/", "_")).change( function(){

        $(model_selector_id).selectize()[0].selectize.destroy();

        // Get JSON
        path = '/' + '<%= controller_path + '/get_model_id?query=' %>' + $(model_selector_type).val();
        $.getJSON( path, function( data ) {

            options_array = []
            $.each( data, function( key, val ) {
                options_array.push(
                        { id: val.id, title: val.name }
                );
            });

            $(model_selector_id).selectize({
                sortField: 'text',
                labelField: "title",
                valueField: "id",
                options: options_array
            });

        });

        // Show ID Blockv
        parent_model_selector_id.css("visibility","visible");

     });
</script>