<div class="large-12 columns">

  <!-- Related Models -->
  <% if wizard_activated? %>
      <div class="item_cell" style="float:left;">
        <%=
            primary_model = primary_model_type.constantize.find_by_id(primary_model_id)
            render :partial => primary_model.main_representation[:controller_path] + '/cell',
                   locals: {result: primary_model, controller_link: controller_link(primary_model) }
        %>
      </div>
  <% end %>

  <%
     contact_detail_array = Array.new
     associated_files_array = Array.new
     implied_associations = Array.new
     miscellanous = Array.new
     SystemAssociation.allowed_associations.each do |main_model|
       current_attribute = extract_polymorphic_attribute(main_model)
       if current_attribute != nil
         current_attribute_type = (current_attribute.to_s + "_type")
         current_attribute_id = (current_attribute.to_s + "_id")
         where_statement = current_attribute_type + " = ? AND " + current_attribute_id + " = ?"
         unless main_model.class == SystemAssociation
           models = main_model.where(where_statement,primary_model_type,primary_model_id)
         end
         system_association_model_one = SystemAssociation.where("model_one_type = ? AND model_one_id = ? ",primary_model_type,primary_model_id)
         system_association_model_two = SystemAssociation.where("model_two_type = ? AND model_one_id = ? ",primary_model_type,primary_model_id)
         total_model = models + system_association_model_one + system_association_model_two
         models.each do |model|
           contact_detail_array.push(model) if (model.class == Telephone || model.class == Address || model.class == Digital)
           associated_files_array.push(model) if (model.class == FileSet || model.class == ImageSet || model.class == LinkSet)
           implied_associations.push(model) if (model.class == SystemAssociation)
         end
       end
     end
  %>

  <!-- Display Array Forms -->
  <%= render_related_models('Contact Details', contact_detail_array) %>
  <%= render_related_models('Associated Files', associated_files_array ) %>
  <%= render_related_models('Implied Associations', implied_associations) %>

</div>

<%= render "common_partials/hover_item_cell" %>