<section class="small-10 columns">
  <%= generic_title(@subtitle,@title) %>
  <div class="generic_single_column_form">
    <%= generic_form_edit_id_indicator(model[:id]) %>
    <%
       current_method = ''
       current_action = ''
       model_id_name = @singular_model_name + '[id]'
       model[:id].present? ?
               (current_method = :patch; current_url = model[:id] ) :
               (current_method = :post; current_url = '')
    %>
    <%=
        simple_form_for controller_path,
                        :url => '/' + controller_path + '/' + current_url.to_s ,
                        :html => { :'data-parsley-validate' => '',
                                   :method => current_method} do |f|
    %>
        <%= f.hidden_field :id, :value => model[:id] %>
        <%= render(:partial => controller_path + '/form', :locals => {:f => f}) %>
        <%= generic_form_footer(model[:id]) %>
    <% end %>
  </div>
</section>