<div class="large-6 columns">

  <% action_name == 'new' ? file_requirement = true : file_requirement = false %>

  <%= f.input :picture,
              required: file_requirement,
              :as => :file,
              :label => "Picture",
              label_html: { class: 'form_label' },
              :input_html =>
                      {
                              :value => selected_model_instance[:picture]
                      }
  %>

  <%= f.input :priority,
              :as => :integer,
              required: false,
              :label => "Priority",
              label_html: { class: 'form_label' },
              :input_html =>
                      {
                              :value => selected_model_instance[:priority]
                      }
  %>
  <%= generic_form_remark_field(f, selected_model_instance[:remark]) %>
  <%= polymorphic_selector(selected_model_instance,'imagesetable',f) %>
</div>

<div class="large-6 columns">
  <% if action_name != 'new' %>
      <img src="<%= selected_model_instance.picture.url %>">
      <hr style="visibility: hidden">
  <% end %>
</div>

<%= related_models(params[:wizard_primary_model_type],params[:wizard_primary_model_id]) if wizard_activated? %>