<div class="large-6 columns">

  <% action_name == 'new' ? file_requirement = true : file_requirement = false %>

  <%= f.input :picture,
              required: file_requirement,
              as: :file,
              label: "Picture",
              label_html: { class: 'form_label' },
              input_html: { value: selected_model_instance[:picture] }
  %>

  <%= f.input :priority,
              as: :integer,
              required: false,
              label: "Priority",
              label_html: { class: 'form_label' },
              input_html: { value: selected_model_instance[:priority] } %>

  <%= render_remark_field(f, selected_model_instance[:remark]) %>
  <%= render_polymorphic_selector(f, selected_model_instance,'imagesetable') %>
</div>

<div class="large-6 columns">
  <% if action_name != 'new' %>
      <img src="<%= selected_model_instance.picture.url %>">
      <hr style="visibility: hidden">
  <% end %>
</div>

<%= related_models(params[:wizard_primary_model_type],params[:wizard_primary_model_id]) if wizard_activated? %>