<%= generic_index_id(result)%>

<%= generic_index_table_image(result.picture) %>

<td>
  <%= result[:priority] %>
</td>

<td>
  <%= polymorphic_link(result[:imagesetable_type],result[:imagesetable_id]) %>
</td>

<%= generic_index_remark(result[:remark]) %>
<%= generic_index_last_rows(result) %>

