<section class='small-10 columns'>
  <%= preheader_generic_table('Pictures of Assets') %>
  <% begin %>
      <table class='generic_table' id='image_set_table'>
        <thead>
        <tr>
          <%= generic_table_theadlink('ID') %>
          <%= generic_table_theadlink('Image') %>
          <%= generic_table_theadlink('Association', 'imagesetable') %>
          <%= generic_table_theadlink('Remark') %>
          <%= generic_table_theadlink_last_head() %>
        </tr>
        </thead>
        <% if @image_sets.empty? == true %>
            <%= no_records_found %>
        <% else %>
            <tbody>
            <% @image_sets.each do |image_set| %>
                <tr>
                  <%= generic_table_id(image_set)%>
                  <td style="background-image: url( '<%= image_set.picture.url %>' ); border: solid #808080 thick; background-position: center;">
                    <a target="_blank"
                       class="show_panel_small_button"
                       href= <%= image_set.picture.url %> >
                      <%= image_set[:picture] %></a>
                  </td>
                  <%= polymorphic_link(image_set[:imagesetable_type],image_set[:imagesetable_id]) %>
                  <%= generic_table_remark(image_set[:remark]) %>
                  <%= generic_table_last_rows(image_set) %>
                </tr>
            <% end %>
            </tbody>
        <% end %>
      </table>
  <% rescue => ex %>
      <%= generic_table_error(ex) %>
  <% end %>
  <%= generic_table_footer(@image_sets) %>
</section>