<section class='small-10 columns'>
  <%= preheader_generic_table('Pictures of Assets') %>
  <% begin %>
      <table class='generic_table' id='image_set_table'>
        <thead>
        <tr>
          <%= generic_table_theadlink('ID') %>
          <%= generic_table_theadlink('URL') %>
          <%= generic_table_theadlink('Association', 'digitable') %>
          <%= generic_table_theadlink('Remark') %>
          <%= generic_table_theadlink_last_head() %>
        </tr>
        </thead>
        <% if @digitals.empty? == true %>
            <%= no_records_found %>
        <% else %>
            <tbody>
            <% @digitals.each do |digital| %>
                <tr>
                  <%= generic_table_id(digital)%>
                  <td>
                    <a href="<%= digital[:url] %>" target="_blank">
                      <%= digital[:url] %>
                    </a>
                  </td>
                  <%= polymorphic_link(digital[:digitable_type],digital[:digitable_id]) %>
                  <%= generic_table_remark(digital[:remark]) %>
                  <%= generic_table_last_rows(digital) %>
                </tr>
            <% end %>
            </tbody>
        <% end %>
      </table>
  <% rescue => ex %>
      <%= generic_table_error(ex) %>
  <% end %>
  <%= generic_table_footer(@digitals) %>
</section>