<div><%= result[:id].upcase %></div>
<div>
  <a href="<%= result[:url] %>">
    <%= result[:url] %>
  </a>
</div>
<div> <%= polymorphic_link(result[:linksetable_type],result[:linksetable_id]) %></div>
<div><%= result[:remark] %></div>

<%= generic_index_actions( result ) %>