<div class="form-block">
  <div class="label">Date of Implementation  : </div>
  <input type="date"
         required="required"
         name="holiday[date_of_implementation]"
         id="holiday_date_0"
         <% if !@selected_holiday[:id].present? %>
         data-parsley-trigger = keyup
         data-parsley-remote
         data-parsley-remote-validator='unique-holiday-date'
         <% end %>
         <%= @selected_holiday[:date_of_implementation].present? ? "value=" + @selected_holiday[:date_of_implementation].strftime('%m/%d/%Y') : '' %>>

</div>

<div class="form-block">
  <div class="label">Type of Holiday  : </div>
  <br />
  <select name='holiday[holiday_type_id]'
          required="required" >
    <option value="" disabled selected>Select Type of Holiday</option>
    <% @holiday_types.each do |holiday_type| %>
        <% if holiday_type.id == @selected_holiday[:holiday_type_id] %>
            <option value=<%= holiday_type[:id] %> selected><%= holiday_type[:type_name] %></option>
        <% else %>
            <option value=<%= holiday_type[:id] %>><%= holiday_type[:type_name] %></option>
        <% end %>
    <% end %>
  </select>
</div>

<div class="form-block">
  <div class="label">Name of Holiday : </div>
  <input type="text"
         required="required"
         placeholder="Name of Holiday"
         data-parsley-trigger = keyup
         data-parsley-maxlength = 64
         id="holiday_name"
         value= "<%= @selected_holiday[:name] %>"
         name="holiday[name]">
</div>

<div class="form-block">
  <div class="label">remark  : </div>
  <%=
      text_area_tag("holiday[remark]",
                    content = @selected_holiday[:remark],
                    options = {class: "remark_remark",
                               :"data-parsley-trigger" => "keyup",
                               :"data-parsley-maxlength"=>"128",
                               :placeholder => 'remark' })
  %>
</div>
