<section class='small-10 columns'>
  <div class='mainheader'> Holidays </div>
  <div class='subdescription'> A day fixed by law or custom on which ordinary business is suspended in commemoration of some event or in honor of some person.  </div>
  <hr>
  <%= generic_table_search %>
  <% table_orientation = shift_table_orientation %>
  <% begin %>
      <table class="generic_table" id="holidays_table">
        <thead>
        <tr>
          <th>
            Holidays ID
            <%= generic_table_theadlink('holidays.id', table_orientation) %>
          </th>
          <th>
            Type
            <%= generic_table_theadlink('holiday_types.type_name', table_orientation) %>
          </th>
          <th>
            Name
            <%= generic_table_theadlink('holidays.name', table_orientation) %>
          </th>
          <th>
            Description
            <%= generic_table_theadlink('holidays.description', table_orientation) %>
          </th>
          <th>
            Date of Implementation
            <%= generic_table_theadlink('holidays.date_of_implementation', table_orientation) %>
          </th>
          <th>
            Date Created
            <%= generic_table_theadlink('holidays.created_at', table_orientation) %>
          </th>
          <th>
            Last Updated
            <%= generic_table_theadlink('holidays.updated_at', table_orientation) %>
          </th>
          <th class="actions" align="center">&nbsp;</th>
        </tr>
        </thead>
        <% if @holidays.empty? == true %>
            <% raise exception %>
        <% else %>
            <tbody>
            <% @holidays.each do |holiday| %>
                <tr>
                  <td><%= holiday[:id] %></td>
                  <td><%= link_to( holiday.holiday_type.type_name ,{:action => 'edit_holiday_type', :holiday_type_id => holiday.holiday_type.id} ) %></td>
                  <td><%= holiday[:name] %></td>
                  <td><%= holiday[:description] %></td>
                  <td><%= holiday[:date_of_implementation] %></td>
                  <td><%= holiday[:created_at] %></td>
                  <td><%= holiday[:updated_at] %></td>
                  <td class="actions">
                    <%= generic_table_actions(holiday[:id]) %>
                  </td>
                </tr>
            <% end %>
            </tbody>
        <% end %>
      </table>
  <% rescue => ex%>
      <script>
          html = "<hr><p align='center'> No records found. Please try again.</p><hr>"
          $(".generic_table").replaceWith(html)
      </script>
  <% end %>
  <%= generic_table_footer(@holidays) %>
</section>