<section class='small-10 columns'>
  <%= preheader_generic_table('Collection of Addresses, Telephone Numbers and URL\'s for contacting entities within the system','Contact Details') %>
  <% begin %>
      <table class='generic_table' id='digital_table'>
        <thead>
        <tr>
          <th>Type</th>
          <th>Name</th>
          <th>Details</th>
          <%= generic_table_theadlink('Remark') %>
          <%= generic_table_theadlink_last_head() %>
        </tr>
        </thead>
        <% if @contact_details.empty? == true %>
            <%= no_records_found %>
        <% else %>
            <tbody>
            <% @contact_details.each do |contact_detail| %>
                <tr>
                  <td> <%= contact_detail.class %> </td>
                  <% if contact_detail.class == Address %>
                      <%= polymorphic_link(contact_detail[:addressable_type],contact_detail[:addressable_id]) %>
                      <td>
                        Longitude: <%= contact_detail[:longitude] %> <br>
                        Latitude: <%= contact_detail[:latitude] %>
                      </td>
                  <% elsif contact_detail.class == Digital %>
                      <%= polymorphic_link(contact_detail[:digitable_type],contact_detail[:digitable_id]) %>
                      <td>
                        URL: <%= contact_detail[:url] %>
                      </td>
                  <% elsif contact_detail.class == Telephone %>
                      <%= polymorphic_link(contact_detail[:telephonable_type],contact_detail[:telephonable_id]) %>
                      <td>
                        Digits: <%= contact_detail[:digits] %>
                      </td>
                  <% end %>
                  <td><%= contact_detail.remark %></td>

                  <%
                     controller_link = ''
                     if contact_detail.class == Address
                       controller_link = general_administration_contact_details_addresses_path
                     elsif contact_detail.class == Digital
                       controller_link = general_administration_contact_details_digitals_path
                     elsif contact_detail.class == Telephone
                       controller_link = general_administration_contact_details_telephones_path
                     end
                  %>

                  <%=
                      generic_table_last_rows(contact_detail, controller_link)
                  %>


                </tr>
            <% end %>
            </tbody>
        <% end %>
      </table>
  <% rescue => ex %>
      <%= generic_table_error(ex) %>
  <% end %>
  <%= generic_table_footer(@contact_details) %>

  <hr style="visibility: hidden">

  <div align="center">
    <%= overview_panel(general_administration_contact_details_addresses_path,'Addresses', Address) %>
    <%= overview_panel(general_administration_contact_details_telephones_path,'Telephones', Telephone) %>
    <%= overview_panel(general_administration_contact_details_digitals_path,'Digitals', Digital) %>
    <br><br>
  </div>


</section>