<section class='small-10 columns'>
  <%= preheader_generic_table('Collection of Addresses, Telephone Numbers, Emails and URL\'s', 'Contact Details') %>
  <% begin %>
      <table class='generic_table' id='digital_table'>
        <thead>
        <tr>
          <%= generic_table_theadlink('ID') %>
          <%= generic_table_theadlink('Association', 'contactable') %>
          <%= generic_table_theadlink('Remark') %>
          <th style="width: 40% "> Aggregated Contact Details </th>
          <%= generic_table_theadlink_last_head() %>
        </tr>
        </thead>
        <% if @contact_details.empty? == true %>
            <%= no_records_found %>
        <% else %>
            <tbody>
            <% @contact_details.each do |contact_detail| %>
                <tr>
                  <%= generic_table_id(contact_detail)%>
                  <%= polymorphic_link(contact_detail[:contactable_type], contact_detail[:contactable_id]) %>
                  <%= generic_table_remark(contact_detail[:remark]) %>
                  <td>

                    <% if Address.exists?(:contact_detail_id => contact_detail[:id] ) %>
                        ADDRESSES:
                        <% (Address.where("contact_detail_id = ?", contact_detail.id)).each do |current_address| %>
                            <a href="" class="column_link"><%= current_address.remark %></a>;
                        <% end %>
                        <br>
                    <% end %>

                    <% if Digital.exists?(:contact_detail_id => contact_detail[:id] ) %>
                        DIGITALS:
                        <% (Digital.where("contact_detail_id = ?", contact_detail.id)).each do |current_digital| %>
                            <a href="" class="column_link"><%= current_digital.url %></a>
                        <% end %>
                        <br>
                    <% end %>

                    <% if Telephone.exists?(:contact_detail_id => contact_detail[:id] ) %>
                        TELEPHONES:
                        <% (Telephone.where("contact_detail_id = ?", contact_detail.id)).each do |current_telephone| %>
                            <a href="" class="column_link"><%= current_telephone.digits %></a>;
                        <% end %>
                        <br>
                    <% end %>

                  </td>
                  <%= generic_table_last_rows(contact_detail) %>
                </tr>
            <% end %>
            </tbody>
        <% end %>
      </table>
  <% rescue => ex %>
      <%= generic_table_error(ex) %>
  <% end %>
  <%= generic_table_footer(@contact_details) %>

  <hr style="visibility: hidden">

  <div align="center">
    <%= overview_panel(general_administration_contact_details_addresses_path,'Addresses', Address) %>
    <%= overview_panel(general_administration_contact_details_telephones_path,'Telephones', Telephone) %>
    <%= overview_panel(general_administration_contact_details_digitals_path,'Digitals', Digital) %>
    <br><br>
  </div>


</section>