<section class="small-10 columns">

  <%= generic_title('Contact Details of Entities within the System', 'Contact Details') %>

  <% @contactables.each do |contactable| %>
    <%= contactable.class %>
  <% end %>

  <%= overview_panel(general_administration_contact_details_addresses_path,'Addresses', Address) %>
  <%= overview_panel(general_administration_contact_details_telephones_path,'Telephones', Telephone) %>
  <%= overview_panel(general_administration_contact_details_digitals_path,'Digitals', Digital) %>

</section>
