<div class="form-block">
  <div class="label">Approval Status</div>
  <br />
  <select name='vale[approval_status]'
          required="required" >
    <% if @selected_vale[:approval_status] == true %>
        <option disabled >Select Approval Status</option>
        <option value=1 selected>Approved</option>
        <option value=0>Rejected</option>
    <% elsif @selected_vale[:approval_status] == false %>
        <option disabled >Select Approval Status</option>
        <option value=1>Approved</option>
        <option value=0 selected>Rejected</option>
    <% else %>
        <option disabled>Select Approval Status</option>
        <option value=1>Approved</option>
        <option value=0 selected>Rejected</option>
    <% end %>
  </select>
</div>

<div class="form-block">
  <div class="label">Amount :</div>
  <%= text_field_tag("vale[amount]",
                     content = @selected_vale[:amount],
                     options = {placeholder: "Enter amount",
                                required: "required",
                                id: "vale_amount",
                                :"data-parsley-trigger" => "change",
                                :"data-parsley-step" => "0.01",
                                :"data-parsley-type" => "number"}) %>
</div>

<div class="form-block">
  <div class="label">Amount of Deduction : </div>
  <%= text_field_tag("vale[amount_of_deduction]",
                     content = @selected_vale[:amount_of_deduction],
                     options = {placeholder: "Enter amount",
                                required: "required",
                                id: "vale_amount_of_deduction",
                                :"data-parsley-trigger" => "change",
                                :"data-parsley-vale_deduction" => "0",
                                :"data-parsley-step" => "0.01",
                                :"data-parsley-type" => "number"}) %>
</div>

<div id="vale_summary"></div>
<br>

<div class="form-block">
  <div class="label">Period of Deduction  : </div>
  <br />
  <select name='vale[period_of_time]'
          id='vale_period_of_time'
          required="required" >
    <% if @selected_vale[:period_of_time] == 'DAY' %>
        <option disabled >Selected Period of Deduction</option>
        <option value="DAY" selected>DAY</option>
        <option value="WEEK">WEEK</option>
        <option value="MONTH">MONTH</option>
        <option value="YEAR">YEAR</option>
    <% elsif @selected_vale[:period_of_time] == 'WEEK' %>
        <option disabled >Selected Period of Deduction</option>
        <option value="DAY">DAY</option>
        <option value="WEEK" selected>WEEK</option>
        <option value="MONTH">MONTH</option>
        <option value="YEAR">YEAR</option>
    <% elsif @selected_vale[:period_of_time] == 'MONTH' %>
        <option disabled >Selected Period of Deduction</option>
        <option value="DAY">DAY</option>
        <option value="WEEK">WEEK</option>
        <option value="MONTH" selected>MONTH</option>
        <option value="YEAR">YEAR</option>
    <% elsif @selected_vale[:period_of_time] == 'YEAR' %>
        <option disabled >Selected Period of Deduction</option>
        <option value="DAY">DAY</option>
        <option value="WEEK">WEEK</option>
        <option value="MONTH">MONTH</option>
        <option value="YEAR" selected>YEAR</option>
    <% else %>
        <option disabled selected>Selected Period of Deduction</option>
        <option value="DAY">DAY</option>
        <option value="WEEK">WEEK</option>
        <option value="MONTH">MONTH</option>
        <option value="YEAR">YEAR</option>
    <% end %>
  </select>
</div>

<div class="form-block">
  <div class="label">Date of Effectivity  : </div>
  <input type="datetime-local"
         required="required"
         id="vale_date_of_implementation"
         name="vale[date_of_implementation]"
         step="1"
         value= <%= @selected_vale[:date_of_implementation].present? ? @selected_vale[:date_of_implementation].strftime('%m/%d/%Y') : Time.now.strftime('%m/%d/%Y')  %>>
</div>

<%= generic_remarks_remark_field('vale',@selected_vale[:remark]) %>

<%=
    if @selected_vale[:id].present?
      link_to( "Vale Summary".html_safe,
               {:action => 'show',
                :id => @selected_vale[:id]},
               class: 'tiny button')
    end
%>
<%=
    if @selected_vale[:id].present?
      link_to( "Add Adjustment".html_safe,
               '/human_resources/compensation_and_benefits/vale_adjustments/new?parent_vale_id=' + @selected_vale[:id],
               class: 'tiny button')
    end
%>

<script>
    $( "#vale_amount_of_deduction" ).change(function(){
        calculate_time_required();
    });
    $( "#vale_period_of_time" ).change(function(){
        calculate_time_required();
    });
    $( "#vale_date_of_implementation" ).change(function(){
        calculate_time_required();
    });
    $( "#vale_amount" ).change(function(){
        calculate_time_required();
    });

    function calculate_time_required()
    {
        $("#vale_summary").empty();
        var vale_amount_of_deduction = $("#vale_amount_of_deduction").val();
        var vale_period_of_time = $("#vale_period_of_time").val();
        var vale_date_of_implementation = $("#vale_date_of_implementation").val();
        var vale_amount = $("#vale_amount").val();
        var period_counter = 0
        var date_of_implementation = moment(vale_date_of_implementation);

        if( (vale_amount_of_deduction != null) && (vale_period_of_time != null) && (vale_date_of_implementation != null) && (vale_amount != null))
        {
            current_balance = vale_amount
            while( current_balance > 0 )
            {
                current_balance = current_balance - vale_amount_of_deduction;
                period_counter++;
                period_of_time = vale_period_of_time.toLowerCase(); + 's'
                date_of_implementation = date_of_implementation.add(1, period_of_time)
            }
            period_of_time = vale_period_of_time.toLowerCase();

            $("#vale_summary").fadeIn("slow").append("Complete Payment approximately in " + period_counter + " " + period_of_time + "s" + " | " + date_of_implementation.format('MMMM Do YYYY, h:mm:ss a') );
        }

    }
</script>