<section class='small-10 columns'>
  <div class='mainheader'> Vale Summary </div>
  <div class='subdescription'> Vales and Associated Adjustments  </div>
  <hr>

  <div class="current_edit_id">
    <%= @selected_vale[:id].upcase %> | <%= @selected_vale.employee.actor.name %> at a rate of <%= @selected_vale[:amount_of_deduction] %> per <%= @selected_vale[:period_of_deduction] %>
    <br>
  </div>

  <table class="generic_table" id="vales_table">
    <thead>
    <tr>
      <th>ID</th>
      <th>Date</th>
      <th>Type</th>
      <th>Additions</th>
      <th>Deductions</th>
      <th>Balance</th>
      <th>Remark</th>
      <th class="actions" align="center">&nbsp;</th>
    </tr>
    </thead>
    <tbody>

    <%
       # get variables
       current_balance = @selected_vale[:amount]
       previous_time = @selected_vale[:date_of_effectivity]
       iteration = translate_period_of_time_into_seconds(@selected_vale[:period_of_deduction])
       current_time = previous_time + iteration
       current_link = '/human_resources/compensation_and_benefits/vales/' + @selected_vale[:id] + '/edit'
       current_id = @selected_vale[:id]
    %>

    <tr>
      <td><%= current_id %></td>
      <td><%= current_time.strftime("%m/%d/%Y %T") %></td>
      <td>INITIAL</td>
      <td><%= @selected_vale[:amount] %></td>
      <td>0</td>
      <td><%= current_balance %></td>
      <td><%= @selected_vale[:remark] %></td>
      <td class="actions">
        <%= link_to( "&#128083;".html_safe,
                     current_link,
                     class: 'action_button',
                     tooltip: 'Examine') %>
      </td>
    </tr>

    <% while 0 < current_balance %>
        <%
           adjustment_in_period_token = false

           current_type = 'AUTO'
           current_remark = @selected_vale[:remark]
           current_addition = 0
           current_deduction = @selected_vale[:amount_of_deduction]
           current_link = '/human_resources/compensation_and_benefits/vales/' + @selected_vale[:id] + '/edit'

           @selected_vale_adjustments.each do |selected_vale_adjustment|
             if selected_vale_adjustment[:date_of_effectivity].between?(previous_time, current_time)
               current_link = '/human_resources/compensation_and_benefits/vale_adjustments/' + selected_vale_adjustment[:id] + '/edit'
               current_id = selected_vale_adjustment[:id]
               if selected_vale_adjustment[:signed_type]
                 current_balance = current_balance + selected_vale_adjustment[:amount]
                 current_addition = selected_vale_adjustment[:amount]
                 current_deduction = 0
               else
                 current_balance = current_balance - selected_vale_adjustment[:amount]
                 current_addition = 0
                 current_deduction = selected_vale_adjustment[:amount]
               end
               adjustment_in_period_token = true
               current_type = 'ADJUSTMENT'
               current_remark = selected_vale_adjustment[:remark]
             end
           end

           if adjustment_in_period_token == false
             current_balance = current_balance - @selected_vale[:amount_of_deduction]
           end

           if current_balance < 0
             current_deduction = @selected_vale[:amount_of_deduction] - current_balance.abs
             current_balance = 0
           end

        %>
        <%
           if Time.now.between?(previous_time, current_time)
        %>
            <tr style="background-color: #ccd9ff;">
        <% else %>
            <tr>
        <% end %>
          <td><%= current_id %></td>
          <td><%= current_time.strftime("%m/%d/%Y %T") %></td>
          <td><%= current_type %></td>
          <td><%= current_addition %></td>
          <td><%= current_deduction %></td>
          <td><%= current_balance %></td>
          <td><%= current_remark %></td>
          <td class="actions">
            <%= link_to( "&#128083;".html_safe,
                         current_link,
                         class: 'action_button',
                         tooltip: 'Examine') %>
          </td>
        </tr>
        <% previous_time = current_time %>
        <% current_time = current_time + iteration %>
    <% end %>

    </tbody>
  </table>
</section>