<section class='small-10 columns'>
  <div class='mainheader'> Vale Summary </div>
  <div class='subdescription'> Vales and Associated Adjustments  </div>
  <hr>

  <div class="current_edit_id">
    <%=
        @selected_vale[:id].upcase %> |
        <%= @selected_vale.employee.actor.name %> at a rate of <%= @selected_vale[:amount_of_deduction] %> per <%= @selected_vale[:period_of_deduction]
    %>
    <br>
  </div>

  <table class="generic_table" id="vales_table">
    <thead>
    <tr>
      <th>ID</th>
      <th>Date</th>
      <th>Type</th>
      <th>Additions</th>
      <th>Deductions</th>
      <th>Balance</th>
      <th>Remark</th>
      <th class="actions" align="center">&nbsp;</th>
    </tr>
    </thead>
    <tbody>

    <!-- INITIAL ROW SET -->
    <%
       # get variables
       current_balance = @selected_vale[:amount]
       iteration = translate_period_of_time_into_seconds(@selected_vale[:period_of_deduction])
       current_vale_datetime = DateTime.parse(@selected_vale[:date_of_effectivity].strftime('%Y-%m-%d %T'))
       current_link = '/human_resources/compensation_and_benefits/vales/' + @selected_vale[:id] + '/edit'
       current_id = @selected_vale[:id]
    %>
    <tr>
      <td><%= current_id.upcase() %></td>
      <td><%= current_vale_datetime.strftime("%m/%d/%Y %T") %></td>
      <td>INITIAL</td>
      <td><%= @selected_vale[:amount] %></td>
      <td>0.0</td>
      <td><%= current_balance %></td>
      <td><%= @selected_vale[:remark] %></td>
      <td class="actions">
        <%= link_to( "&#128083;".html_safe,
                     current_link,
                     class: 'action_button',
                     tooltip: 'Examine') %>
      </td>
    </tr>

    <!-- ITERATIVE ROW SET -->
    <!-- CALCULATION -->
    <%
      # loop until the vale runs out
       while 0 < current_balance

           # get the variables
           adjustment_in_period_token = false
           current_type = 'AUTO'
           current_id = @selected_vale[:id]
           current_remark = @selected_vale[:remark]
           current_addition = 0
           current_deduction = @selected_vale[:amount_of_deduction]
           current_link = '/human_resources/compensation_and_benefits/vales/' + @selected_vale[:id] + '/edit'
           next_vale_datetime = current_vale_datetime + iteration.seconds

           # check for adjustments in period
           @selected_vale_adjustments.each do |selected_vale_adjustment|

             # set up variables
             adjustment_date_of_effectivity = DateTime.parse( selected_vale_adjustment[:date_of_effectivity].strftime('%Y-%m-%d') )
             # apply according to date/time
             if adjustment_date_of_effectivity.between?(current_vale_datetime, next_vale_datetime)
               adjustment_in_period_token = true
               current_link = '/human_resources/compensation_and_benefits/vale_adjustments/' + selected_vale_adjustment[:id] + '/edit'
               current_id = selected_vale_adjustment[:id]
               current_type = 'ADJUSTMENT'
               current_remark = selected_vale_adjustment[:remark]
               if selected_vale_adjustment[:signed_type]
                 current_balance += selected_vale_adjustment[:amount]
                 current_addition = selected_vale_adjustment[:amount]
                 current_deduction = 0
               else
                 current_balance -= selected_vale_adjustment[:amount]
                 current_addition = 0
                 current_deduction = selected_vale_adjustment[:amount]
               end
             end

           end

           # if there has been no adjustment done on the period;
           # proceed with automatic deduction sequence
           if adjustment_in_period_token == false
             current_balance -= current_deduction
           end

           # if balance is less than zero on iteration
           # make exact sum to make balance zero
           if current_balance < 0
             current_deduction += current_balance
             current_balance = 0
           end

        %>

        <!-- PRESENTATION -->
            <% if Time.now.between?(current_vale_datetime, next_vale_datetime) %>
                <tr style="background-color: #ccd9ff;">
            <% else %>
                <tr>
            <% end %>
                  <td><%= current_id.upcase() %></td>
                  <td><%= current_vale_datetime.strftime("%m/%d/%Y %T") %></td>
                  <td><%= current_type %></td>
                  <td><%= current_addition %></td>
                  <td><%= current_deduction %></td>
                  <td><%= current_balance %></td>
                  <td><%= current_remark %></td>
                  <td class="actions">
                    <%= link_to( "&#128083;".html_safe,
                                 current_link,
                                 class: 'action_button',
                                 tooltip: 'Examine') %>
                  </td>
                </tr>
        <%

           # iterate datetime
           current_vale_datetime += iteration.seconds

        end
        %>

    </tbody>
  </table>
</section>