<section class='small-10 columns'>
  <div class='mainheader'> Vale Form </div>
  <div class='subdescription'> Set the Status of an Advanced Payment </div>
  <hr>
  <div class='small-6 columns generic_form'>

    <%= generic_form_edit_id_indicator(@selected_vale[:id]) %>

    <%
       @selected_vale[:id].present? ?
               (current_method = :patch; current_action = @selected_vale[:id] ) :
               (current_method = :post; current_action = 'create')
    %>

    <%=
        form_tag( {:action => current_action},
                  {:method => current_method,
                   :class => 'create_form',
                   :id => "new_vale_form",
                   :"data-parsley-validate" => ""
                  },
        ) do
    %>
        <%= hidden_field_tag('vale[id]', @selected_vale[:id] ) %>

        Employee: <br>
        <select name='vale[employee_id]'
                id='new_vale_employee'
                class='employee_select_field'
                required="required" >

          <option value="" disabled selected>Select Employee</option>
          <% @employees.each do |employee| %>
              <% if employee.id == @selected_vale.employee_id %>
                  <option value=<%= employee.id %> selected><%= employee.actor.name %></option>
              <% else %>
                  <option value=<%= employee.id %>><%= employee.actor.name %></option>
              <% end %>
          <% end %>
        </select>

        Approval Status<br>
        <select name='vale[approval_status]'
                style="width: 50%"
                required="required" >
          <% if @selected_vale[:approval_status] == true %>
              <option disabled >Select Approval Status</option>
              <option value=1 selected>Approved</option>
              <option value=0>Rejected</option>
          <% elsif @selected_vale[:approval_status] == false %>
              <option disabled >Select Approval Status</option>
              <option value=1>Approved</option>
              <option value=0 selected>Rejected</option>
          <% else %>
              <option disabled>Select Approval Status</option>
              <option value=1>Approved</option>
              <option value=0 selected>Rejected</option>
          <% end %>
        </select>

        <br> Amount: <br>
        <%= text_field_tag("vale[amount]",
                           content = @selected_vale[:amount],
                           options = {placeholder: "Enter amount",
                                      required: "required",
                                      id: "vale_amount",
                                      :"data-parsley-trigger" => "keyup",
                                      :"data-parsley-step" => "0.01",
                                      :"data-parsley-type" => "number"}) %>

        Amount of Deduction: <br>
        <%= text_field_tag("vale[amount_of_deduction]",
                           content = @selected_vale[:amount_of_deduction],
                           options = {placeholder: "Enter amount",
                                      required: "required",
                                      id: "vale_amount_of_deduction",
                                      :"data-parsley-trigger" => "keyup",
                                      :"data-parsley-vale_deduction" => "0",
                                      :"data-parsley-step" => "0.01",
                                      :"data-parsley-type" => "number"}) %>

        Period of Deduction <br>
        <select name='vale[period_of_deduction]'
                style="width: 50%"
                required="required" >
          <% if @selected_vale[:period_of_deduction] == 'DAY' %>
              <option disabled >Selected Period of Deduction</option>
              <option value="DAY" selected>DAY</option>
              <option value="WEEK">WEEK</option>
              <option value="MONTH">MONTH</option>
              <option value="YEAR">YEAR</option>
          <% elsif @selected_vale[:period_of_deduction] == 'WEEK' %>
              <option disabled >Selected Period of Deduction</option>
              <option value="DAY">DAY</option>
              <option value="WEEK" selected>WEEK</option>
              <option value="MONTH">MONTH</option>
              <option value="YEAR">YEAR</option>
          <% elsif @selected_vale[:period_of_deduction] == 'MONTH' %>
              <option disabled >Selected Period of Deduction</option>
              <option value="DAY">DAY</option>
              <option value="WEEK">WEEK</option>
              <option value="MONTH" selected>MONTH</option>
              <option value="YEAR">YEAR</option>
          <% elsif @selected_vale[:period_of_deduction] == 'YEAR' %>
              <option disabled >Selected Period of Deduction</option>
              <option value="DAY">DAY</option>
              <option value="WEEK">WEEK</option>
              <option value="MONTH">MONTH</option>
              <option value="YEAR" selected>YEAR</option>
          <% else %>
              <option disabled selected>Selected Period of Deduction</option>
              <option value="DAY">DAY</option>
              <option value="WEEK">WEEK</option>
              <option value="MONTH">MONTH</option>
              <option value="YEAR">YEAR</option>
          <% end %>
        </select>

        <br>Date of Effectivity:<br>
        <input type="datetime-local"
               required="required"
               name="vale[date_of_effectivity]"
               style="width: 50%"
               step="1"
               value= <%= @selected_vale[:date_of_effectivity].present? ? @selected_vale[:date_of_effectivity].strftime('%FT%T') : Time.now.strftime('%FT%T')  %>>

        <br> Remarks <br>
        <%= text_area_tag("vale[remark]",
                          content = @selected_vale[:remark],
                          options = {class: "remark_description",
                                     :"data-parsley-trigger" => "keyup",
                                     :"data-parsley-maxlength"=>"128",
                                     :placeholder => 'Remarks' }) %>

        <%= generic_form_footer(@selected_vale[:id]) %>

        <hr />


    <% end %>

  </div>

  <%= renderCorePartial('employee_quick_profile') %>

</section>