<section class='small-10 columns'>
  <div class='mainheader'> Accesses </div>
  <div class='subdescription'> List of access logs within the system. </div>
  <hr>
  <%= generic_table_search %>
  <% table_orientation = shift_table_orientation %>
  <% begin %>
      <table class='generic_table' id='permission_table'>
        <thead>
        <tr>
          <%= generic_table_theadlink('ID','accesses.id', table_orientation) %>
          <%= generic_table_theadlink('Actor ID','accesses.actor_id', table_orientation) %>
          <%= generic_table_theadlink('Username','accesses.username', table_orientation) %>
          <%= generic_table_theadlink('Email','accesses.email', table_orientation) %>
          <%= generic_table_theadlink('Created At','accesses.created_at', table_orientation) %>
          <%= generic_table_theadlink('Last Updated','accesses.updated_at', table_orientation) %>
          <%= generic_table_theadlink('Last Login','accesses.last_login', table_orientation) %>
          <th class="actions" align="center">&nbsp;</th>
        </tr>
        </thead>
        <% if @accesses.empty? == true %>
            <% raise exception %>
        <% else %>
            <tbody>
            <% @accesses.each do |access| %>
                <tr>
                  <td><%= access[:id].upcase %></td>
                  <td><%= access[:actor_id] %> </td>
                  <td><%= access[:username] %> </td>
                  <td><%= access[:email] %> </td>
                  <td><%= access[:created_at] %> </td>
                  <td><%= access[:updated_at] %> </td>
                  <td><%= access[:last_login] %> </td>
                  <td class="actions">
                    <%= generic_table_actions(access[:id]) %>
                  </td>
                </tr>
            <% end %>
            </tbody>
        <% end %>
      </table>
  <% rescue => ex %>
      <%= generic_table_error(ex) %>
  <% end %>
  <%= generic_table_footer(@accesses) %>
</section>