<section class='small-10 columns'>
  <div class='mainheader'> Branch Form </div>
  <div class='subdescription'> Create a new Branch </div>
  <hr>
  <div class='small-6 columns generic_form'>

    <%= generic_form_edit_id_indicator(@selected_branch[:id]) %>

    <%
       @selected_branch[:id].present? ?
               (current_method = :patch; current_action = @selected_branch[:id] ) :
               (current_method = :post; current_action = 'create')
    %>

    <%=
        form_tag( {:action => current_action},
                  {:method => current_method,
                   :class => 'create_form',
                   :id => "new_branch_form",
                   :"data-parsley-validate" => ""
                  },
        ) do
    %>

        <%= hidden_field_tag('branch[id]', @selected_branch[:id] ) %>

        <input type="text"
               required="required"
               placeholder="Name of Branch"
               data-parsley-trigger = keyup
               data-parsley-maxlength = 64
               id="branch_name"
               value= "<%= @selected_branch[:name] %>"
               name="branch[name]">

        <%= generic_form_footer(@selected_branch[:id]) %>

    <% end %>

  </div>
</section>