<section class='small-10 columns'>
  <div class='mainheader'> Regular Work Period Form </div>
  <div class='subdescription'> Manage Regular work period of an employee </div>
  <hr>
  <div class='small-6 columns generic_form'>
    <% if @selected_regular_work_period[:id].present? %>
        <span class="current_edit_id"> <%= 'Editing Regular Work Period ID: ' + @selected_regular_work_period[:id] %> </span> <br><br> <!-- this is for the current Duty Status ID or OBJECT ID; not employee-->
    <% end %>
    <%= form_tag( {action: :process_regular_work_period_form}, multipart: true, class: 'create_form', id: "new_regular_work_period_form", :"data-parsley-validate" => "" ) do %>
        <%= hidden_field_tag('regular_work_period[id]', @selected_regular_work_period[:id] ) %>

        Employee
        <select name='regular_work_period[employee_id]'
                id='new_regular_work_period_employee'
                class='employee_select_field'
                required="required" >
          <option value="" disabled selected>Select Employee</option>
          <% @employees.each do |employee| %>
              <% if employee.id == @selected_regular_work_period[:employee_id] %>
                  <option value=<%= employee[:id] %> selected><%= employee.actor.name %></option>
              <% else %>
                  <option value=<%= employee[:id] %>><%= employee.actor.name %></option>
              <% end %>
          <% end %>
        </select>

        Start Time:
        <input name="regular_work_period[start_time]"
               required="required"
               value= <%= @selected_regular_work_period[:start_time].present? ?
                                  @selected_regular_work_period[:start_time].strftime('%T') :
                                  Time.now.strftime('%T') %>
                       type="time" step="1">

        End Time:
        <input name="regular_work_period[end_time]"
               required="required"
               value= <%= @selected_regular_work_period[:end_time].present? ?
                                  @selected_regular_work_period[:end_time].strftime('%T') :
                                  Time.now.strftime('%T') %>
                       type="time" step="1">

        Date of Effectivity:
        <input name="regular_work_period[date_of_effectivity]"
               required="required"
               value= <%= @selected_regular_work_period[:date_of_effectivity].present? ?
                                  @selected_regular_work_period[:date_of_effectivity].strftime('%FT%T') :
                                  Time.now.strftime('%FT%T') %>
                       type="datetime-local" step="1">

        <%= text_area_tag("regular_work_period[remark]",
                          content = @selected_regular_work_period[:remark],
                          options = {class: "remark_description",
                                     :"data-parsley-trigger" => "keyup",
                                     :"data-parsley-maxlength"=>"128",
                                     :placeholder => 'Remarks' }) %>

        <%= link_to( "BACK".html_safe, {:action => 'regular_work_periods'}, class: 'tiny button') %>
        <%=
            if @selected_regular_work_period[:id].present?
              link_to( "DELETE".html_safe,
                       {:action => 'delete_regular_work_perio',
                        :selected_regular_work_period => @selected_regular_work_period[:id]},
                       class: 'tiny button deletable_item')
            end
        %>
        <input type="reset" class="tiny button" value="RESET" />
        <input type="submit" class="tiny button" value="SUBMIT" />

    <% end %>

  </div>
  <%= renderCorePartial('employee_quick_profile') %>
</section>