<% unless generally_new? %>
<div class="small-3 columns">
    <img src="<%= selected_model_instance.logo.url %>" height="50">
    <hr style="visibility: hidden">
</div>
<% end %>

<div class="small-3 columns">
<%= f.input :name,
            :label => "Name",
            label_html: { class: 'form_label' },
            :input_html =>
                    {
                            :value => selected_model_instance[:name],
                            :'data-parsley-trigger' => 'keyup',
                            :'data-parsley-maxlength' => 64
                    }
%>

<%= f.input :logo,
            required: false,
            :as => :file,
            :label => "Logo or Picture",
            label_html: { class: 'form_label' },
            :input_html =>
                    {
                            :value => selected_model_instance[:picture]
                    }
%>

<%= generic_form_remark_field(f, selected_model_instance[:remark]) %>
</div>

<%= related_models('SystemActor',params[:id]) unless generally_new? %>