<div class="generic_tricolumn_form">

  <!-- gender -->
  <div class="form-block">
    <div class="label">Gender</div>
    <select name='biodata[gender]'
            required="required" >
      <% if @selected_biodata[:gender] == 'Male' %>
          <option value="Male" selected>Male</option>
          <option value="Female">Female</option>
      <% elsif @selected_biodata[:gender] == 'Female' %>
          <option value="Male">Male</option>
          <option value="Female" selected>Female</option>
      <% else %>
          <option value="Male">Male</option>
          <option value="Female">Female</option>
      <% end %>
    </select>
  </div>

  <!-- date of birth -->
  <div class="form-block">
    <div class="label">Date of Birth</div>
    <input type="date"
           required="required"
           name="biodata[date_of_birth]"
           data-parsley-trigger="keyup"
           value= <%= @selected_biodata[:date_of_birth].present? ? @selected_biodata[:date_of_birth].strftime('%m/%d/%Y') : '' %>>
  </div>

  <!-- place of birth -->
  <div class="form-block">
    <div class="label">Place of Birth</div>
  <textarea name="biodata[place_of_birth]"
            placeholder="Please enter place of birth"
            data-parsley-trigger="keyup"
            data-parsley-maxlength="256">
            <%= @selected_biodata[:place_of_birth] %>
  </textarea>
  </div>

  <!-- citizenship -->
  <div class="form-block">
    <div class="label">Citizenship</div>
    <input type="text"
           required="required"
           placeholder="Enter citizenship"
           data-parsley-trigger = keyup
           data-parsley-maxlength = 64
           id="biodata_citizenship"
           value= "<%= @selected_biodata[:citizenship] %>"
           name="biodata[citizenship]">
  </div>

  <!-- education -->
  <div class="form-block">
    <div class="label">Education</div>
    <select name='biodata[education]'
            required="required" >
      <% if @selected_biodata[:education] == 'Elementary' %>
          <option value="Elementary" selected>Elementary</option>
          <option value="High School">High School</option>
          <option value="College Undergraduate">College Undergraduate</option>
          <option value="College Graduate - Bachelor">College Graduate - Bachelor</option>
          <option value="College Graduate - Master">College Graduate - Master</option>
          <option value="College Graduate - Doctor">College Graduate - Doctor</option>
      <% elsif @selected_biodata[:education] == 'High School' %>
          <option value="Elementary">Elementary</option>
          <option value="High School" selected>High School</option>
          <option value="College Undergraduate">College Undergraduate</option>
          <option value="College Graduate - Bachelor" selected>College Graduate - Bachelor</option>
          <option value="College Graduate - Master">College Graduate - Master</option>
          <option value="College Graduate - Doctor">College Graduate - Doctor</option>
      <% elsif @selected_biodata[:education] == 'College Undergraduate' %>
          <option value="Elementary">Elementary</option>
          <option value="High School">High School</option>
          <option value="College Undergraduate" selected>College Undergraduate</option>
          <option value="College Graduate - Bachelor" selected>College Graduate - Bachelor</option>
          <option value="College Graduate - Master">College Graduate - Master</option>
          <option value="College Graduate - Doctor">College Graduate - Doctor</option>
      <% elsif @selected_biodata[:education] == 'College Graduate - Bachelor' %>
          <option value="Elementary">Elementary</option>
          <option value="High School">High School</option>
          <option value="College Undergraduate">College Undergraduate</option>
          <option value="College Graduate - Bachelor" selected>College Graduate - Bachelor</option>
          <option value="College Graduate - Master">College Graduate - Master</option>
          <option value="College Graduate - Doctor">College Graduate - Doctor</option>
      <% elsif @selected_biodata[:education] == 'College Graduate - Master' %>
          <option value="Elementary">Elementary</option>
          <option value="High School">High School</option>
          <option value="College Undergraduate">College Undergraduate</option>
          <option value="College Graduate - Bachelor">College Graduate - Bachelor</option>
          <option value="College Graduate - Master" selected>College Graduate - Master</option>
          <option value="College Graduate - Doctor">College Graduate - Doctor</option>
      <% elsif @selected_biodata[:education] == 'College Graduate - Doctor' %>
          <option value="Elementary" selected>Elementary</option>
          <option value="High School">High School</option>
          <option value="College Undergraduate">College Undergraduate</option>
          <option value="College Graduate - Bachelor" selected>College Graduate - Bachelor</option>
          <option value="College Graduate - Master">College Graduate - Master</option>
          <option value="College Graduate - Doctor" selected>College Graduate - Doctor</option>
      <% else %>
          <option value="Elementary">Elementary</option>
          <option value="High School">High School</option>
          <option value="College Undergraduate">College Undergraduate</option>
          <option value="College Graduate - Bachelor">College Graduate - Bachelor</option>
          <option value="College Graduate - Master">College Graduate - Master</option>
          <option value="College Graduate - Doctor">College Graduate - Doctor</option>
      <% end %>
    </select>
  </div>

  <!-- career experience -->
  <div class="form-block">
    <div class="label">Career Experience</div>
  <textarea name="biodata[career_experience]"
            placeholder="Please describe previous career experience here"
            data-parsley-trigger="keyup"
            data-parsley-maxlength="256">
            <%= @selected_biodata[:career_experience] %>
  </textarea>
  </div>


  <!-- notable accomplishments -->
  <div class="form-block">
    <div class="label">Notable Accomplishments</div>
  <textarea name="biodata[notable_accomplishments]"
            placeholder="Please describe some, if not all notable accomplishments here"
            data-parsley-trigger="keyup"
            data-parsley-maxlength="256">
            <%= @selected_biodata[:notable_accomplishments] %>
  </textarea>
  </div>

  <!-- family members -->
  <div class="form-block">
    <div class="label">Family Members</div>
  <textarea name="biodata[family_members]"
            placeholder="Please enter family member details here"
            data-parsley-trigger="keyup"
            data-parsley-maxlength="256">
            <%= @selected_biodata[:family_members] %>
  </textarea>
  </div>

</div>

<div class="generic_tricolumn_form">


  <!-- emergency contact -->
  <div class="form-block">
    <div class="label">Emergency Contact</div>
    <input type="number"
           required="required"
           placeholder="In case of emergency, this number will be called"
           data-parsley-trigger = keyup
           data-parsley-maxlength = 64
           data-parsley-type = number
           id="telephone_digits"
           value= "<%= @selected_biodata[:emergency_contact] %>"
           name="biodata[emergency_contact]">
  </div>

  <!-- languages spoken -->
  <div class="form-block">
    <div class="label">Languages Spoken</div>
    <input type="text"
           required="required"
           placeholder="Enter languages spoken"
           data-parsley-trigger = keyup
           data-parsley-maxlength = 64
           id="biodata_languages_spoken"
           value= "<%= @selected_biodata[:languages_spoken] %>"
           name="biodata[languages_spoken]">
  </div>


  <!-- complexion -->
  <div class="form-block">
    <div class="label">Complexion</div>
    <select name='biodata[complexion]'
            required="required" >
      <% if @selected_biodata[:complexion] == 'Light' %>
          <option value="Light" selected>Light</option>
          <option value="Fair">Fair</option>
          <option value="Medium">Medium</option>
          <option value="Dark">Dark</option>
      <% elsif @selected_biodata[:complexion] == 'Fair' %>
          <option value="Light">Light</option>
          <option value="Fair" selected>Fair</option>
          <option value="Medium">Medium</option>
          <option value="Dark">Dark</option>
      <% elsif @selected_biodata[:complexion] == 'Medium' %>
          <option value="Light">Light</option>
          <option value="Fair">Fair</option>
          <option value="Medium" selected>Medium</option>
          <option value="Dark">Dark</option>
      <% elsif @selected_biodata[:complexion] == 'Dark' %>
          <option value="Light">Light</option>
          <option value="Fair">Fair</option>
          <option value="Medium">Medium</option>
          <option value="Dark" selected>Dark</option>
      <% else %>
          <option value="Light">Light</option>
          <option value="Fair">Fair</option>
          <option value="Medium">Medium</option>
          <option value="Dark">Dark</option>
      <% end %>
    </select>
  </div>

  <!-- height -->
  <div class="form-block">
    <div class="label">Height in cm.</div>
    <input type="number"
           required="required"
           placeholder="Please enter height"
           data-parsley-trigger = keyup
           data-parsley-maxlength = 64
           data-parsley-type = number
           id="telephone_digits"
           value= "<%= @selected_biodata[:height_cm] %>"
           name="biodata[height_cm]">
  </div>

  <!-- marital status -->
  <div class="form-block">
    <div class="label">Marital Status</div>
    <select name='biodata[marital_status]'
            required="required" >
      <% if @selected_biodata[:marital_status] == 'Single' %>
          <option value="Single" selected>Single</option>
          <option value="Married">Married</option>
          <option value="Widowed">Widowed</option>
          <option value="Divorced">Divorced</option>
      <% elsif @selected_biodata[:marital_status] == 'Married' %>
          <option value="Single">Single</option>
          <option value="Married" selected>Married</option>
          <option value="Widowed">Widowed</option>
          <option value="Divorced">Divorced</option>
      <% elsif @selected_biodata[:marital_status] == 'Widowed' %>
          <option value="Single">Single</option>
          <option value="Married">Married</option>
          <option value="Widowed" selected>Widowed</option>
          <option value="Divorced">Divorced</option>
      <% elsif @selected_biodata[:marital_status] == 'Divorced' %>
          <option value="Single">Single</option>
          <option value="Married">Married</option>
          <option value="Widowed">Widowed</option>
          <option value="Divorced" selected>Divorced</option>
      <% else %>
          <option value="Single">Single</option>
          <option value="Married">Married</option>
          <option value="Widowed">Widowed</option>
          <option value="Divorced">Divorced</option>
      <% end %>
    </select>
  </div>

  <!-- blood type -->
  <div class="form-block">
    <div class="label">Blood Type</div>
    <select name='biodata[blood_type]'
            required="required" >
      <% if @selected_biodata[:blood_type] == 'O -' %>
          <option value="O -" selected>O -</option>
          <option value="O +">O +</option>
          <option value="A -">A -</option>
          <option value="A +">A +</option>
          <option value="B -">B -</option>
          <option value="B +">B +</option>
          <option value="AB -">AB -</option>
          <option value="AB +">AB +</option>
      <% elsif @selected_biodata[:blood_type] == 'O +' %>
          <option value="O -">O -</option>
          <option value="O +" selected>O +</option>
          <option value="A -">A -</option>
          <option value="A +">A +</option>
          <option value="B -">B -</option>
          <option value="B +">B +</option>
          <option value="AB -">AB -</option>
          <option value="AB +">AB +</option>
      <% elsif @selected_biodata[:blood_type] == 'A -' %>
          <option value="O -">O -</option>
          <option value="O +">O +</option>
          <option value="A -" selected>A -</option>
          <option value="A +">A +</option>
          <option value="B -">B -</option>
          <option value="B +">B +</option>
          <option value="AB -">AB -</option>
          <option value="AB +">AB +</option>
      <% elsif @selected_biodata[:blood_type] == 'A +' %>
          <option value="O -">O -</option>
          <option value="O +">O +</option>
          <option value="A -">A -</option>
          <option value="A +" selected>A +</option>
          <option value="B -">B -</option>
          <option value="B +">B +</option>
          <option value="AB -">AB -</option>
          <option value="AB +">AB +</option>
      <% elsif @selected_biodata[:blood_type] == 'B -' %>
          <option value="O -">O -</option>
          <option value="O +">O +</option>
          <option value="A -">A -</option>
          <option value="A +">A +</option>
          <option value="B -" selected>B -</option>
          <option value="B +">B +</option>
          <option value="AB -">AB -</option>
          <option value="AB +">AB +</option>
          <option value="Divorced" selected>Divorced</option>
      <% elsif @selected_biodata[:blood_type] == 'B +' %>
          <option value="O -">O -</option>
          <option value="O +">O +</option>
          <option value="A -">A -</option>
          <option value="A +">A +</option>
          <option value="B -">B -</option>
          <option value="B +" selected>B +</option>
          <option value="AB -">AB -</option>
          <option value="AB +">AB +</option>
      <% elsif @selected_biodata[:blood_type] == 'AB -' %>
          <option value="O -">O -</option>
          <option value="O +">O +</option>
          <option value="A -">A -</option>
          <option value="A +">A +</option>
          <option value="B -">B -</option>
          <option value="B +">B +</option>
          <option value="AB -" selected>AB -</option>
          <option value="AB +">AB +</option>
      <% elsif @selected_biodata[:blood_type] == 'AB +' %>
          <option value="O -">O -</option>
          <option value="O +">O +</option>
          <option value="A -">A -</option>
          <option value="A +">A +</option>
          <option value="B -">B -</option>
          <option value="B +">B +</option>
          <option value="AB -">AB -</option>
          <option value="AB +" selected>AB +</option>
      <% else %>
          <option value="O -">O -</option>
          <option value="O +">O +</option>
          <option value="A -">A -</option>
          <option value="A +">A +</option>
          <option value="B -">B -</option>
          <option value="B +">B -</option>
          <option value="AB -">AB -</option>
          <option value="AB +">AB +</option>
      <% end %>
    </select>
  </div>

  <!-- religion -->
  <div class="form-block">
    <div class="label">Religion</div>

    <input type="text"
           required="required"
           placeholder="Please enter religion"
           data-parsley-trigger = keyup
           data-parsley-maxlength = 64
           id="biodata_religion"
           value= "<%= @selected_biodata[:religion] %>"
           name="biodata[religion]">
  </div>

</div>