<section class='small-10 columns'>
  <%= generic_title('Biodata','information regarding an individuals education and work history, especially in the context of a selection process') %>
  <%= generic_table_search %>
  <% table_orientation = shift_table_orientation %>
  <% begin %>
      <table class="generic_table" id="biodata_table">
        <thead>
        <tr>
          <th>
            Individual
            <%= generic_table_theadlink('biodata.actor_id', table_orientation) %>
          </th>
          <th>
            Education
            <%= generic_table_theadlink('biodata.education', table_orientation) %>
          </th>
          <th>
            Career Experience
            <%= generic_table_theadlink('biodata.career_experience', table_orientation) %>
          </th>
          <th>
            Date of Birth
            <%= generic_table_theadlink('biodata.date_of_birth', table_orientation) %>
          </th>
          <th>
            Citizenship
            <%= generic_table_theadlink('biodata.citizenship', table_orientation) %>
          </th>
          <th>
            Gender
            <%= generic_table_theadlink('biodata.gender', table_orientation) %>
          </th>
          <th>
            Emergency Contact
            <%= generic_table_theadlink('biodata.emergency_contact', table_orientation) %>
          </th>
          <th>
            Marital Status
            <%= generic_table_theadlink('biodata.marital_status', table_orientation) %>
          </th>
          <th class="actions" align="center">&nbsp;</th>
        </tr>
        </thead>
        <% if @biodata.empty? == true %>
            <% raise "No Records Found" %>
        <% else %>
            <tbody>
            <% @biodata.each do |biodata| %>
                <tr>
                  <td><%= biodata[:actor_id].upcase %></td>
                  <td><%= biodata[:education] %> </td>
                  <td><%= biodata[:career_experience] %> </td>
                  <td><%= biodata[:date_of_birth] %></td>
                  <td><%= biodata[:citizenship] %></td>
                  <td><%= biodata[:gender] %></td>
                  <td><%= biodata[:emergency_contact] %></td>
                  <td><%= biodata[:marital_status] %></td>
                  <td class="actions">
                    <%= generic_table_actions(biodata[:id]) %>
                  </td>
                </tr>
            <% end %>
            </tbody>
        <% end %>
      </table>
  <% rescue => ex %>
      <%= generic_table_error(ex) %>
  <% end %>
  <%= generic_table_footer(@biodata) %>
</section>