<div class="large-6 columns">
  <%= render_collection_selector(f, selected_model_instance, 'system_account_id', 'Service Provider',SystemAccount.all, ) %>
  <%= render_collection_selector(f, selected_model_instance, 'expense_category_id', 'Expense Category', (ExpenseCategory.all.to_ary.reject! {|expense_category| expense_category.has_children? }) ) %>
  <%= render_money_field(f, selected_model_instance, 'amount') %>
  <%= render_datetime_field(f, selected_model_instance, 'datetime_of_implementation', 'Date and Time of Implementation') %>
  <%= render_remark_field(f, selected_model_instance[:remark]) %>
</div>
