<%= generic_index_id(result) %>
<td><%= polymorphic_link('SystemAccount',result[:system_account_id]) %></td>
<td><%= result[:datetime_of_implementation].strftime("%m/%d/%Y %T %p") %></td>
<td> <%= result[:amount] %> </td>
<td> <%= result[:remark] %> </td>
<%= generic_index_last_rows(result) %>