<section class='small-10 columns'>
  <div class='mainheader'> Constants </div>
  <div class='subdescription'> Constants used in Human Resources and the Industry  </div>
  <hr>
  <%= generic_table_search %>
  <% table_orientation = shift_table_orientation %>
  <% begin %>
      <table class='generic_table' id='constants_table'>
        <thead>
        <tr>
          <th>
            Constant ID
            <%= generic_table_theadlink('constants.id', table_orientation) %>
          </th>
          <th>
            Type
            <%= generic_table_theadlink('constants.constant_type', table_orientation) %>
          </th>
          <th>
            Name
            <%= generic_table_theadlink('constants.name', table_orientation) %>
          </th>
          <th>
            Value
            <%= generic_table_theadlink('constants.value', table_orientation) %>
          </th>
          <th>
            Date of Effectivity
            <%= generic_table_theadlink('constants.date_of_effectivity', table_orientation) %>
          </th>
          <th>
            Remark
            <%= generic_table_theadlink('constants.remark', table_orientation) %>
          </th>
          <th>
            Date Created
            <%= generic_table_theadlink('constants.created_at', table_orientation) %>
          </th>
          <th>
            Last Updated
            <%= generic_table_theadlink('constants.updated_at', table_orientation) %>
          </th>
          <th class="actions" align="center">&nbsp;</th>
        </tr>
        </thead>
        <% if @constants.empty? == true %>
            <% raise exception %>
        <% else %>
            <tbody>
            <% @constants.each do |constant| %>
                <tr>
                  <td><%= constant[:id] %></td>
                  <td><%= constant[:constant_type] %> </td>
                  <td><%= constant[:name] %> </td>
                  <td><%= constant[:value] %> </td>
                  <td><%= constant[:date_of_effectivity].present? ? constant[:date_of_effectivity].strftime("%b. %d, %Y") : "n/a" %> </td>
                  <td><%= constant[:remark] %> </td>
                  <td><%= constant[:created_at] %></td>
                  <td><%= constant[:updated_at] %></td>
                  <td class="actions">
                    <%= generic_table_actions(constant[:id]) %>
                  </td>
                </tr>
            <% end %>
            </tbody>
        <% end %>
      </table>
  <% rescue %>
      <script>
          html = "<hr><p align='center'> No records found. Please try again.</p><hr>"
          $(".generic_table").replaceWith(html)
      </script>
  <% end %>
  <%= generic_table_footer(@constants) %>
</section>