<div class="large-6 columns">

  <%= f.input :latitude,
              :as => :decimal,
              :label => "Latitude",
              label_html: { class: 'form_label' },
              :input_html =>
                      {
                              :value => selected_model_instance[:latitude],
                              :'data-parsley-trigger' => 'keyup',
                              :'data-parsley-maxlength' => 32
                      }
  %>

  <%= f.input :longitude,
              :as => :decimal,
              :label => "Longitude",
              label_html: { class: 'form_label' },
              :input_html =>
                      {
                              :value => selected_model_instance[:longitude],
                              :'data-parsley-trigger' => 'keyup',
                              :'data-parsley-maxlength' => 32
                      }
  %>

  <%= generic_form_remark_field(f, selected_model_instance[:remark]) %>
  <%= polymorphic_selector(selected_model_instance,'addressable',f) %>
</div>
<div class="large-6 columns">

  <div class="google_map_component" style="width: 500px; height: 400px;"></div>

  <script>
      $( document ).ready(function()
      {
          // Settings
          var radius_size = 2

          // Initialize
          var lat = parseFloat( $( (('#' + '<%= controller_path %>' + '_latitude').replace("/", "_")).replace("/", "_") ).val());
          var long = parseFloat( $( (('#' + '<%= controller_path %>' + '_longitude').replace("/", "_")).replace("/", "_") ).val());
          alert(lat);
          alert(long);
          $('.google_map_component').locationpicker
          ({
              location: {latitude: lat, longitude: long },
              radius: 2
          });

      });

  </script>

</div>