<div class="large-6 columns">

  <%
     lat = 14.617886
     long = 121.108024
     selected_model_instance[:latitude].nil? ? (lat = 14.617886) : (lat = selected_model_instance[:latitude])
     selected_model_instance[:longitude].nil? ? (long = 121.108024) : (long = selected_model_instance[:longitude])
  %>

  <%= f.input :latitude,
              :as => :decimal,
              :label => "Latitude",
              label_html: { class: 'form_label' },
              :input_html =>
                      {
                              :value => lat,
                              :'data-parsley-trigger' => 'keyup',
                              :'data-parsley-maxlength' => 32
                      }
  %>

  <%= f.input :longitude,
              :as => :decimal,
              :label => "Longitude",
              label_html: { class: 'form_label' },
              :input_html =>
                      {
                              :value => long,
                              :'data-parsley-trigger' => 'keyup',
                              :'data-parsley-maxlength' => 32
                      }
  %>

  <%= generic_form_remark_field(f, selected_model_instance[:remark]) %>
  <%= polymorphic_selector(selected_model_instance,'addressable',f) %>
</div>
<div class="large-6 columns">

  <div class="google_map_component" style="width: 500px; height: 400px;"></div>
  <br>

  <% if action_name == 'show' || action_name == 'edit'%>
      <div class="form_label"> Maps Link: </div>
      <hr>
      <a class="tiny button" href="https://www.google.com/maps/preview/@<%= lat %>,<%= long %>,18z" target="_blank">Google</a>
      <a class="tiny button" href="http://wikimapia.org/#lang=en&lat=<%= lat %>&lon=<%= long %>&z=20&m=b" target="_blank">Wikimapia</a>
  <% end %>

</div>

<script>
    $( document ).ready(function()
    {
        // Settings
        var radius_size = 2;
        var lat_field_id = (('#' + '<%= controller_path %>' + '_latitude').replace("/", "_")).replace("/", "_");
        var long_field_id = (('#' + '<%= controller_path %>' + '_longitude').replace("/", "_")).replace("/", "_");
        var address_field_id = (('#' + '<%= controller_path %>' + '_remark').replace("/", "_")).replace("/", "_");
        // Initialize
        var lat = parseFloat( $( lat_field_id ).val() );
        var long = parseFloat( $( long_field_id ).val() );
        if ('<%= action_name %>' == 'show')
        {
            $('.google_map_component').locationpicker
            ({
                location: {latitude: lat, longitude: long  },
                radius: 2,
                inputBinding: {
                    latitudeInput: $(lat_field_id),
                    longitudeInput: $(long_field_id)
                }
            });

        }
        else
        {
            $('.google_map_component').locationpicker
            ({
                location: {latitude: lat, longitude: long  },
                radius: 2,
                inputBinding: {
                    latitudeInput: $(lat_field_id),
                    longitudeInput: $(long_field_id),
                    locationNameInput: $(address_field_id)
                },
                enableAutocomplete: true
            });
        }
    });
</script>