<section class='small-10 columns'>
  <%= preheader_generic_table('Addresses','Place or the name of the place where an entity may be reached') %>
  <% begin %>
      <table class='generic_table' id='address_table'>
        <thead>
        <tr>
          <%= generic_table_theadlink('Address ID','addresses.id') %>
          <th>Address Owners</th>
          <%= generic_table_theadlink('remark','addresses.remark') %>
          <%= generic_table_theadlink('Longitude','addresses.longitude') %>
          <%= generic_table_theadlink('Latitude','addresses.latitude') %>
          <th class="actions" align="center">&nbsp;</th>
        </tr>
        </thead>
        <% if @addresses.empty? == true %>
            <% raise exception %>
        <% else %>
            <tbody>
            <% @addresses.each do |address| %>
                <tr>
                  <td><%= address[:id].upcase %></td>
                  <td><%= get_all_entities_involved_with_a_model(AddressesActor, "addresses_actors.address_id = ?", address[:id]).collect { |i| i.name }.join(", ")%></td>
                  <td><%= address[:remark] %> </td>
                  <td><%= address[:longitude] %> </td>
                  <td><%= address[:latitude] %> </td>
                  <td class="actions">
                    <%= generic_table_actions(address[:id]) %>
                  </td>
                </tr>
            <% end %>
            </tbody>
        <% end %>
      </table>
  <% rescue => ex %>
      <%= generic_table_error(ex) %>
  <% end %>
  <%= generic_table_footer(@addresses) %>
</section>