<section class='small-10 columns'>
  <div class='mainheader'> Base Rate Form </div>
  <div class='subdescription'> Set the Base Rate of an Employee </div>

  <%= link_to( "[ BACK TO HOME ]" ,{:action => 'base_rates' }, :class => "action_button action-link-grey" ) %>

  <hr>
  <div class='small-6 columns generic_form'>
    <% if @selected_base_rate.id.present? %>
        <span class="current_edit_id"> <%= 'Editing Base Rate with ID: ' + @selected_base_rate.id %> </span> <br><br>
    <% end %>
    <%= form_tag( {action: :process_base_rate_form}, multipart: true, class: 'create_form', id: "new_base_rate_form", :"data-parsley-validate" => "" ) do %>
        <%= hidden_field_tag('base_rate[id]', @selected_base_rate.id ) %>

        Employee:
        <select name='base_rate[employee_id]'
                id='new_base_rate_employee'
                class='employee_select_field'
                required="required" >
          <option value="" disabled selected>Select Employee</option>
          <% @employees.each do |employee| %>
              <% if employee.id == @selected_base_rate.employee_id %>
                  <option value=<%= employee.id %> selected><%= employee.actor.name %></option>
              <% else %>
                  <option value=<%= employee.id %>><%= employee.actor.name %></option>
              <% end %>
          <% end %>
        </select>

        Base Rate
        <%= text_field_tag("base_rate[amount]",
                           content = @selected_base_rate.amount,
                           options = {placeholder: "Enter amount",
                                      required: "required",
                                      :"data-parsley-trigger" => "keyup",
                                      :"data-parsley-step" => "0.01",
                                      :"data-parsley-type" => "number"}) %>

        Remarks
        <%= text_area_tag("base_rate[remark]",
                          content = @selected_base_rate.remark,
                          options = {class: "remark_description",
                                     :"data-parsley-trigger" => "keyup",
                                     :"data-parsley-maxlength"=>"128",
                                     :placeholder => 'Remarks' }) %>

        <hr />
        <%= link_to( "BACK".html_safe, {:action => 'base_rates'}, class: 'tiny button') %>
        <%=
            if @selected_base_rate[:id].present?
              link_to( "DELETE".html_safe,
                       {:action => 'delete_base_rate',
                        :holiday_id => @selected_base_rate[:id]},
                       class: 'tiny button deletable_item')
            end
        %>
        <input type="reset" class="tiny button" value="RESET" />
        <input type="submit" class="tiny button" value="SUBMIT" />
    <% end %>
  </div>
  <%= renderCorePartial('employee_quick_profile') %>
</section>
