<section class='small-10 columns'>
  <div class='mainheader'> Lump Adjustments </div>
  <div class='subdescription'> Payroll Adjustments for a Specific Period in Time  </div>

  <%= link_to( "[ BACK TO LIST ]" ,{:action => 'employee_accounts_management' }, :class => "action_button action-link-grey" ) %>

  <hr>

  <%= generic_table_search( 'lump_adjustments_search_input', 'lump_adjustments',' Search Lump Adjustments' , '/human_resources/search_suggestions_lump_adjustments', 'lump_adjustments') %>
  <% table_orientation = shift_table_orientation %>
  <% begin %>
      <table class="generic_table" id="lump_adjustments_table">
        <thead>
        <tr>
          <th>
            Lump Adjustments ID
            <%= generic_table_theadlink('lump_adjustments','lump_adjustments.id', table_orientation) %>
          </th>
          <th>
            Employee
            <%= generic_table_theadlink('lump_adjustments','actors.name', table_orientation) %>
          </th>
          <th>
            Date of Effectivity
            <%= generic_table_theadlink('lump_adjustments','lump_adjustments.date_of_effectivity', table_orientation) %>
          </th>
          <th>
            Type
            <%= generic_table_theadlink('lump_adjustments','lump_adjustments.signed_type', table_orientation) %>
          </th>
          <th>
            Amount
            <%= generic_table_theadlink('lump_adjustments','lump_adjustments.amount', table_orientation) %>
          </th>
          <th>
            Remark <%= generic_table_theadlink('lump_adjustments','lump_adjustments.remark', table_orientation) %>
          </th>
          <th>
            Date Created <%= generic_table_theadlink('lump_adjustments','lump_adjustments.created_at', table_orientation) %>
          </th>
          <th>
            Last Updated <%= generic_table_theadlink('lump_adjustments','lump_adjustments.updated_at', table_orientation) %>
          </th>
          <th class="actions" align="center">&nbsp;</th>
        </tr>
        </thead>
        <% if @lump_adjustments.empty? == true %>
            <% raise exception %>
        <% else %>
            <tbody>
            <% @lump_adjustments.each do |lump_adjustment| %>
                <tr>
                  <td><%= lump_adjustment.id %></td>
                  <td><%= link_to( lump_adjustment.employee.actor.name ,{:action => 'employee_profile', :employee_id => lump_adjustment.employee.id} ) %></td>
                  <td><%= lump_adjustment.date_of_effectivity %> </td>
                  <td>
                    <%=
                        if(lump_adjustment.signed_type)
                          "ADDITIONAL"
                        else
                          "SUBSTRACTIONAL"
                        end
                    %>
                  </td>
                  <td><%= lump_adjustment.amount %> </td>
                  <td><%= lump_adjustment.remark %> </td>
                  <td><%= lump_adjustment.created_at %></td>
                  <td><%= lump_adjustment.updated_at %></td>
                  <td class="actions">
                    <%= link_to( "&#9998;".html_safe ,{:action => 'edit_lump_adjustment', :lump_adjustment_id => lump_adjustment.id}, class: 'action_button', tooltip: 'Edit') %>
                    <%= link_to( "&#10006;".html_safe ,{:action => 'delete_lump_adjustment', :lump_adjustment_id => lump_adjustment.id}, class: 'action_button delete_item', tooltip: 'Delete') %>
                  </td>
                </tr>
            <% end %>
            </tbody>
        <% end %>
      </table>
  <% rescue %>
      <script>
          html = "<hr><p align='center'> No records found. Please try again.</p><hr>"
          $(".generic_table").replaceWith(html)
      </script>
  <% end %>
  <%= generic_table_footer('new_lump_adjustment','/human_resources/lump_adjustments',@lump_adjustments) %>
</section>