<td> <%= result.class %> </td>
<td> <%= result[:id] %> </td>
<% if result.class == SystemAssociation %>
    <td>
      Model One: <%= polymorphic_link(result[:model_one_type],result[:model_one_id]) %> <br>
      Model Two: <%= polymorphic_link(result[:model_two_type],result[:model_two_id]) %>
    </td>
    <td> N/A </td>
<% elsif result.class == FileSet %>
    <td>
      File:
      <a target="_blank"
         class="show_panel_small_button"
         href= <%= result.file.url %> >
        <%= result[:file] %></a>
    </td>
    <td>
      <%= polymorphic_link(result[:filesetable_type],result[:filesetable_id]) %>
    </td>
<% elsif result.class == ImageSet %>
    <td style="background-image: url( '<%= result.picture.url %>' ); border: solid #808080 thick; background-position: center;" >
      <a target="_blank"
         class="show_panel_small_button"
         href= <%= result.picture %> >
        <%= result[:picture] %></a>
    </td>
    <td>
      <%= polymorphic_link(result[:imagesetable_type],result[:imagesetable_id]) %>
    </td>
<% elsif result.class == LinkSet %>
    <td>
      URL: <br>
      <a href="<%= result[:url] %>" style="word-break: break-all;"><%= result[:url] %></a>
    </td>
    <td>
      <%= polymorphic_link(result[:linksetable_type],result[:linksetable_id]) %>
    </td>
<% end %>
<td><%= result.remark %></td>
<%= generic_index_last_rows(result, controller_link) %>