<section class='small-10 columns'>
  <%= preheader_generic_index('Files associated with an Entity','Associated Files') %>
  <% begin %>
      <table class='generic_index' id='digital_table'>
        <thead>
        <tr>
          <th>Type</th>
          <th>ID</th>
          <th>Entity Owner</th>
          <th>Details</th>
          <%= generic_index_theadlink('Remark') %>
          <%= generic_index_theadlink_last_head() %>
        </tr>
        </thead>
        <% if @associated_files.empty? == true %>
            <%= no_records_found %>
        <% else %>
            <tbody>
            <% @associated_files.each do |associated_file| %>
                <tr>
                  <td> <%= associated_file.class %> </td>
                  <td> <%= associated_file[:id] %> </td>
                  <% if associated_file.class == Association %>
                      Model One: <%= polymorphic_link(associated_file[:model_one_type],associated_file[:model_one_id]) %>
                      Model Two: <%= polymorphic_link(associated_file[:model_two_type],associated_file[:model_two_id]) %>
                  <% elsif associated_file.class == FileSet %>
                      <%= polymorphic_link(associated_file[:filesetable_type],associated_file[:filesetable_id]) %>
                      <td>
                        File:
                        <a target="_blank"
                           class="show_panel_small_button"
                           href= <%= associated_file.file.url %> >
                          <%= associated_file[:file] %></a>
                      </td>
                  <% elsif associated_file.class == ImageSet %>
                      <%= polymorphic_link(associated_file[:imagesetable_type],associated_file[:imagesetable_id]) %>
                      <td style="background-image: url( '<%= associated_file.picture.url %>' ); border: solid #808080 thick; background-position: center;" >
                        <a target="_blank"
                           class="show_panel_small_button"
                           href= <%= associated_file.picture %> >
                          <%= associated_file[:picture] %></a>
                      </td>
                  <% elsif associated_file.class == LinkSet %>
                      <%= polymorphic_link(associated_file[:linksetable_type],associated_file[:linksetable_id]) %>
                      <td>
                        URL: <br>
                        <a href="<%= associated_file[:url] %>"><%= associated_file[:url] %></a>
                      </td>
                  <% end %>
                  <td><%= associated_file.remark %></td>

                  <%
                     controller_link = ''
                     if associated_file.class == FileSet
                       controller_link = general_administration_associated_files_file_sets_path
                     elsif associated_file.class == ImageSet
                       controller_link = general_administration_associated_files_image_sets_path
                     elsif associated_file.class == LinkSet
                       controller_link = general_administration_associated_files_link_sets_path
                     elsif associated_file.class == Association
                       controller_link = general_administration_associated_files_associations_path
                     end
                  %>

                  <%=
                      generic_index_last_rows(associated_file, controller_link)
                  %>

                </tr>
            <% end %>
            </tbody>
        <% end %>
      </table>
  <% rescue => ex %>
      <%= generic_index_error(ex) %>
  <% end %>
  <%= generic_index_footer(@associated_files) %>

  <hr style="visibility: hidden">

  <div align="center">
    <%= overview_panel(general_administration_associated_files_file_sets_path,'File Sets', FileSet) %>
    <%= overview_panel(general_administration_associated_files_image_sets_path,'Image Sets', ImageSet) %>
    <%= overview_panel(general_administration_associated_files_link_sets_path,'Link Sets', LinkSet) %>
    <%= overview_panel(general_administration_associated_files_associations_path,'Association', Association) %>
    <br><br>
  </div>


</section>