<div> <%= generic_index_id(result) %> </div>
<div> <%= result[:orcr] %> </div>
<div> <%= result[:plate_number] %> </div>
<div> <%= result[:type_of_vehicle] %> </div>
<div>
  <%= generic_index_measurement( result, 'capacity_m3', 'cubic-meters') %>
</div>
<div> <%= generic_index_remark(result[:remark]) %> </div>
<%= generic_index_actions( result, controller_link ) %>