<div class="large-6 columns">

  <%= f.input :plate_number,
              :label => "Plate Number",
              label_html: { class: 'form_label' },
              :input_html =>
                      {
                              :value => selected_model_instance[:plate_number],
                              :'data-parsley-trigger' => 'keyup',
                              :'data-parsley-maxlength' => 32
                      }
  %>

  <%= f.input :type_of_vehicle,
              :label => "Type of Vehicle",
              label_html: { class: 'form_label' },
              :input_html =>
                      {
                              :value => selected_model_instance[:type_of_vehicle],
                              :'data-parsley-trigger' => 'keyup',
                              :'data-parsley-maxlength' => 32
                      }
  %>

  <%= f.input :brand,
              :label => "Brand",
              label_html: { class: 'form_label' },
              :input_html =>
                      {
                              :value => selected_model_instance[:brand],
                              :'data-parsley-trigger' => 'keyup',
                              :'data-parsley-maxlength' => 32
                      }
  %>

  <div class="form-block" style="float: left; width: 50%;">
  <div class="form_label"> Date of Registration </div>
  <input type="date" name="<%= controller_path %>[date_of_implementation]" value=<%= selected_model_instance[:date_of_implementation] %>>
  </div>
  <hr style="visibility: hidden">

  <%= f.input :oil,
              :label => "Oil",
              label_html: { class: 'form_label' },
              :input_html =>
                      {
                              :value => selected_model_instance[:oil],
                              :'data-parsley-trigger' => 'keyup',
                              :'data-parsley-maxlength' => 64
                      }
  %>

  <%= field_measurement(f, 'capacity_m3', 'Capacity in m&sup3;'.html_safe , selected_model_instance, 'cubic-meter') %>
  <%= field_measurement(f, 'load_kg', 'Maximum Load in kg'.html_safe , selected_model_instance, 'kilogram') %>

  <%= render_remark_field(f, selected_model_instance[:remark]) %>

</div>
G
<%= related_models('Vehicle',params[:id]) unless generally_new? %>