<div class="large-6 columns">

  <%= f.input :name,
              :label => "Name",
              label_html: { class: 'form_label' },
              :input_html =>
                      {
                              :value => selected_model_instance[:name],
                              :'data-parsley-trigger' => 'keyup',
                              :'data-parsley-maxlength' => 64
                      }
  %>

  <%= f.input :orcr,
              :label => "ORCR",
              label_html: { class: 'form_label' },
              :input_html =>
                      {
                              :value => selected_model_instance[:orcr],
                              :'data-parsley-trigger' => 'keyup',
                              :'data-parsley-maxlength' => 64
                      }
  %>

  <%= f.input :plate_number,
              :label => "Plate Number",
              label_html: { class: 'form_label' },
              :input_html =>
                      {
                              :value => selected_model_instance[:plate_number],
                              :'data-parsley-trigger' => 'keyup',
                              :'data-parsley-maxlength' => 64
                      }
  %>

  <%= f.input :type_of_vehicle,
              :label => "Type of Vehicle",
              label_html: { class: 'form_label' },
              :input_html =>
                      {
                              :value => selected_model_instance[:type_of_vehicle],
                              :'data-parsley-trigger' => 'keyup',
                              :'data-parsley-maxlength' => 64
                      }
  %>


  <%= f.input :capacity_m3,
              :as => :float,
              :label => "Capacity in m&sup3;".html_safe,
              label_html: { class: 'form_label' },
              :input_html =>
                      {
                              :value => selected_model_instance[:capacity_m3],
                              :'data-parsley-trigger' => 'keyup',
                              :'data-parsley-maxlength' => 64
                      }
  %>

  <%= generic_form_remark_field(f, selected_model_instance[:remark]) %>

</div>