<div class="large-6 columns">
  <%= f.input :orcr,
              :label => "ORCR",
              label_html: { class: 'form_label' },
              :input_html =>
                      {
                              :value => selected_model_instance[:orcr],
                              :'data-parsley-trigger' => 'keyup',
                              :'data-parsley-maxlength' => 64
                      }
  %>

  <%= f.input :plate_number,
              :label => "Plate Number",
              label_html: { class: 'form_label' },
              :input_html =>
                      {
                              :value => selected_model_instance[:plate_number],
                              :'data-parsley-trigger' => 'keyup',
                              :'data-parsley-maxlength' => 64
                      }
  %>

  <%= f.input :type_of_vehicle,
              :label => "Type of Vehicle",
              label_html: { class: 'form_label' },
              :input_html =>
                      {
                              :value => selected_model_instance[:type_of_vehicle],
                              :'data-parsley-trigger' => 'keyup',
                              :'data-parsley-maxlength' => 64
                      }
  %>

  <%= field_measurement(f, 'capacity_m3', 'Capacity in m&sup3;'.html_safe , selected_model_instance, 'cubic-meter') %>

  <%= generic_form_remark_field(f, selected_model_instance[:remark]) %>

</div>