
<div class="form-block">
  <div class="label">Institutional Adjustment : </div>
  <br />
  <select name='institutional_adjustment[institution]'
          required="required" >
    <% if @selected_institutional_adjustment[:institution] == "SSS" %>
        <option disabled>Select Institution</option>
        <option value="SSS" selected >SSS</option>
        <option value="PHILHEALTH">PHILHEALTH</option>
        <option value="PAGIBIG">PAGIBIG</option>
    <% elsif @selected_institutional_adjustment[:institution] == "PHILHEALTH" %>
        <option disabled>Select Institution</option>
        <option value="SSS">SSS</option>
        <option value="PHILHEALTH" selected >PHILHEALTH</option>
        <option value="PAGIBIG">PAGIBIG</option>
    <% elsif @selected_institutional_adjustment[:institution] == "PAGIBIG" %>
        <option disabled>Select Institution</option>
        <option value="SSS">SSS</option>
        <option value="PHILHEALTH">PHILHEALTH</option>
        <option value="PAGIBIG" selected >PAGIBIG</option>
    <% else %>
        <option disabled selected >Select Institution</option>
        <option value="SSS">SSS</option>
        <option value="PHILHEALTH">PHILHEALTH</option>
        <option value="PAGIBIG">PAGIBIG</option>
    <% end %>
  </select>
</div>

<div class="form-block">
  <div class="label">Contribution Type : </div>
  <br />
  <select name='institutional_adjustment[contribution_type]'
          required="required" >
    <% if @selected_institutional_adjustment[:contribution_type] == "LUMP" %>
        <option disabled>Select Contribution Type</option>
        <option value="LUMP" selected >LUMP</option>
        <option value="PERCENTAGE">PERCENTAGE</option>
    <% elsif @selected_institutional_adjustment[:contribution_type] == "PERCENTAGE" %>
        <option disabled>Select Contribution Type</option>
        <option value="LUMP">LUMP</option>
        <option value="PERCENTAGE" selected >PERCENTAGE</option>
    <% else %>
        <option disabled selected >Select Contribution Type</option>
        <option value="LUMP">LUMP</option>
        <option value="PERCENTAGE">PERCENTAGE</option>
    <% end %>
  </select>
</div>

<div class="form-block">
  <div class="label">Start Range : </div>
  <%= text_field_tag("institutional_adjustment[start_range]",
                     content = @selected_institutional_adjustment[:start_range],
                     options = {placeholder: "Enter amount",
                                required: "required",
                                id: "institutional_adjustment_start_range",
                                :"data-parsley-trigger" => "keyup",
                                :"data-parsley-range_institutional_adjustment" => "0",
                                :"data-parsley-step" => "0.01",
                                :"data-parsley-type" => "number"}) %>

</div>

<div class="form-block">
  <div class="label">End Range : </div>
  <%= text_field_tag("institutional_adjustment[end_range]",
                     content = @selected_institutional_adjustment[:end_range],
                     options = {placeholder: "Enter amount",
                                required: "required",
                                id: "institutional_adjustment_end_range",
                                :"data-parsley-trigger" => "keyup",
                                :"data-parsley-range_institutional_adjustment" => "0",
                                :"data-parsley-step" => "0.01",
                                :"data-parsley-type" => "number"}) %>
</div>

<div class="form-block">
  <div class="label">Employee Contribution : </div>
  <%= text_field_tag("institutional_adjustment[employee_contribution]",
                     content = @selected_institutional_adjustment[:employee_contribution],
                     options = {placeholder: "Enter amount",
                                required: "required",
                                :"data-parsley-trigger" => "keyup",
                                :"data-parsley-step" => "0.01",
                                :"data-parsley-type" => "number"}) %>
</div>

<div class="form-block">
  <div class="label">Period of Time : </div>
  <br />
  <select name='institutional_adjustment[period_of_time]'
          required="required" >
    <% if @selected_institutional_adjustment[:period_of_time] == 'HOUR' %>
        <option value="HOUR" selected>HOUR</option>
        <option value="DAY">DAY</option>
        <option value="WEEK">WEEK</option>
        <option value="MONTH">MONTH</option>
    <% elsif @selected_institutional_adjustment[:period_of_time] == 'DAY' %>
        <option value="HOUR">HOUR</option>
        <option value="DAY" selected>DAY</option>
        <option value="WEEK">WEEK</option>
        <option value="MONTH">MONTH</option>
    <% elsif @selected_institutional_adjustment[:period_of_time] == 'WEEK' %>
        <option value="HOUR">HOUR</option>
        <option value="DAY">DAY</option>
        <option value="WEEK" selected>WEEK</option>
        <option value="MONTH">MONTH</option>
    <% elsif @selected_institutional_adjustment[:period_of_time] == 'MONTH' %>
        <option value="HOUR">HOUR</option>
        <option value="DAY">DAY</option>
        <option value="WEEK">WEEK</option>
        <option value="MONTH" selected>MONTH</option>
    <% else %>
        <option disabled selected>Select Period of Time</option>
        <option value="HOUR">HOUR</option>
        <option value="DAY">DAY</option>
        <option value="WEEK">WEEK</option>
        <option value="MONTH" selected>MONTH</option>
    <% end %>
  </select>
</div>

<div class="form-block">
  <div class="label">Date of Effectivity: </div>
  <input type="datetime-local"
         required="required"
         name="institutional_adjustment[date_of_effectivity]"
         step="1"
         value= <%= @selected_institutional_adjustment[:date_of_effectivity].present? ? @selected_institutional_adjustment[:date_of_effectivity].strftime('%FT%T') : Time.now.strftime('%FT%T')  %>>

</div>

<div class="form-block">
  <div class="label">Description : </div>
  <%= text_area_tag("institutional_adjustment[description]",
                    content = @selected_institutional_adjustment[:description],
                    options = {class: "institutional_adjustment_description",
                               :"data-parsley-trigger" => "keyup",
                               :"data-parsley-maxlength"=>"128",
                               :placeholder => 'Description' }) %>
</div>
