<% unless generally_new? %>
<div class="small-3 columns">
    <img src="<%= selected_model_instance.logo.url %>" height="50">
    <hr style="visibility: hidden">
</div>
<% end %>

<div class="small-3 columns">
<%= f.input :name,
            :label => "Name",
            label_html: { class: 'form_label' },
            :input_html =>
                    {
                            :value => selected_model_instance[:name],
                            :'data-parsley-trigger' => 'keyup',
                            :'data-parsley-maxlength' => 64
                    }
%>

<%= f.input :logo,
            required: false,
            :as => :file,
            :label => "Logo or Picture",
            label_html: { class: 'form_label' },
            :input_html =>
                    {
                            :value => selected_model_instance[:picture]
                    }
%>

<%= render_remark_field(f, selected_model_instance[:remark]) %>
</div>


<% employee = Employee.where(system_account_id: selected_model_instance[:id] ).first %>
<% if employee != nil %>
    <div class="small-6 columns">
      Employee ID: <%= link_to( employee.id, '/human_resources/employee_accounts_management/employees/' + employee.id, :target => '_blank', :class => 'system_account_profile_link') %>
    </div>
<% end %>

<%= related_models('SystemAccount',params[:id]) unless generally_new? %>

<style>
  .system_account_profile_link
  {
      color:#000000;
      background-color: #dcdcdc;
      padding: 5px;
  }
  .system_account_profile_link:hover
  {
      background-color: #721314;
      color: white;
  }
</style>