<div> <%= generic_index_id(result) %> </div>
<div> <%= result.system_account.name %> </div>
<div> <%= generic_index_remark(result[:remark]) %> </div>
<div>
  <img src="<%= result.system_account.logo.url %>">
</div>
<%= generic_index_actions( result, controller_link ) %>