<section class="small-10 columns">

  <div class="content">

    <div id="profile-header" class="mainheader">
      <span><%= @employee.actor.name %></span>
    </div>

    <%= link_to( "Cancel" ,{:action => 'employee_accounts_management'} ) %>

    <%= form_tag({action: :"edit_employee_data", :employee_id => @employee.id, :actor_id => @employee.actor.id}, multipart: true, id: "edit_employee_form", :"data-parsley-validate" => "" ) do %>

        <div class="md-spacer"></div>

        <div class="medium-6">

          <h5>Personal Information</h5>

          <div class="row">
            <div class="medium-8 columns">
              <label>Name
                <%= text_field_tag("actors[name]", value = @employee.actor.name, options = {placeholder: "Enter name", required: "required", :"data-parsley-trigger" => "keyup",:"data-parsley-minlength"=>"3" ,:"data-parsley-maxlength"=>"64"}) %>
              </label>
            </div>
          </div>

          <div class="row">
            <div class="medium-8 columns">
              <label>remark
                <%= text_area_tag("actors[remark]", value = @employee.actor.remark, options = {placeholder: "Enter remark", required: "required", :"data-parsley-trigger" => "keyup",:"data-parsley-minlength"=>"3" ,:"data-parsley-maxlength"=>"128"}) %>
              </label>
            </div>
          </div>

          <h5>Bio</h5>

          <div class="row">
            <div class="medium-8 columns">
              <label>Birthday
                <%= date_field_tag("biodatum[date_of_birth]", value = @biodatum.date_of_birth, options = {id:"birthday", placeholder: "Birthday", required: "required", :"data-parsley-date" => "", :"data-parsley-trigger" => "keyup"}) %>
              </label>
            </div>
          </div>

          <div class="row">
            <div class="medium-8 columns">
              <label>Height
              <%= number_field_tag("biodatum[height]", @biodatum.height, options = {id:"height", placeholder: "Height in cm", :"data-parsley-type" => "integer", :"data-parsley-trigger" => "keyup"}) %></div><br>
            </label>
          </div>


          <div class="row">
            <div class="medium-8 columns">
              <label>Sex :: <%= @biodatum.gender %></label>
              <%= radio_button_tag(:sex, 'Male')%>  <%= label_tag(:sex_female, "Male") %>
              <%= radio_button_tag(:sex, 'Female')%> <%= label_tag(:sex_male, "Female") %>
            </div>
          </div>

          <div class="row">
            <div class="medium-8 columns">
              <label>Family Members :: <%= @biodatum.family_members %>
                <%= text_area_tag("biodatum[family_members]", value = nil, options = {id:"family_members", placeholder: "Family Members",:"data-parsley-trigger" => "keyup", :"data-parsley-maxlength"=>"128"}) %>
              </label>
            </div>
          </div>

          <!-- test -->

          <div class="row">
            <div class="medium-8 columns">
              <label>Complexion :: <%= @biodatum.complexion %>
                <%= select_tag("biodatum[complexion]",
                               options_for_select(
                                       [%w(Light Light),
                                        %w(Fair Fair),
                                        %w(Medium Medium),
                                        %w(Olive Olive),
                                        %w(Brown Brown),
                                        %w(Black Black),
                                       ]
                               ))
                %>
              </label>
            </div>
          </div>


          <div class="row">
            <div class="medium-8 columns">
              <label>Marital Status :: <%= @biodatum.marital_status %>
                <%= select_tag("biodatum[marital_status]",
                               options_for_select(
                                       [ %w(Single Single),
                                         %w(Married Married),
                                         %w(Divorced Divorced),
                                         %w(Widowed Widowed)]
                               ))
                %>
              </label>
            </div>
          </div>

          <div class="row">
            <div class="medium-8 columns">
              <label>Blood Type :: <%= @biodatum.blood_type %>
                <%= select_tag("biodatum[blood_type]",
                               options_for_select(
                                       [%w(A+ A+),
                                        %w(A- A-),
                                        %w(B+ B+),
                                        %w(B- B-),
                                        %w(AB+ AB+),
                                        %w(AB- AB-),
                                        %w(O+ O+),
                                        %w(O- O- )]
                               ))
                %>
              </label>
            </div>
          </div>

          <div class="row">
            <div class="medium-8 columns">
              <label>Religion :: <%= @biodatum.religion %>
                <%= select_tag("biodatum[religion]",
                               options_for_select(
                                       [['Catholic Christian','Catholic Christian'],
                                        ['Born Again Christian','Born Again Christian'],
                                        ['Iglesia ni Cristo','Iglesia ni Cristo'],
                                        ['Muslim','Muslim'], ['Others','Others']]
                               ))
                %>
              </label>
            </div>
          </div>

          <div class="row">
            <div class="medium-8 columns">
              <label>Education :: <%= @biodatum.education %>
                <%= select_tag("biodatum[education]",
                               options_for_select(
                                       [['Elementary','Elementary'],
                                        ['High School','High School'],
                                        ['College Undergraduate','College Undergraduate'],
                                        ['College Graduate - Bachelor','College Graduate - Bachelor'],
                                        ['College Graduate - Master','College Graduate - Master'],
                                        ['College Graduate - Doctor','College Graduate - Doctor'],
                                       ]
                               ))
                %>
              </label>
            </div>
          </div>

          <div class="row">
            <div class="medium-8 columns">
              <label>Career Experience :: <%= @biodatum.career_experience %>
                <%= text_area_tag("biodatum[career_experience]", value = @biodatum.career_experience, options = {id:"career_experience", placeholder: "Career Experience",:"data-parsley-trigger" => "keyup", :"data-parsley-maxlength"=>"32"}) %>
              </label>
            </div>
          </div>

          <div class="row">
            <div class="medium-8 columns">
              <label>Notable Accomplishments :: <%= @biodatum.notable_accomplishments %>
                <%= text_area_tag("biodatum[notable_accomplishments]", value = @biodatum.notable_accomplishments, options = {id:"notable_accomplishments", placeholder: "Notable Accomplishments",:"data-parsley-trigger" => "keyup", :"data-parsley-maxlength"=>"32"}) %>
              </label>
            </div>
          </div>

          <div class="row">
            <div class="medium-8 columns">
              <label>Emergency Contact :: <%= @biodatum.emergency_contact %>
                <%= text_area_tag("biodatum[emergency_contact]", value = @biodatum.emergency_contact, options = {id:"emergency_contact", placeholder: "Emergency Contact Details",:"data-parsley-trigger" => "keyup", :"data-parsley-maxlength"=>"32"}) %>

              </label>
            </div>
          </div>

          <div class="row">
            <div class="medium-8 columns">
              <label>Languages Spoken :: <%= @biodatum.languages_spoken %>
                <%= text_area_tag("biodatum[languages_spoken]", value = @biodatum.languages_spoken, options = {id:"languages_spoken", placeholder: "Languages Spoken",:"data-parsley-trigger" => "keyup", :"data-parsley-maxlength"=>"32"}) %>

              </label>
            </div>
          </div>

          <h5>Branch</h5>

          <div class="row">
            <div class="medium-8 columns">
              <label>
                <%= select_tag 'branches_dd', options_for_select(@branches.collect{ |b| [b.name, b.id] }) %>
              </label>
            </div>
          </div>

          <div class="row">
            <div class="medium-8 columns">
              <%= submit_tag nil, :class => "button small" %>
            </div>
          </div>

        </div>

    <% end %>

  </div>

</section>