<section class='small-10 columns'>
  <%= preheader_generic_index('Employees','People working for the Enterprise') %>
  <% begin %>
      <table class="generic_index" id="duty_statuses_table">
        <thead>
        <tr>
          <%= generic_index_theadlink('Employees ID','employees.id') %>
          <%= generic_index_theadlink('Name','actors.name') %>
          <th>Duty Status</th>
          <%= generic_index_theadlink('Current Branch','branches.name') %>
          <th class="actions" align="center">&nbsp;</th>
        </tr>
        </thead>
        <% if @employees.empty? == true %>
            no_records_found
        <% else %>
            <tbody>
            <% @employees.each do |employee| %>
                <tr>
                  <td><%= employee[:id].upcase %></td>
                  <td><%= generic_actor_profile_link( employee.actor.id, employee.actor.name) %></td>
                  <td><%= get_current_duty_status(employee[:id]) %></td>
                  <td>
                    <%= employee.branch.name %>
                  </td>
                  <td class="actions">
                    <%= generic_index_actions(employee[:id]) %>
                  </td>
                </tr>
            <% end %>
            </tbody>
        <% end %>
      </table>
  <% rescue => ex %>
      <%= generic_index_error(ex) %>
  <% end %>
  <%= generic_index_footer(@employees) %>
</section>