\<section class='small-10 columns'>
  <%= generic_title('Employees','People working for North Sea Parts') %>
  <%= generic_table_search %>
  <% table_orientation = shift_table_orientation %>
  <% begin %>
      <table class="generic_table" id="duty_statuses_table">
        <thead>
        <tr>
          <%= generic_table_theadlink('Employees ID','employees.id', table_orientation) %>
          <%= generic_table_theadlink('Name','actors.name', table_orientation) %>
          <th>Duty Status</th>
          <%= generic_table_theadlink('Current Branch','branches.name', table_orientation) %>
        </tr>
        </thead>
        <% if @employees.empty? == true %>
            <% raise "No Records Found" %>
        <% else %>
            <tbody>
            <% @employees.each do |employee| %>
                <tr>
                  <td><%= employee[:id].upcase %></td>
                  <td><%= generic_actor_profile_link( employee.actor.id, employee.actor.name) %></td>
                  <td><%= get_current_duty_status(employee[:id]) %></td>
                  <td>
                    <%= employee.branch.name %>
                  </td>
                  <td class="actions">
                    <%= generic_table_actions(employee[:id]) %>
                  </td>
                </tr>
            <% end %>
            </tbody>
        <% end %>
      </table>
  <% rescue => ex %>
      <%= generic_table_error(ex) %>
  <% end %>
  <%= generic_table_footer(@employees) %>
</section>