<section class='small-10 columns'>
  <div class='mainheader'> Constants </div>
  <div class='subdescription'> Add a new system parameter </div>
  <hr>
  <div class='small-6 columns generic_form'>
    <% if @selected_constant[:id].present? %>
        <span class="current_edit_id">
          <%= 'Editing Constant ID: ' + @selected_constant[:id].to_s %>
        </span>
        <br><br>
    <% end %>

    <%=
        form_tag( {action: :process_constant_form},
                  class: 'create_form',
                  id: "new_constant",
                  :"data-parsley-validate" => "" ) do
    %>

        <%= hidden_field_tag('constant[id]', @selected_constant[:id] ) %>

        <div class="form-block">
          <section class="form-block-label">Type</section>
          <section class="form-block-control">
            <input type="text"
                   required="required"
                   placeholder="Enter constant type"
                   data-parsley-trigger = keyup
                   data-parsley-maxlength = 64
                   id="constant_type"
                   value= "<%= @selected_constant[:constant_type] %>"
                   name="constant[constant_type]">
          </section>
        </div>

        <div class="form-block">
          <section class="form-block-label">Name</section>
          <section class="form-block-control">
            <input type="text"
                   required="required"
                   placeholder="Enter constant name"
                   data-parsley-trigger = keyup
                   data-parsley-maxlength = 64
                   id="constant_name"
                   value= "<%= @selected_constant[:name] %>"
                   name="constant[name]">
          </section>
        </div>

        <div class="form-block">
          <section class="form-block-label">Value</section>
          <section class="form-block-control">
            <input type="text"
                   required="required"
                   placeholder="Enter constant value"
                   data-parsley-trigger = keyup
                   data-parsley-maxlength = 64
                   id="constant_name"
                   value= "<%= @selected_constant[:value] %>"
                   name="constant[value]">
          </section>
        </div>

        <div class="form-block">
          <section class="form-block-label">Description</section>
          <section class="form-block-control">
            <%=
                text_area_tag("constant[remark]",
                              content = @selected_constant[:remark],
                              options = {class: "remark_description",
                                         :"data-parsley-trigger" => "keyup",
                                         :"data-parsley-maxlength"=>"128",
                                         :placeholder => 'Description' })
            %>
          </section>
        </div>

        <%= link_to( "BACK".html_safe, {:action => 'constants'}, class: 'tiny button') %>
        <%=
            if @selected_constant[:id].present?
              link_to( "DELETE".html_safe,
                       {:action => 'delete_constant',
                        :constant_id => @selected_constant[:id]},
                       class: 'tiny button deletable_item')
            end
        %>
        <input type="reset" class="tiny button" value="RESET" />
        <input type="submit" class="tiny button" value="SUBMIT" />

    <% end %>

  </div>
</section>