<section class='small-10 columns'>
  <div class='mainheader'> Holiday Types </div>
  <div class='subdescription'> The Labor Code of the Philippines specifies two types of holidays: the "regular holiday" and the "special non-working day"  </div>
  <hr>
  <%= generic_table_search( 'holiday_types_search_input', 'holiday_types',' Search Holiday Types' , '/human_resources/search_suggestions_holiday_types', 'holiday_types') %>
  <% table_orientation = shift_table_orientation %>
  <% begin %>
      <table class="generic_table" id="holidays_table">
        <thead>
        <tr>
          <th>
            Holidays ID
            <%= generic_table_theadlink('holiday_types','holiday_types.id', table_orientation) %>
          </th>
          <th>
            Type Name
            <%= generic_table_theadlink('holiday_types','holiday_types.type_name', table_orientation) %>
          </th>
          <th>
            Rate Multiplier
            <%= generic_table_theadlink('holiday_types','holiday_types.rate_multiplier', table_orientation) %>
          </th>
          <th>
            Overtime Multiplier
            <%= generic_table_theadlink('holiday_types','holiday_types.overtime_multiplier', table_orientation) %>
          </th>
          <th>
            Rest Day Multiplier
            <%= generic_table_theadlink('holiday_types','holiday_types.rest_day_multiplier', table_orientation) %>
          </th>
          <th>
            Overtime and Rest Day Multiplier
            <%= generic_table_theadlink('holiday_types','holiday_types.overtime_rest_day_multiplier', table_orientation) %>
          </th>
          <th>
            No Work No Pay?
            <%= generic_table_theadlink('holiday_types','holiday_types.no_work_pay', table_orientation) %>
          </th>
          <th>
            Date Created <%= generic_table_theadlink('holiday_types','holiday_types.created_at', table_orientation) %>
          </th>
          <th>
            Last Updated <%= generic_table_theadlink('holiday_types','holiday_types.updated_at', table_orientation) %>
          </th>
          <th class="actions" align="center">&nbsp;</th>
        </tr>
        </thead>
        <% if @holiday_types.empty? == true %>
            <% raise exception %>
        <% else %>
            <tbody>
            <% @holiday_types.each do |holiday_type| %>
                <tr>
                  <td><%= holiday_type[:id] %></td>
                  <td><%= holiday_type[:type_name] %></td>
                  <td><%= holiday_type[:rate_multiplier] %></td>
                  <td><%= holiday_type[:overtime_multiplier] %></td>
                  <td><%= holiday_type[:rest_day_multiplier] %></td>
                  <td><%= holiday_type[:overtime_rest_day_multiplier] %></td>
                  <td>
                    <% if holiday_type[:no_work_pay] %>
                        YES
                    <% else %>
                        NO
                    <% end %>
                  </td>
                  <td><%= holiday_type[:created_at] %></td>
                  <td><%= holiday_type[:updated_at] %></td>
                  <td class="actions">
                    <%= link_to( "&#9998;".html_safe ,{:action => 'edit_holiday_type', :holiday_type_id => holiday_type.id}, class: 'action_button', tooltip: 'Edit') %>
                    <%= link_to( "&#10006;".html_safe ,{:action => 'delete_holiday_type', :holiday_type_id => holiday_type.id}, class: 'action_button deletable_item', tooltip: 'Delete') %>
                  </td>
                </tr>
            <% end %>
            </tbody>
        <% end %>
      </table>
  <% rescue => ex%>
      <script>
          html = "<hr><p align='center'> No records found. Please try again.</p><hr>"
          $(".generic_table").replaceWith(html)
      </script>
  <% end %>
  <%= generic_table_footer('new_holiday_type','/human_resources/holiday_types',@holiday_types,'settings') %>
</section>