<section class='small-10 columns'>
  <div class='mainheader'> Holiday Form </div>
  <div class='subdescription'> Set a Holiday </div>
  <hr>
  <div class='small-6 columns generic_form'>
    <% if @selected_holiday[:id].present? %>
        <span class="current_edit_id">
          <%= 'Editing Holiday ID: ' + @selected_holiday[:id].to_s %>
        </span>
        <br><br>
    <% end %>

    <%=
        form_tag( {action: :process_holiday_form},
                  class: 'create_form',
                  id: "new_holiday_form",
                  :"data-parsley-validate" => "" ) do
    %>

    <%= hidden_field_tag('holiday[id]', @selected_holiday[:id] ) %>

    <div>
      Date of Implementation:
      <input type="date"
             required="required"
             name="holiday[date_of_implementation]"
             id="holiday_date_0"
             <% if !@selected_holiday[:id].present? %>
             data-parsley-trigger = keyup
             data-parsley-remote
             data-parsley-remote-validator='unique-holiday-date'
             <% end %>
             style="width: 50%"
             <%= @selected_holiday[:date_of_implementation].present? ? "value=" + @selected_holiday[:date_of_implementation].strftime('%Y-%m-%d') : '' %>>

    </div>

    <select name='holiday[holiday_type_id]'
            style="width: 50%;"
            required="required" >
      <option value="" disabled selected>Select Type of Holiday</option>
      <% @holiday_types.each do |holiday_type| %>
          <% if holiday_type.id == @selected_holiday[:holiday_type_id] %>
              <option value=<%= holiday_type[:id] %> selected><%= holiday_type[:type_name] %></option>
          <% else %>
              <option value=<%= holiday_type[:id] %>><%= holiday_type[:type_name] %></option>
          <% end %>
      <% end %>
    </select>

    <input type="text"
           required="required"
           placeholder="Name of Holiday"
           data-parsley-trigger = keyup
           data-parsley-maxlength = 64
           id="holiday_name"
           value= "<%= @selected_holiday[:name] %>"
           name="holiday[name]">

    <%=
        text_area_tag("holiday[description]",
                      content = @selected_holiday[:description],
                      options = {class: "remark_description",
                                 :"data-parsley-trigger" => "keyup",
                                 :"data-parsley-maxlength"=>"128",
                                 :placeholder => 'Description' })
    %>

    <%= link_to( "BACK".html_safe, {:action => 'holidays'}, class: 'tiny button') %>
    <%=
        if @selected_holiday[:id].present?
        link_to( "DELETE".html_safe,
                 {:action => 'delete_holiday',
                  :holiday_id => @selected_holiday[:id]},
                 class: 'tiny button deletable_item')
        end
    %>
    <input type="reset" class="tiny button" value="RESET" />
    <input type="submit" class="tiny button" value="SUBMIT" />

    <% end %>

  </div>
</section>