<section class='small-10 columns'>
  <%= preheader_generic_table('Branches','Location-wise Business Subdivisions') %>
  <% begin %>
      <table class="generic_table" id="branches_table">
        <thead>
        <tr>
          <%= generic_table_theadlink('Branch ID','branches.id') %>
          <%= generic_table_theadlink('Branch Name','branches.name') %>
          <%= generic_table_theadlink('Date Created','branches.created_at') %>
          <%= generic_table_theadlink('Last Updated','branches.updated_at') %>
          <th class="actions" align="center">&nbsp;</th>
        </tr>
        </thead>
        <% if @branches.empty? == true %>
            no_records_found
        <% else %>
            <tbody>
            <% @branches.each do |branch| %>
                <tr>
                  <td><%= branch[:id].upcase %></td>
                  <td><%= branch[:name] %></td>
                  <td><%= branch[:created_at] %></td>
                  <td><%= branch[:updated_at] %></td>
                  <td class="actions">
                    <%= generic_table_actions(branch[:id]) %>
                  </td>
                </tr>
            <% end %>
            </tbody>
        <% end %>
      </table>
  <% rescue => ex%>
      <%= generic_table_error(ex) %>
  <% end %>
  <%= generic_table_footer(@branches) %>
</section>