<div class="large-6 columns">

  <%= f.input :type_name,
              :label => "Type Name",
              label_html: { class: 'form_label' },
              :input_html =>
                      {
                              :value => selected_model_instance[:type_name],
                              :'data-parsley-trigger' => 'keyup',
                              :'data-parsley-maxlength' => 128
                      }
  %>

  <%= f.input :rate_multiplier,
                  :as => :float,
                  :label => "Rate Multiplier",
                  label_html: { class: 'form_label' },
                  :input_html =>
                          {
                                  :value => selected_model_instance[:rate_multiplier],
                                  :'data-parsley-trigger' => 'keyup',
                                  :'data-parsley-maxlength' => 64
                          }
  %>

  <%= f.input :overtime_multiplier,
              :as => :float,
              :label => "Overtime Multiplier",
              label_html: { class: 'form_label' },
              :input_html =>
                      {
                              :value => selected_model_instance[:overtime_multiplier],
                              :'data-parsley-trigger' => 'keyup',
                              :'data-parsley-maxlength' => 64
                      }
  %>

  <%= f.input :rest_day_multiplier,
              :as => :float,
              :label => "Rest Day Multiplier",
              label_html: { class: 'form_label' },
              :input_html =>
                      {
                              :value => selected_model_instance[:rest_day_multiplier],
                              :'data-parsley-trigger' => 'keyup',
                              :'data-parsley-maxlength' => 64
                      }
  %>

  <%= f.input :overtime_rest_day_multiplier,
              :as => :float,
              :label => "Overtime + Rest Day Multiplier",
              label_html: { class: 'form_label' },
              :input_html =>
                      {
                              :value => selected_model_instance[:overtime_rest_day_multiplier],
                              :'data-parsley-trigger' => 'keyup',
                              :'data-parsley-maxlength' => 64
                      }
  %>

  <%=
      f.input :no_work_pay,
              as: :boolean, checked_value: true, unchecked_value: false,
              :label => "No Work No Pay ?",
              :label_html => { class: 'form_label' },
              :input_html =>
                      {
                              :checked => selected_model_instance[:no_work_pay]
                      }
  %>

</div>