<div class="large-6 columns">

  <%= f.input :name,
              :label => "Name",
              label_html: { class: 'form_label' },
              :input_html =>
                      {
                              :value => selected_model_instance[:name],
                              :'data-parsley-trigger' => 'keyup',
                              :'data-parsley-maxlength' => 64
                      }
  %>

  <%= f.input :value,
              :label => "Value",
              label_html: { class: 'form_label' },
              :input_html =>
                      {
                              :value => selected_model_instance[:value],
                              :'data-parsley-trigger' => 'keyup',
                              :'data-parsley-maxlength' => 64
                      }
  %>

  <%= f.input :constant_type,
              :label => "Constant Type",
              label_html: { class: 'form_label' },
              :input_html =>
                      {
                              :value => selected_model_instance[:constant_type],
                              :'data-parsley-trigger' => 'keyup',
                              :'data-parsley-maxlength' => 128
                      }
  %>

  <div class="form-block" style="float: left; width: 50%;">
    <div class="form_label"> Date of Registration </div>
    <input type="date" name="<%= controller_path %>[date_of_implementation]" value=<%= selected_model_instance[:date_of_implementation] %>>
  </div>
  <hr style="visibility: hidden">

  <%= generic_form_remark_field(f, selected_model_instance[:remark]) %>
</div>