<section class='small-10 columns'>
  <div class='mainheader'> Holiday Type Form </div>
  <div class='subdescription'> Set a Type of Holiday </div>
  <hr>
  <div class='small-6 columns generic_form'>
    <% if @selected_holiday_type[:id].present? %>
        <span class="current_edit_id">
          <%= 'Editing Holiday Type ID: ' + @selected_holiday_type[:id].to_s %>
        </span>
        <br><br>
    <% end %>

    <%
       @selected_holiday_type[:id].present? ?
               (current_method = :patch; current_action = @selected_holiday_type[:id] ) :
               (current_method = :post; current_action = 'create')
    %>

    <%=
        form_tag( {:action => current_action},
                  {:method => current_method,
                   :class => 'create_form',
                   :id => "new_holiday_type_form",
                   :"data-parsley-validate" => ""
                  },
        ) do
    %>

        <%= hidden_field_tag('holiday_type[id]', @selected_holiday_type[:id] ) %>

        <input type="text"
               required="required"
               placeholder="Name of Holiday Type"
               data-parsley-trigger = keyup
               data-parsley-maxlength = 64
               id="holiday_type_name"
               value= "<%= @selected_holiday_type[:type_name] %>"
               name="holiday_type[type_name]">

        <input type="text"
               required="required"
               placeholder="Rate of Multiplier"
               data-parsley-trigger = keyup
               data-parsley-maxlength = 64
               data-parsley-type="number"
               value= "<%= @selected_holiday_type[:rate_multiplier] %>"
               name="holiday_type[rate_multiplier]">

        <input type="text"
               required="required"
               placeholder="Rate of Overtime"
               data-parsley-trigger = keyup
               data-parsley-maxlength = 64
               data-parsley-type="number"
               value= "<%= @selected_holiday_type[:overtime_multiplier] %>"
               name="holiday_type[overtime_multiplier]">

        <input type="text"
               required="required"
               placeholder="Rate of Rest Day"
               data-parsley-trigger = keyup
               data-parsley-maxlength = 64
               data-parsley-type="number"
               value= "<%= @selected_holiday_type[:rest_day_multiplier] %>"
               name="holiday_type[rest_day_multiplier]">

        <input type="text"
               required="required"
               placeholder="Rate of Overtime and Rest Day"
               data-parsley-trigger = keyup
               data-parsley-maxlength = 64
               data-parsley-type="number"
               value= "<%= @selected_holiday_type[:overtime_rest_day_multiplier] %>"
               name="holiday_type[overtime_rest_day_multiplier]">

        No Work, No Pay? <br>
        <select name='holiday_type[no_work_pay]'
                style="width: 50%;"
                required="required" >
            <% if @selected_holiday_type[:no_work_pay] == true %>
              <option value=<%= true %> selected>YES</option>
              <option value=<%= false %>>NO</option>
            <% elsif @selected_holiday_type[:no_work_pay] == false %>
              <option value=<%= true %>>YES</option>
              <option value=<%= false %> selected>NO</option>
            <% else %>
              <option value="" disabled selected>Select if Holiday is No Work/Pay?</option>
              <option value=<%= true %>>YES</option>
              <option value=<%= false %>>NO</option>
            <% end %>
        </select>

        <br><br>
        <%= link_to( "BACK".html_safe, {:action => 'index'}, class: 'tiny button') %>
        <%=
            if @selected_holiday_type[:id].present?
              link_to( "DELETE".html_safe,
                       {:action => 'delete',
                        :id => @selected_holiday_type[:id]},
                       class: 'tiny button delete_item')
            end
        %>
        <input type="reset" class="tiny button" value="RESET" />
        <input type="submit" class="tiny button" value="SUBMIT" />

    <% end %>

  </div>
</section>