<div class="large-1 columns" ></div>
<div class="large-10 columns" >
  <div class="mainheader"> Lump Adjustment </div>
  <div class="subremark">
    Apply Lump Adjustment to Employees
  </div>
  <%= displayCollectiveResponses(); %>
  <div class="large-8 columns">
    <%= renderFormPartial("employees_selection_form") %>
    <h2 class="miniheader">Lump Adjustment of Employee</h2>
    <table class="default_table_style" id="lump_adjustment_rate_table">
      <thead>
      <tr>
        <th>ID</th>
        <th>SIGNED TYPE</th>
        <th>AMOUNT</th>
        <th>DATE OF EFFECTIVITY</th>
        <th>remark</th>
        <th>ACTIONS</th>
      </tr>
      </thead>
      <tbody>
      <% @lump_adjustments.each do |adjustment| %>
          <tr id="<%= adjustment.id %>">
            <td class="id"><%= adjustment.id %></td>
            <td class="signed_type"><%= adjustment.signed_type %></td>
            <td class="amount"><%= adjustment.amount %></td>
            <td class="date_of_implementation"><%= adjustment.date_of_implementation %></td>
            <td class="remark"><%= adjustment.remark %></td>
            <td style="text-align: center;">
              <%= link_to( sanitize("&#x2710;"), url_options = {}, options={class: "table_button", value:adjustment.id, onClick: "return false;"} ) %>
              <%= link_to( sanitize("&#x2716;"), url_options = {:action => "deleteLumpAdjustment", :lump_adjustment_id => adjustment.id, :employee_id => @employee_id }, options={class: "table_button deletable_item"}) %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <div class="large-4 columns">
    <h2 class="miniheader">Lump Adjustment</h2>
    <%= form_tag({action: :addLumpAdjustment}, multipart: true, id: "add_new_lump_adjustment_form", :"data-parsley-validate" => "" ) do %>
        <%= hidden_field_tag 'employee_id', @employee_id %>
        Lump Adjustment Identification: <br>
        <%= select_tag "lump_adjustment_id", options_from_collection_for_select(@lump_adjustments, "id", "id"), options={include_blank: "New Lump Adjustment"} %>
        Type: <br>
        <%= select_tag "signed_type", options_for_select([ "ADDITION", "DEDUCTION" ], "ADDITION") %>
        Amount: <br>
        <%= text_field_tag("amount", value = nil, options = {id:"amount", placeholder: "Amount in Peso (PHP)", :"data-parsley-type" => "number", :"data-parsley-trigger" => "keyup"}) %>
        Date of Effectivity
        <%= datetime_local_field("date_of_implementation", "",options={step:1}) %>
        remark
        <%= text_field_tag("remark", value = nil, options = {id:"remark", placeholder: "remark",:"data-parsley-trigger" => "keyup", :"data-parsley-maxlength"=>"256"}) %>
        <div class="row" align="center">
          <hr><input type="submit" class="large button" href="#" value="ADD/EDIT LUMP ADJUSTMENT"><hr>
        </div>
    <% end %>


  </div>
</div>
<div class="large-1 columns" ></div>

<script>
    $(document).ready(function()
    {
        initializeEmployeeCompensationBenefitsSelection();
        $('#lump_adjustment_rate_table').DataTable();
    });

    $("a[class='table_button']").click(function(){

        var id = $(this).attr("value");
        $("#lump_adjustment_id").val(id);
        changeLumpAdjustmentForm(id);
    });

    $("#lump_adjustment_id").change(function()
    {
        var id = $("#lump_adjustment_id").val();
        changeLumpAdjustmentForm(id);
    });

    function changeLumpAdjustmentForm(id)
    {
        var signed_type = $("tr[id="+id+"] " + "td[class=signed_type]").html();
        $("#signed_type").val(signed_type);

        var amount = $("tr[id="+id+"] " + "td[class=amount]").html();
        $("#amount").val(amount);

        var remark = $("tr[id="+id+"] " + "td[class=remark]").html();
        $("#remark").val(remark);

        var date_of_implementation = convertSQLTimeToHTML5Input ($("tr[id="+id+"] " + "td[class=date_of_implementation]").html() );
        $("#date_of_implementation_").val(date_of_implementation);
    }
</script>

<%= renderFormPartial("employees_selection_form_accompanying_js") %>