<div class="large-6 columns">
  <%= f.input :digits,
              :as => :tel,
              :label => "Digits",
              label_html: { class: 'form_label' },
              :input_html =>
                      {
                              :value => selected_model_instance[:digits],
                              :'data-parsley-trigger' => 'keyup',
                              :'data-parsley-maxlength' => 256
                      }
  %>

  <%= generic_form_remark_field(f, selected_model_instance[:remark]) %>
  <%= polymorphic_selector(selected_model_instance,'telephonable',f) %>
</div>

<div class="large-6 columns">
  <% unless wizard_activated? %>
      <% if action_name == 'show' || action_name == 'edit'%>
          <div class="form_label"> Dial Numbers on: </div>
          <hr>
          <a class="tiny button" href="tel:<%= selected_model_instance[:digits] %>">Generic</a>
          <a class="tiny button" href="viber://chats?number=<%= selected_model_instance[:digits] %>">Viber</a>
      <% end %>
  <% end %>

</div>

<%= related_models(params[:wizard_primary_model_type],params[:wizard_primary_model_id]) if wizard_activated? %>