<section class='small-10 columns'>
  <%= preheader_generic_table('Digitals','Digital Contact Details or URLs') %>
  <% begin %>
      <table class='generic_table' id='digital_table'>
        <thead>
        <tr>
          <%= generic_table_theadlink('ID','id') %>
          <%= generic_table_theadlink('URL','url') %>
          <%= generic_table_theadlink('remark','remark') %>
          <th class="actions" align="center">&nbsp;</th>
        </tr>
        </thead>
        <% if @digitals.empty? == true %>
            <%= no_records_found %>
        <% else %>
            <tbody>
            <% @digitals.each do |digital| %>
                <tr>
                  <td><%= digital[:id].upcase %></td>
                  <td><%= digital[:url] %> </td>
                  <td><%= digital[:remark] %> </td>
                  <td class="actions">
                    <%= generic_table_actions(digital[:id]) %>
                  </td>
                </tr>
            <% end %>
            </tbody>
        <% end %>
      </table>
  <% rescue => ex %>
      <%= generic_table_error(ex) %>
  <% end %>
  <%= generic_table_footer(@digitals) %>
</section>

<%=
    @stupid_chaines

%>