<section class='small-10 columns'>
  <div class='mainheader'> Rest Day Form </div>
  <div class='subdescription'> Set the Status of an Employee </div>
  <hr>
  <div class='small-6 columns generic_form'>

    <%= generic_form_edit_id_indicator(@selected_rest_day[:id]) %>

    <%
       @selected_rest_day[:id].present? ?
               (current_method = :patch; current_action = @selected_rest_day[:id] ) :
               (current_method = :post; current_action = 'create')
    %>

    <%=
        form_tag( {:action => current_action},
                  {:method => current_method,
                   :class => 'create_form',
                   :id => "new_rest_day_form",
                   :"data-parsley-validate" => ""
                  },
        ) do
    %>

        <%= hidden_field_tag('rest_day[id]', @selected_rest_day[:id] ) %>

        <br>
        Employee:
        <select name='rest_day[employee_id]'
                id='new_rest_day_employee'
                class='employee_select_field'
                required="required" >
          <option value="" disabled selected>Select Employee</option>
          <% @employees.each do |employee| %>
              <% if employee.id == @selected_rest_day.employee_id %>
                  <option value=<%= employee.id %> selected><%= employee.actor.name %></option>
              <% else %>
                  <option value=<%= employee.id %>><%= employee.actor.name %></option>
              <% end %>
          <% end %>
        </select>

        <br>
        Date of Effectivity:
        <input name="rest_day[date_of_effectivity]"
               required="required"
               step="1"
               value= <%= @selected_rest_day[:date_of_effectivity].present? ?
                                  @selected_rest_day[:date_of_effectivity].strftime('%FT%T') :
                                  Time.now.strftime('%F') %>
               type="datetime-local">

        Day:
        <select name='rest_day[day]'
                required="required" >
          <option value="" disabled <%= @selected_rest_day[:day].present? ? "" : "selected" %> >Select Day of Rest</option>
          <option value="Monday" <%= @selected_rest_day[:day] == "Monday" ? "selected" : "" %>> MONDAY </option>
          <option value="Tuesday" <%= @selected_rest_day[:day] == "Tuesday" ? "selected" : "" %>> TUESDAY </option>
          <option value="Wednesday" <%= @selected_rest_day[:day] == "Wednesday" ? "selected" : "" %>> WEDNESDAY </option>
          <option value="Thursday" <%= @selected_rest_day[:day] == "Thursday" ? "selected" : "" %>> THURSDAY </option>
          <option value="Friday" <%= @selected_rest_day[:day] == "Friday" ? "selected" : "" %>> FRIDAY </option>
          <option value="Saturday" <%= @selected_rest_day[:day] == "Saturday" ? "selected" : "" %>> SATURDAY </option>
          <option value="Sunday" <%= @selected_rest_day[:day] == "Sunday" ? "selected" : "" %>> SUNDAY </option>
        </select>

        <br><br>
        <%= generic_form_footer(@selected_rest_day[:id]) %>

    <% end %>

  </div>

  <%= renderCorePartial('employee_quick_profile') %>

</section>