<section class="small-10 columns">

  <%= generic_title('General Administration',
                    'Administrative Concerns with the Management and System') %>

  <%= overview_panel(general_administration_actors_path,'Actors', Actor) %>
  <%= overview_panel(general_administration_branches_path,'Branches', Branch) %>
  <%= overview_panel(general_administration_addresses_path,'Addresses', Address) %>
  <%= overview_panel(general_administration_telephones_path,'Telephones', Telephone) %>
  <%= overview_panel(general_administration_digitals_path,'Digitals', Digital) %>
  <%= overview_panel(general_administration_vehicles_path,'Vehicles', Vehicle) %>
  <%= overview_panel(general_administration_file_sets_path,'File Sets', FileSet) %>
  <%= overview_panel(general_administration_image_sets_path,'Image Sets', ImageSet) %>
  <%= overview_panel(general_administration_link_sets_path,'Link Sets', LinkSet) %>

</section>
