<div class='small-12 columns'>
  <div class="show_panel_header"> Contact Details </div>

  <div class='small-4 columns'>
    <div class="show_panel_division">ADDRESSES</div>
    <% if @selected_address_set.present? %>
        <% @selected_address_set.each do |address| %>
            <div class="show_panel_division">
              <%= link_to address.remark, 'https://www.google.com/maps/preview/@'+address.latitude.to_s+','+address.longitude.to_s+',10z', class: "show_panel_small_button", target: "_blank" %>
            </div>
        <% end %>
    <% else %>
        <hr><div align="center"> n/a </div><hr>
    <% end %>
  </div>

  <div class='small-4 columns'>
    <div class="show_panel_division">TELEPHONES</div>
    <% if @selected_telephone_set.present? %>
        <% @selected_telephone_set.each do |telephone| %>
            <div class="show_panel_division">
              <%= telephone.remark %> |
              <%= link_to telephone.digits, 'tel:'+telephone.digits, class: "show_panel_small_button", target: "_blank" %>
            </div>
        <% end %>
    <% else %>
        <hr><div align="center"> n/a </div><hr>
    <% end %>
  </div>

  <div class='small-4 columns'>
    <div class="show_panel_division">DIGITALS</div>
    <% if @selected_digital_set.present? %>
        <% @selected_digital_set.each do |digital| %>
            <div class="show_panel_division">
              <%= digital.remark %> <br>
              <%= link_to digital.url, digital.url, class: "show_panel_small_button", target: "_blank" %>
            </div>
        <% end %>
    <% else %>
        <hr><div align="center"> n/a </div><hr>
    <% end %>
  </div>
</div>