<section class="small-10 columns">
  <%= generic_title(@title,@subtitle) %>
  <%= generic_form_edit_id_indicator(model[:id]) %>
  <select
    class="show_model_select_field"
    required="required" >
    <option value="" disabled selected>Select or Type an Item</option>
    <% model_selections.each do |model_selection| %>
        <% if model_selection.id == model.id %>
            <option value=<%= model_selection.id %> selected >
              <%= model_selection[display_attribute_for_option] %>
            </option>
        <% else %>
            <option value=<%= model_selection.id %>>
              <%= model_selection[display_attribute_for_option] %>
            </option>
        <% end %>
    <% end %>
  </select>
  <%= render @form_location %>
</section>

<script type="application/javascript">
    $(document).ready(function()
    {
        $('.show_model_select_field')
                .selectize({sortField: 'text'})
                .change(function(){
                    var model_id = $('.show_model_select_field').val();
                    window.location.href = '/' + controller_name + '/' + model_id;
                });
    });
</script>