<section class='small-10 columns'>
  <%= generic_title('Expenses','Shows the expenses for the current month') %>
  <% table_orientation = shift_table_orientation %>
  <% begin %>
      <% @actual_report_object.expense_category.each do |c| %>
          <table class="generic_table">
            <thead>
            <tr>
              <th width="15%">Category <%= c.name %> </th>
              <th width="25%">ID</th>
              <th width="10%">Amount</th>
              <th width="25%">Remark</th>
              <th width="25%">Date of Effectivity</th>
            </tr>
            </thead>
            <% if @actual_report_object.expense_category.empty? %>
                <% raise exception %>
            <% else %>
                <tbody>
                <% c.expense_type.each do |e| %>
                    <tr>
                      <td><%= e[:category] %></td>
                      <td><%= e[:id].upcase %></td>
                      <td><%= e[:amount] %></td>
                      <td><%= e[:remark] %></td>
                      <td><%= e[:date_of_implementation] %></td>
                    </tr>
                <% end %>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>Total <%= c.expense_total %></td>
                  <td></td>
                </tr>
                </tbody>
            <% end %>
          </table>
      <% end %>
  <% end %>
  <ul class="button-group">
    <li><a href="/finance/expenses" class="button tiny">Go to Expenses</a></li>
  </ul>
</section>